[2018-05-08 09:53] smit1678 opened #222 "Look to add loading icon or fill with placeholder number for country and landing page stats"
Depending on performance of APIs, the landing page and country page stats bar does not fully populate until loaded. We could look to prefill or use a loading icon to help show that the data is loading.

Side note: could also be solved by pre-generating data to be loaded with the website.

[2018-05-08 14:07] smit1678 commented on #215
Fixed

[2018-05-08 14:07] #215 closed, assigned to smit1678

[2018-05-08 14:08] smit1678 opened #224 "Add content to volunteer page"
We have three sections in the volunteer page right now that correspond to mapping volunteers, GIS professionals, and software engineers. http://www-dev.hotosm.org/volunteer

Need to populate with additional content.

[2018-05-08 14:09] smit1678 commented on #208
Initial page added http://www-dev.hotosm.org/volunteer. Closing in preference of content ticket: https://github.com/hotosm/hotosm-website/issues/224

[2018-05-08 14:09] #208 closed, assigned to nobody

[2018-05-08 14:11] smit1678 opened #225 "Add content and layout to support programs page"
For the page, http://www-dev.hotosm.org/community/support-programs/. Need to add content and layout. This is being tracked in our content spreadsheet (see Slack). Need to add communities as a projects and then generate a layout on the support programs page.

[2018-05-08 14:11] smit1678 commented on #205
Draft page was added. Tracking content addition here: https://github.com/hotosm/hotosm-website/issues/225

[2018-05-08 14:11] #205 closed, assigned to nobody

[2018-05-08 14:14] smit1678 commented on #204
:+1: agreed by several other people and this was adjusted: http://www-dev.hotosm.org/staff/. Finalizing layout on the page and populating with new and missing staff.

[2018-05-08 14:14] #204 closed, assigned to nobody

[2018-05-08 14:14] smit1678 commented on #198
This was done :+1:

[2018-05-08 14:14] #198 closed, assigned to dakotabenjamin

[2018-05-14 09:43] ramyaragupathy commented on #222
Fixed through https://github.com/hotosm/hotosm-website/pull/220

[2018-05-14 09:43] #222 closed, assigned to nobody

[2018-05-14 09:44] ramyaragupathy commented on #191
Fixed through https://github.com/hotosm/hotosm-website/pull/220

[2018-05-14 09:44] #191 closed, assigned to nobody

[2018-05-14 10:38] brendangatens opened #230 "Task banner and Tasking Manager implementation"
A while back we discussed implementing a banner showing an urgent task from the Tasking Manager. Here’s a quick mockup of what this could be.

![task-banner](https://user-images.githubusercontent.com/1270986/39992464-ca242bb2-576a-11e8-8dd4-0ce74c99391c.png)

Some initial ideas were to manually add this whenever a new task was deemed urgent, or to automatically display the most recently posted tas

[2018-05-14 10:52] smit1678 commented on #146
Initial review done, content added, and country selector working. Closing this out in preference for other tickets about specific updates.

[2018-05-14 10:52] #146 closed, assigned to brendangatens

[2018-05-14 10:53] smit1678 commented on #145
We've updated the layout and fixed the mail to link. Next action here is to finalize content.

[2018-05-14 10:58] smit1678 commented on #144
This page has been reviewed and update with content, links, etc: http://www-dev.hotosm.org/community/. Calendar integration broken out into separate ticket.

Closing this out in preference for new tickets on specific updates.

[2018-05-14 10:58] #144 closed, assigned to brendangatens

[2018-05-14 10:59] smit1678 opened #231 "Filter map view on impact areas page"
On impact area pages, it would be helpful to filter the countries shown to have projects on the map to only those within the impact area.

http://www-dev.hotosm.org/impact-areas/refugee-response/

[2018-05-14 11:00] smit1678 commented on #141
Initial work is online and completed. Added a task related to filtering the map view based on impact area, https://github.com/hotosm/hotosm-website/issues/231.

Closing this out in preference for new tickets based on specific updates.

[2018-05-14 11:00] #141 closed, assigned to dakotabenjamin

[2018-05-14 11:01] smit1678 commented on #143
Initial content is online but additional tools need to be added and linked: http://www-dev.hotosm.org/tools-and-data

[2018-05-14 11:04] smit1678 opened #232 "Documenting styles and layout components"
Marking as a to do to create resources for style and branding across the site -- a style guide. Colors, fonts, and logos are listed here for now: https://github.com/hotosm/hotosm-website/wiki/Colors,-Fonts,-and-Logo

[2018-05-14 11:05] smit1678 commented on #131
We added a short page documenting font, colors, and logo currently in use: https://github.com/hotosm/hotosm-website/wiki/Colors,-Fonts,-and-Logo.

For future reference, there is a http://www-dev.hotosm.org/playground endpoint that shows styles that can be reused. Opened up a new ticket to track the style guide development. https://github.com/hotosm/hotosm-website/issues/232

[2018-05-14 11:05] #131 closed, assigned to nobody

[2018-05-14 11:05] #130 closed, assigned to nobody

[2018-05-14 11:05] #129 closed, assigned to nobody

[2018-05-14 11:08] smit1678 commented on #122
This was implemented by using a link to a Google doc: https://www.hotosm.org/annual_report. New website will not have a size restriction.

[2018-05-14 11:08] #122 closed, assigned to nobody

[2018-05-14 11:09] #125 closed, assigned to brendangatens

[2018-05-14 11:13] smit1678 opened #233 "Add community grantees"
Need to add a project for each of the community grantees. Tracking the list here: https://docs.google.com/spreadsheets/d/1CecktuqEGuCUcNxK8FBWfCXbfzCppNNaH9qsBR7ag7o/edit#gid=2137442338

[2018-05-14 11:14] smit1678 opened #234 "Add community grantees project cards and content to Support Programs page"
http://www-dev.hotosm.org/community/support-programs/

[2018-05-14 11:19] smit1678 commented on #201
:+1: for now I suggest we go with creating a Press section within our Contact page that has clear links and information: http://www-dev.hotosm.org/contact.

I reworded the ticket to capture this better. We've already removed the Journalists link in the Get Involved page since that is geared towards the different ways to volunteer. Next action is to rework the content on the Contact page to outline

[2018-05-14 13:24] smit1678 opened #236 "Add missing projects and connect to impact areas"
Review our [impact areas sheet](https://docs.google.com/spreadsheets/d/1CecktuqEGuCUcNxK8FBWfCXbfzCppNNaH9qsBR7ag7o/edit#gid=1313512021) and add missing projects.

[2018-05-17 17:05] ramyaragupathy commented on #221
Addressed through https://github.com/hotosm/hotosm-website/pull/237

[2018-05-17 17:05] #221 closed, assigned to ramyaragupathy

[2018-05-22 08:13] ramyaragupathy commented on #128
## Country page data requirements:
@smit1678 - Using this ticket to outline the data requirements for country pages. This is just the first version, I'll keep updating this ticket with details and prototype screenshots as we brainstorm.

TM can fetch all mapping projects and their centroids for now. We need to look at a way to bundle community projects as well. In addition to the centroids from TM

[2018-05-24 14:49] ramyaragupathy commented on #128
## Project pages

![image](https://user-images.githubusercontent.com/12103383/40490459-31f8acb0-5f89-11e8-8c0e-48ff3b78c074.png)

**Stats**

- Mappers involved
- Area covered by the project
- Edit count
- Feature Count

**Map**

  - Current project area highlighted
  - Option to get back to country level view of all projects
  - Tile active in the last 24 hrs
  - Tile opacity can be adjusted based

[2018-05-24 22:27] russdeffner commented on #143
Added HOT ID Curriculum in Siteleaf; otherwise looks good.

[2018-05-24 22:30] russdeffner commented on #143
Actually guess I have one questionable: Field Papers?

[2018-05-27 15:53] ramyaragupathy commented on #128
## Landing page

**Stats**

  - Total number of projects
  - Total num of countries
  - Total area covered
  - Total edits
 -  mappers online
  - tasks Mapped

**Map**
- Projects active in the last 24 hrs shown as a pulse
- A heat map of all projects. Current heatmap in the gif below.
- We could have two tabs: country view & heat map view

![pulse](https://user-images.githubusercontent.com/1210338

[2018-05-28 02:49] ramyaragupathy commented on #187
Capturing page layout ideas in #128:

- [Landing page](https://github.com/hotosm/hotosm-website/issues/128#issuecomment-392342072)
- [Country page](https://github.com/hotosm/hotosm-website/issues/128#issuecomment-390902379)
- [Project page](https://github.com/hotosm/hotosm-website/issues/128#issuecomment-391742794)

[2018-05-28 03:46] ramyaragupathy commented on #128
## Summing up Data Requirements
@smit1678  - Striking out those directly available as part of TM API

**Landing page**
  - ~Mappers Online~
  - ~Tasks Mapped~
  - ~Total Mappers~

**Country level**
- ~Centroid of projects~
- Project count for each country
- Yearwise project list
- Feature level edit count, would like to know the most mapped feature
- Mapper count (with expertise level, we could us

[2018-05-28 13:57] smit1678 commented on #224
@PaulUithol did a first pass, I did a second pass. Would be good to add a button for the GIS professionals section to point them to a resource or contact beyond just the job listing.

[2018-05-28 13:59] smit1678 commented on #233
Approved community grantees have been added.

[2018-05-28 13:59] #233 closed, assigned to nobody

[2018-05-28 14:11] smit1678 commented on #143
yeah let's add

[2018-05-28 14:16] smit1678 commented on #143
FYI, I updated the language at the top of the page to better fit the purpose of that section: Tools we use instead of Our tools. We might want to update that section to be Tools we maintain and only list the tools that are actively developed, and then list all the tools we use in the subsequent sections.

<img width="555" alt="humanitarian openstreetmap team tools data 2018-05-28 15-14-45" src="ht

[2018-05-29 15:43] russdeffner commented on #115
This is resolved in new website.

[2018-05-29 15:43] #115 closed

[2018-05-29 19:20] smit1678 opened #242 "Add links to tools on Tools page"
Create links to tools within sections.

<img width="707" alt="humanitarian openstreetmap team tools data 2018-05-29 20-18-17" src="https://user-images.githubusercontent.com/796838/40680293-851eac3a-637d-11e8-95a7-9427fb2deaa9.png">

[2018-05-29 22:16] #224 closed, assigned to nobody

[2018-05-29 22:17] smit1678 commented on #234
Renamed to Community Grants: http://www-dev.hotosm.org/community/community-grants/

[2018-05-29 22:17] #234 closed, assigned to nobody

[2018-05-29 22:18] smit1678 commented on #225
Content added and rename to Community Grants: http://www-dev.hotosm.org/community/community-grants/.

Open new tickets for improvements.

[2018-05-29 22:18] #225 closed, assigned to nobody

[2018-05-30 14:29] #242 closed, assigned to nobody

[2018-05-30 14:49] smit1678 commented on #201
Initial content added:

<img width="972" alt="humanitarian openstreetmap team contact 2018-05-30 15-38-52" src="https://user-images.githubusercontent.com/796838/40727341-98c012ae-641f-11e8-8768-0baeb226d20f.png">

I think this section could be improved and so marking this as a todo to revisit.

[2018-05-30 15:05] #167 closed, assigned to nobody

[2018-05-31 16:44] RebeccaFirthy opened #247 "Font / formatting issues on the migrated blogs (and possibly other text)"
Example: http://www-dev.hotosm.org/projects/legit_supporting_decentralization_in_liberian_cities - font in Calibri

[2018-05-31 16:44] RebeccaFirthy commented on #247
@smit1678 tagging you just in case i put this in the wrong place..

[2018-05-31 17:47] TylerRadford opened #248 "Create one or more pages for HOT's membership in global consortia"
Missing Maps
Global Partnership for Sustainable Development Data
Global Alliance for Urban Crises

Need to figure out where this content gets placed

[2018-05-31 22:58] TylerRadford commented on #236
There are three remaining and have asked owners to add them

[2018-05-31 23:01] TylerRadford opened #249 "Can we display thumbnail of attachments (e.g. a PDF)"
Example: http://www-dev.hotosm.org/projects/dam-safety-and-public-protection-through-inasafe/

See the attachment on this page. Can the thumbnail of the front cover of the PDF be displayed?
Or shall I manually create an image, upload that and link to the image?

[2018-05-31 23:55] RebeccaFirthy opened #250 "Create a page for Missing Maps on the website"
Not sure quite where it will go, but can it link to:
- Some project examples
- The corporate volunteering page
- The Missing Maps website

[2018-06-01 14:07] TylerRadford opened #251 "Style the map hover-over pop up text and add preview of country info"
Map hover-over text on "Our Work" page is basic Arial with limited styling

Can we make it prettier?
Could we also reveal a preview of the # of voting members or # of projects in that country or some other quick snapshot of what's happening in the country?

[2018-06-01 16:09] TylerRadford opened #252 "Differentiate between countries with active projects vs. completed projects on map"
Differentiate between countries with active projects vs. completed projects on map

Right now we look like we have projects in many many countries, which isn't bad necessarily, but is not really accurate since many of them ended several years ago. Perhaps a third color could be added to differentiate between active and completed.

[2018-06-01 17:45] ramyaragupathy commented on #231
Fixed through https://github.com/hotosm/hotosm-website/pull/241

[2018-06-01 17:45] #231 closed, assigned to ramyaragupathy

[2018-06-01 21:13] TylerRadford opened #253 "Alphabetize staff list and add Turkey and Botswana headers"
http://www-dev.hotosm.org/staff/

Alphabetize staff list within each country and add Turkey and Botswana headers

[2018-06-04 05:57] mataharimhairi commented on #128
**Landing Page // Feedback**
* Stats: total edits - might be more useful to viewer to see total buildings, roads and waterways mapped. This information could be pulled from OSM Analytics.
* Map: heat map view - not sure if the heatmap is needed, keeping it as simple as possible with all the necessary information is best. Otherwise can be confusing for users regarding the difference.

**Country Pag

[2018-06-04 09:28] brendangatens commented on #252
@ramyaragupathy had the idea of adding a pulsing marker to each country with an active project.

![40584606-78e884bc-61c1-11e8-847a-f9fbd457d5a7](https://user-images.githubusercontent.com/1270986/40909171-d629b324-67e0-11e8-865b-9007b49e5a51.gif)

We had also discussed using map markers for any country with a project to help highlight smaller countries like Haiti.

<img width="1278" alt="screensho

[2018-06-04 12:55] TylerRadford commented on #252
Great - I think it could work, my only concern with points is that they may be misleading as to where we are actually working, where the country level color coding keeps things sufficiently vague. Take Indonesia for example. Our office and much of our work is in the island of Java but the marker shows up in Sulawesi island.

Is there some other means to accomplish the same goal around highlighting

[2018-06-04 12:55] TylerRadford commented on #253
Also alphabetize the list of countries with Global at the bottom

[2018-06-04 13:12] smit1678 opened #254 "Organize people listing within repo/Siteleaf"
We just have a people folder. It might be helpful to have folders to organize staff, voting members, board.

[2018-06-04 13:12] TylerRadford opened #255 "Add instructions/guidance text to new content creation forms"
For example, tips on naming convention for new projects
Or add a default name (using a naming convention) when a new project is created

[2018-06-04 13:51] TylerRadford opened #256 "Prevent the same project from displaying twice on impact area landing page"
If a project is displayed as a highlighted project, could we avoid showing it again in the section below "All Impact Area x Projects"

![image](https://user-images.githubusercontent.com/9853903/40921114-93b81d04-67dc-11e8-88f9-ce9f84eac0a4.png)

[2018-06-04 15:33] brendangatens commented on #256
I can fix this. I already did so on country pages but didn't follow through on Impact Area pages.

The same thing is happening on the landing page, with a difference cause though. It looks like projects started to show in both _Highlighted projects_ and _All projects_ once we implemented sorting the latter by date: https://github.com/hotosm/hotosm-website/commit/f544c44a8ddac4b77b3b6964617e1228d44

[2018-06-05 18:25] #253 closed, assigned to nobody

[2018-06-05 20:42] TylerRadford commented on #236
METEOR
GED4ALL
Uganda Open Cities mapping

[2018-06-06 22:33] TylerRadford opened #261 "Sort voting member list by first name asc"
http://www-dev.hotosm.org/voting-members

[2018-06-07 11:31] brendangatens commented on #252
Could we manually overwrite the coordinates for the map markers if we think a few of the default centered markers are misleading?

If we were to add country names at that default zoom level, I think the map would be overcrowded and we'd have overlapping labels. We could consider adding country names—or other relevant labels/details—as the user zooms in.

[2018-06-07 18:20] #143 closed, assigned to nobody

[2018-06-07 19:32] TylerRadford opened #265 "'Website' metadata field on Projects isn't exposed"
Need to expose 'Website' metadata field in sidebar of Project pages

[2018-06-08 10:23] smit1678 opened #267 "Horizontal scroll on mobile"
@brendangatens Seeing a horizontal scroll on mobile (both Firefox and Safari). Looks like it's related to the Impact Area picture?

![img_3210](https://user-images.githubusercontent.com/796838/41153313-442883fc-6b0e-11e8-9ed6-ae8d59b995ab.PNG)

[2018-06-08 13:07] smit1678 opened #269 "Other mobile fixes"
Short check list of areas that need to be tweaked:

- [x] Contact page
- [x] Jobs page (remove side bar?)
- [x] Community and Organization sub nav list
- [x] Tools and data Tools we use list

[2018-06-08 14:04] TylerRadford opened #270 "On People pages, add link to TM and Missing Maps profiles"
On People pages, link to OSM profile directs to wrong site with 404

We could have it go to multiple places:
https://tasks.hotosm.org/user/[userID] "HOT Mapping Profile"
http://www.missingmaps.org/users/#/[userID] "Missing Maps Profile"

[2018-06-08 14:45] smit1678 opened #271 "Add open source section to What We Do"
Add another section about open source tool development

[2018-06-08 15:42] TylerRadford opened #272 "Display one or more partner logos on project pages"
Would be nice (required in some cases) to display partner logo on each Project page.

Note that projects  can have multiple partners and we need to resize all logos to look similar as well as manually adjust the sequence in which they appear.

[2018-06-08 17:16] smit1678 opened #274 "Fix voting member count for countries"
Currently counting all people, not only voting members

[2018-06-08 18:22] vannicer opened #275 "Add new link for updated Uganda office address"

[2018-06-08 18:27] vannicer opened #276 "Update to 2018 video for Donate page"
YouTube link: https://www.youtube.com/embed/fF_Ai5GBASc

[2018-06-08 18:35] vannicer opened #277 "Anchor link for GIS Professional on "Get Involved""
Not high priority, but anchor link on Get Involved page for GIS Professional actually goes below that title (title not visible)

[2018-06-08 18:42] TylerRadford commented on #150
agree - can we display a little tiny photo credit text under the project header images?
maybe a fixed list of values to select from for license type, which gets converted to text and displayed next to the photo source?

[2018-06-08 21:14] TylerRadford opened #278 "Map link metadata field on Country pages isn't displayed/exposed"
Map link metadata field on Country pages isn't displayed/exposed

[2018-06-08 21:37] RebeccaFirthy opened #279 "Bullets and numbers don't display properly"
When trying to create numbered lists, they appear as bullets. They also appear in black (rest of text is grey), and I can't seem to create space after the list. Screenshots from website and siteleaf attached.

![screen shot 2018-06-08 at 15 52 49](https://user-images.githubusercontent.com/25038632/41182159-1922a8d2-6b3a-11e8-97e1-7f60b4a300c9.png)
![screen shot 2018-06-08 at 15 52 54](https://user

[2018-06-08 22:03] TylerRadford opened #280 "When project names change...stuff starts breaking"
![image](https://user-images.githubusercontent.com/9853903/41182990-2ca7618e-6b46-11e8-80d0-d1c9b95ac41e.png)

For example, the "What We Do" page links to specific projects. It seems to link based on the project name -- when these change, the link breaks. In the screenshot above, the project listed no longer exists by that name.

[2018-06-10 19:54] smit1678 commented on #280
Yeah, this isn't 100% stable. @brendangatens what do you think our options are here to add some integrity of the linking?

[2018-06-10 19:56] smit1678 commented on #271
Added

[2018-06-10 19:56] #271 closed, assigned to nobody

[2018-06-10 20:37] smit1678 commented on #279
@RebeccaFirthy Yeah if you put a line between numbers, then this should work. Something like:

[code]

@brendangatens is there a way to factor for both of these scenarios? I think the reasoning is that Siteleaf puts in a `<p>` tag in one of the scenarios and we're only styling that one?

[2018-06-10 20:49] #261 closed, assigned to nobody

[2018-06-10 20:53] #274 closed, assigned to nobody

[2018-06-10 21:16] smit1678 opened #285 "Projects hidden for View All Projects"
<img width="1381" alt="humanitarian openstreetmap team our work 2018-06-11 00-04-30" src="https://user-images.githubusercontent.com/796838/41206334-1399c8fa-6d0b-11e8-9286-407465c73c4d.png">

[2018-06-10 21:28] smit1678 opened #286 "IE cleanup and add disclaimer"
We have some IE browser issues (11 and 9 tested briefly). @brendangatens what do you think of the following to help:

- [ ] add a modern browser banner
- [ ] hit low hanging items on ie11 and ie9 (we still get some traffic from these browsers)
  - [ ] front page buttons
  - [ ] image sizes
  - [ ] nav and footer icons

[2018-06-10 22:32] smit1678 commented on #145
This has been updated. @RebeccaFirthy let's pick which projects show up on the sections.

[2018-06-10 22:32] #145 closed, assigned to RebeccaFirthy

[2018-06-10 22:35] smit1678 opened #287 "Map performance"
Load speed could be improved.

[2018-06-11 07:04] smit1678 commented on #270
@TylerRadford I think the link needs to be the full link within the metadata instead of just the username.

I like the idea of linking to TM and MM profiles as well.

[2018-06-11 12:09] #269 closed, assigned to brendangatens

[2018-06-11 14:26] ramyaragupathy opened #292 "Landing page viz changes"
With reference to https://github.com/hotosm/hotosm-website/issues/128#issuecomment-392342072 two map related tasks can be outlined for landing page:

- pulsating dots
- heat map of all TM projects

### Pulsating dots
🎯 Objective: to give a sense of active areas

- a separate json of TM projects active in the last 24 hours will be generated using [stats-collector](https://github.com/hotosm/stats-co

[2018-06-11 15:30] ramyaragupathy commented on #292
@brendangatens - You can use this [allProjects.json](https://gist.github.com/ramyaragupathy/10eb71ea1095ae7caf60c23cee437f1f) for heatmap testing.
For pulsating points, here's a [codepen](https://codepen.io/ramyaragupathy/pen/qKrYLJ) based on prototype example.

[2018-06-11 16:27] smit1678 opened #293 "CDN in front of legacy images"
We're serving legacy images directly from S3. Not a huge issue but it may be helpful to put these on a CDN.

[2018-06-11 17:00] TylerRadford opened #294 "What We Do page, OpenStreetMap block external links don't appear"
Links no longer displayed on "Working to support and build OpenStreetMap" block

![image](https://user-images.githubusercontent.com/9853903/41245875-4b7df4e6-6d77-11e8-9e8a-f237f27ead16.png)

[2018-06-11 17:05] TylerRadford opened #295 "Clicking on "News" in top nav directs to /Updates"
Hi, can we match up the top nav menu items with their associated directories?
Right now clicking "News" brings you to /Updates instead of /News
![image](https://user-images.githubusercontent.com/9853903/41246128-1a61600e-6d78-11e8-99fb-647b4428fa9a.png)

[2018-06-12 02:25] vannicer opened #299 "http://www-dev.hotosm.org/projects/nepal_2015_earthquake_response"
Weird spacing between description and paragraph, not shown in edit page markup

[2018-06-12 02:28] vannicer opened #300 "OpenStreetMap Sierra Leone page - 404 error"
http://www-dev.hotosm.org/projects/openstreetmap-sierra-leone/

[2018-06-12 09:22] brendangatens commented on #295
We had a discussion about this a while back and ended up going with **News** as the most appropriate label and nav item for this section. All blog posts on the old site live under the `/updates` directory, however. So before changing the url to `/news` we'll have to create redirects from `/updates`, and inform search engines of the change.

[2018-06-12 12:20] smit1678 commented on #299
Fixed

[2018-06-12 12:20] #299 closed, assigned to nobody

[2018-06-12 12:22] smit1678 commented on #295
Yeah, we had flagged this back in March as a item to think about https://github.com/hotosm/hotosm-website/issues/168

[2018-06-12 12:27] smit1678 commented on #300
@vannicer Where did you click this link from? I can't find this as a project.

[2018-06-12 12:27] #285 closed, assigned to brendangatens

[2018-06-12 12:28] #279 closed, assigned to brendangatens

[2018-06-12 12:28] #267 closed, assigned to brendangatens

[2018-06-12 12:29] #276 closed, assigned to TylerRadford

[2018-06-12 12:31] vannicer commented on #300
@smit1678 pulled from "complete page listing" spreadsheet we've been working off of.

[2018-06-12 12:51] smit1678 commented on #300
Ah ok thanks. It looks like it was deleted: https://github.com/hotosm/hotosm-website/commit/f5661db594685d23a9b5cba04f6cb8cad7d7a488. And I didn't update the content list so this should be ok for now.

[2018-06-12 12:51] #300 closed, assigned to nobody

[2018-06-12 12:59] #294 closed, assigned to nobody

[2018-06-12 13:13] TylerRadford commented on #278
![image](https://user-images.githubusercontent.com/9853903/41292447-9d42eefe-6e20-11e8-9a1e-396d02774fc1.png)

I assume the "Map Link" field refers to the office location's address.
But after entering a URL here, I don't see it exposed anywhere. I would expect it to show up on the map in the header or on the right side under "Visit".
![image](https://user-images.githubusercontent.com/9853903/41292

[2018-06-12 13:43] TylerRadford opened #304 "Add optional logo for projects"
Some projects have a project logo that we'd like to display. Could be in the sidebar for the project. The logo wouldn't have any text around it or need to have any other functionality besides being displayed.

[2018-06-12 15:36] TylerRadford opened #306 "Add Top Aligned image flag to Feature Image on News Posts"
Add Top Aligned Image styling and flag to Feature Image on News Posts
![image](https://user-images.githubusercontent.com/9853903/41300873-c70bac3a-6e34-11e8-9bbb-400870618dc0.png)

[2018-06-13 15:14] smit1678 opened #314 "Dead link"
Found a dead link googling some older work: https://www.hotosm.org/fr/node/87

[2018-06-13 18:10] TylerRadford commented on #230
This is great. I'd vote for turning this on/off manually.
And perhaps making it a bit shorter/take up less space on page.
Urgent mapping is the most common use case, but we have other types of uses for this as well - end of year funding appeal for example.

[2018-06-14 10:12] #306 closed, assigned to nobody

[2018-06-14 10:15] brendangatens opened #317 "Design for missing items on homepage news module"
The below screenshot shows what the homepage news module looks like when:

- [ ] The first post contains no feature image
- [x] A post has no country attached to it
- [x] A post has no person (author) attached to it

All of these possibilities need to be accommodated for.

<img width="1279" alt="screenshot 2018-06-14 10 34 13" src="https://user-images.githubusercontent.com/1270986/41406386-296693c

[2018-06-14 11:40] smit1678 commented on #317
👍 agreed, thanks @brendangatens

[2018-06-14 14:17] dakotabenjamin opened #318 "Job dead link"
https://www.hotosm.org/job/finance_and_administrative_officer/2017

This was on a pdf for a job application.

[2018-06-14 18:08] IknowJoseph opened #319 "https://hotosm.org redirect required"
http://www.hotosm.org redirects to https://www.hotosm.org (301)
http://hotosm.org redirects to https://www.hotosm.org (301)
https://hotosm.org fails

[2018-06-14 18:25] IknowJoseph commented on #319
An example of a page that features an affected link: https://www.hotosm.org/updates/2016-05-05_hot_annual_meeting_and_election_results

We can edit that post :) but there may be external links we can't update.

[2018-06-15 11:44] ramyaragupathy opened #320 "Integrate stats-collector data"
Pull in data from `[stats-collector](https://github.com/hotosm/stats-collector)` output on S3 for:
- home page
- country pages

This is to reduce the current stats lag.

cc @smit1678

[2018-06-15 13:21] smit1678 commented on #319
@IknowJoseph thanks for this catch. We'll handle this via AWS and point https://hotosm.org --> https://www.hotosm.org.

cc @dakotabenjamin

[2018-06-18 06:55] ramyaragupathy commented on #320
Instead of having to pull the file from S3 each time, which increases the request count to S3 file & affect billing process, checking in the new files to [github directly using lambda](https://github.com/hotosm/stats-collector/commit/08c1a59c064973a52d92060951f736d95447686b). So starting 12:00AM UTC, two files - `aggregatedStats.json` and `lastActive.json` are checked in once every 6 hours. In a d

[2018-06-19 17:17] #304 closed, assigned to nobody

[2018-06-19 17:19] TylerRadford opened #324 "Impact area page: countries on map don't match countries on projects"
https://www.hotosm.org/impact-areas/refugee-response/
Only Turkey and Uganda are shaded on the map on the top of page
I expected to also see South Sudan, Syria, and France shaded in the map

![image](https://user-images.githubusercontent.com/9853903/41613365-6246603a-73c3-11e8-93ed-8945fc1a59ee.png)

[2018-06-19 17:54] smit1678 commented on #324
@TylerRadford We'll need to tag those projects with those countries, I suspect those projects are not tagged with those countries.

[2018-06-19 20:38] smit1678 commented on #324
Quick follow up, projects are tagged with Syria and South Sudan as countries and so there is another issue at play here that we need to investigate.

[2018-06-20 12:55] willemarcel commented on #324
Pushed a fix in https://github.com/hotosm/hotosm-website/pull/325

[2018-06-20 14:39] russdeffner commented on #251
Related to this, it doesn't seem the country pages that have voting members has any way to find who those members are. Even a link to the voting members page would help, ideally we could show the profile preview on the country pages (i.e. if you want to contact a member in your country, how would you find them?)

[2018-06-22 09:18] ramyaragupathy opened #327 "Provide both OSM & HOT stats for country page"
Once stats-collector data is integrated, country pages will draw numbers from TM projects. Present stats is applicable for the entire OSM mapping activity within the country. Per chat w/ @smit1678 it'd be nice to have both the sources integrated within the stats bar, such that the HOT reach within a community is captured.

![image](https://user-images.githubusercontent.com/12103383/41768715-a81ca6

[2018-06-25 11:04] #324 closed, assigned to nobody

[2018-06-29 18:12] ramyaragupathy commented on #320
Fixed through #322

[2018-06-29 18:12] #320 closed, assigned to ramyaragupathy

[2018-07-02 09:45] smit1678 commented on #319
Ok, this has been fixed. Here's what I did:

- set up redirect all request on `hotosm.org` bucket
- put a Cloudfront deployment in front of S3 bucket to pass both http and https traffic to `hotosm.org`
- now all `hotosm.org` traffic is redirected to `www.hotosm.org`.

We can get more detailed in how we handle all our redirects but for now we're redirecting all traffic. https://docs.aws.amazon.com/

[2018-07-02 09:45] #319 closed, assigned to nobody

[2018-07-03 09:28] brendangatens commented on #292
One thing I don’t want to complicate, is using the map as a way to navigate to a country page. I wonder if we can use tabs—as you’ve suggested—but with the two options being **Country view** and **Project view**.

![country-view](https://user-images.githubusercontent.com/1270986/42211009-556c50e4-7eaa-11e8-8338-68eedba89af7.png)

**Country view** would work in a similar manner to what we already h

[2018-07-03 16:05] vannicer opened #331 "Annual Reports"
Downloads page has 990s but not previous annual reports in GitHub repo

[2018-07-05 05:07] ramyaragupathy commented on #327
This is done through #329. For now OSM stats are pulled directly from Missing Maps API, this needs to be integrated with stats-collector. Blocker being API response time. Tracking this in a separate ticket

[2018-07-05 05:07] #327 closed, assigned to nobody

[2018-07-06 07:30] ramyaragupathy commented on #292
This design with tab view looks great @brendangatens. I need to modify the last active project generation a bit. Could you please share the country centroid file that you're using for the map?  Accordingly I can modify the data fetch for the landing page.
Also agree with your point on heat map, my overall idea behind the heatmap was to keep it different from the map view in tasking manager page
![

[2018-07-06 07:51] ramyaragupathy opened #333 "Country page: load project centroids on map"
From https://github.com/hotosm/hotosm-website/issues/128

While selecting country level overview, map view will indicate the centroid of all the tasking manager projects within that country. There will be options to:

- [x] Jump to the respective project tasking manager page, and

- [x] Filter projects across different years.

cc @brendangatens @smit1678

[2018-07-06 08:01] ramyaragupathy opened #334 "Country page: Integrate OSM Community Index Resources"
https://github.com/osmlab/osm-community-index

cc @smit1678

[2018-07-06 08:03] ramyaragupathy opened #335 "Project page: Map viz"
https://github.com/hotosm/hotosm-website/issues/128

Plugin a map in project pages to highlight the geographical coverage & let anyone visualize the progress of the project.

cc @smit1678 @brendangatens

[2018-07-06 08:04] ramyaragupathy opened #336 "Project page: List key statistics"
https://github.com/hotosm/hotosm-website/issues/128

Similar to the country page, there will be numbers on area covered, mappers & edit counts.

cc @smit1678

[2018-07-06 08:23] smit1678 opened #337 "Build out mapping workflow / HOT methodology page"
Explains the HOT workflow and methodology for remote mapping and field mapping. Should be linked from the Partner with Us page but also other places where the methodology needs to be explained.

[2018-07-08 07:52] tordans opened #338 "Fix rss/atom feed to hotosm.org/updates/"
*Update:* Apparently there was a feed at https://www.hotosm.org/feed/rss2 which does not work anymore. Ideally the old URLs would continue working.

---

The blog at https://www.hotosm.org/updates/ does not have an RSS feed which makes the email newsletter the only feasible way to get informed about updates.

Please add an rss feed so I can subscribe to updates.

[code]

[2018-07-08 08:09] tordans opened #339 "Redirect old URLs, cool URLs don't change"
**Update:** I see that some URLs *do* have a redirect already. So the ticket is a different one: Fix redirects that are missing.

Suggestion: Use something like google analytics to analyse what URLs generate a 404 after the website-move to find the pages most used and fix the redirects for those.

Example of a redirect that works: https://www.hotosm.org/updates/2018-05-18_hot_hosted_a_mapathon_in_

[2018-07-09 13:54] ramyaragupathy opened #340 "Move data files to separate folder"
There're multiple data outputs from stats-collector lambda that resides in the root. Instead this should go into one common folder. Refer to https://jekyllrb.com/docs/datafiles/

Data files:
- [ ] allProjects.json
- [ ] aagregatedStats.json
- [ ] lastActive.json
- [ ] activeCountries.json

cc @smit1678

[2018-07-10 13:59] smit1678 opened #343 "Reduce the number of countries shown on blog post preview"
<img width="1161" alt="humanitarian openstreetmap team home 2018-07-10 14-58-02" src="https://user-images.githubusercontent.com/796838/42514590-abff99dc-8451-11e8-9b4e-8db77fbda50d.png">

<img width="927" alt="humanitarian openstreetmap team news 2018-07-10 14-56-51" src="https://user-images.githubusercontent.com/796838/42514528-8af1a96a-8451-11e8-90e6-4a53e5a3310e.png">

[2018-07-10 14:22] smit1678 opened #344 "Create gem-based theme for future microsites"
One advantage of Jekyll is that we can publish the styles as a gem-based theme. This style/theme can then be used as the base for any new jekyll site: https://blog.github.com/2017-11-29-use-any-theme-with-github-pages/. The thinking here is that new jekyll-based microsites within HOT can leverage a starting point with the right styles.

Need to research what we need to do to get this working with

[2018-07-10 16:29] TylerRadford commented on #230
Possible use cases
1. Urgent mapping task
2. Donation campaign
(with 1. and 2. sometimes happening concurrently)
3. Major calendar event like a HOT annual Summit/conference

[2018-07-13 13:55] TylerRadford opened #347 "Country and Impact Area pages: Differentiate between Active/Completed projects"
Make some visual distinction between active and completed projects on the Country and Impact Area pages. For example: https://www.hotosm.org/where-we-work/central-african-republic/
We haven't worked in CAR in 4-5 years - we should be clear about this including where it says "Central African Republic has 2 projects"

[2018-07-17 12:18] smit1678 commented on #46
Closing this out as we've moved to a Github hosted Jekyll site.

[2018-07-17 12:18] #46 closed

[2018-07-17 12:35] smit1678 commented on #339
Thanks @tordans for the comments and flagging that some URLs don't have redirects yet. The biggest issue I've seen is how the old URLs were being generated didn't fully translate over to our new format and so some still fail -- for the most part we've been trying to use the permalink item to keep the old URL instead of always relying on redirect_from. Totally agree with Cool URLs, and ones that ar

[2018-07-17 12:39] smit1678 commented on #338
👍 good call @tordans, let's get the RSS back online

[2018-07-17 12:42] smit1678 commented on #270
I updated the ticket with a new title to capture the task around adding links to TM and Missing Maps profiles.

[2018-07-17 12:43] smit1678 commented on #178
This is mostly complete. Let's open up new tickets as remaining issues arise.

[2018-07-17 12:43] #178 closed, assigned to nobody

[2018-07-17 12:44] #256 closed, assigned to nobody

[2018-07-17 12:44] smit1678 commented on #256
This was fixed.

[2018-07-17 12:46] smit1678 commented on #247
👍 this was fixed for some of the more recent blogs but some issues remain on older blog posts.

[2018-07-17 12:46] #247 closed, assigned to nobody

[2018-07-17 12:47] smit1678 commented on #164
Wording was changed to Tools We Use. We'll look to come back to how we communicate both types when we restructure the Tools and Data page.

[2018-07-17 12:47] #164 closed, assigned to nobody

[2018-07-17 12:50] smit1678 commented on #213
Image guidelines here: https://github.com/hotosm/hotosm-website/wiki/Image-Guidelines

[2018-07-17 12:50] #213 closed, assigned to nobody

[2018-07-17 12:51] smit1678 commented on #212
Instructions for managing content are on the wiki. A good start is here: https://github.com/hotosm/hotosm-website/wiki/How-to-update-your-profile-or-draft-a-blog-post

[2018-07-17 12:51] #212 closed, assigned to nobody

[2018-07-17 12:55] smit1678 commented on #127
Closing this out since we've implemented the initial content on the site for launch. We'll open up new individual tickets to track content updates and new content.

[2018-07-17 12:55] #127 closed, assigned to nobody

[2018-07-17 12:59] smit1678 opened #349 "Organize and archive wiki"
We have some new and old content on the wiki. Would be great to archive old content related to the previous website design and structure the new content so it is easily navigable. We can probably do this with a custom sidebar and footer.

[2018-07-17 12:59] smit1678 commented on #123
Closing this out. Final todo here is to organize and archive older wiki pages: https://github.com/hotosm/hotosm-website/issues/349

[2018-07-17 12:59] #123 closed, assigned to nobody

[2018-07-17 12:59] #119 closed, assigned to nobody

[2018-07-17 13:00] smit1678 commented on #124
Closing this out as we've implemented the first version of the site. Open new tickets for new proposals.

[2018-07-17 13:00] #124 closed, assigned to brendangatens

[2018-07-17 13:00] smit1678 commented on #107
Old issue related to old version. Closing.

[2018-07-17 13:00] #107 closed

[2018-07-17 13:01] smit1678 commented on #109
Issue related to old version. Closing.

[2018-07-17 13:01] #109 closed

[2018-07-17 13:02] smit1678 commented on #118
Issue related to old version. Closing. A new search version was implemented with this ticket in mind.

[2018-07-17 13:02] #118 closed, assigned to nobody

[2018-07-17 13:03] smit1678 commented on #110
Moved to a new way we're showing projects on new version. Closing.

[2018-07-17 13:03] #110 closed

[2018-07-17 13:04] smit1678 commented on #116
We're showing links in a new way on the new version of the site. Closing.

[2018-07-17 13:04] #116 closed

[2018-07-17 13:04] smit1678 commented on #112
Issue related to old version. Closing.

[2018-07-17 13:04] #112 closed

[2018-07-17 13:04] smit1678 commented on #120
Issue related to old version. Closing.

[2018-07-17 13:04] #120 closed, assigned to nobody

[2018-07-17 13:05] smit1678 commented on #111
A version of this was implemented on the new website.

[2018-07-17 13:05] #111 closed

[2018-08-03 04:04] smit1678 commented on #338
Finally dug into this and realized that we had already set up `jekyll-feed` here: https://github.com/hotosm/hotosm-website/blob/gh-pages/_config.yml#L147. We are generating a `feed.xml` at: https://www.hotosm.org/feed.xml.

@tordans any reason why we would want to put the feed under `/updates` instead of at the root level? Also is the feed.xml not working for your reader?

[2018-08-03 04:11] smit1678 commented on #338
Update: I think this will help with discoverability: https://github.com/hotosm/hotosm-website/pull/350

[2018-08-06 04:48] ramyaragupathy commented on #292
Live through https://github.com/hotosm/hotosm-website/pull/346

[2018-08-06 04:48] #292 closed, assigned to nobody

[2018-08-09 16:08] TylerRadford opened #352 "Fix formatting on blogs on homepage with multiple authors"
Add space and comma (or something else similar) between author names.
![image](https://user-images.githubusercontent.com/9853903/43911225-faa392f4-9bcc-11e8-86ad-b714243726d5.png)

[2018-08-17 22:53] PaulUithol opened #354 "Unordered list items nested inside an ordered list get wrong list styling applied"
See below; needs an additional selector on `ol ul li` so these list items don't get decimal styling applied.

![image](https://user-images.githubusercontent.com/670670/44291773-d8b42b80-a280-11e8-8449-6f38296f5a51.png)

[2018-08-20 09:09] smit1678 commented on #352
Thanks for the fix @ramyaragupathy

[2018-08-20 09:09] #352 closed, assigned to nobody

[2018-08-21 10:01] ramyaragupathy opened #355 "Hover interaction on our-work page is enabled only on tab switch"
![hover](https://user-images.githubusercontent.com/12103383/44395311-249ff280-a557-11e8-96ea-c06b3cb215ff.gif)
Thanks for noticing this @smit1678

[2018-08-21 14:26] russdeffner opened #357 "Newsletter Archives"
There should be an easily discoverable way to read old newsletters (i.e. next to "sign-up" on the homepage, have another link to "archives").

[2018-08-22 03:34] smit1678 commented on #355
Fixed, thanks @ramyaragupathy!

[2018-08-22 03:34] #355 closed, assigned to nobody

[2018-09-13 14:39] ramyaragupathy commented on #333
Marking it as done. Opening relevant tickets for other issues that is surfacing after implementation

[2018-09-13 14:39] #333 closed, assigned to nobody

[2018-09-13 14:39] ramyaragupathy commented on #333
Fixed through https://github.com/hotosm/hotosm-website/pull/351

[2018-09-13 14:45] ramyaragupathy opened #359 "Country page: Title placement"
Country title is pinned to the map centroid. This is clumsy in case of a lengthier title as it hides the project circles. What could work is have the title moved to a corner when the tab switch is made for campaign filters.

![image](https://user-images.githubusercontent.com/12103383/45495772-8c7ddd80-b791-11e8-9811-1862acc4435b.png)

[2018-09-13 14:49] ramyaragupathy opened #360 "Landing page: Unable to choose countries at the bottom of the map"
![our-work](https://user-images.githubusercontent.com/12103383/45496070-3e1d0e80-b792-11e8-8e82-ac9f80a7dfcb.gif)

Div adjustment required

[2018-09-13 14:53] ramyaragupathy opened #361 "Country page: Improve performance of dynamic info"
Would like to revisit on how best to improve the performance of the dynamic loading. May be relook at the data?

![country-info](https://user-images.githubusercontent.com/12103383/45496227-96eca700-b792-11e8-817e-baafe71f052c.gif)

![country-stats](https://user-images.githubusercontent.com/12103383/45496275-aff55800-b792-11e8-8a2b-b1a9b0b4fb42.gif)

[2018-09-13 15:32] ramyaragupathy opened #362 "Country page: Highlight member country"
Member countries are highlighted with blue strokes in landing page. However on choosing a member country, strokes theme change to red in country-page. Should we keep it similar to our-work page? I'm just looking at ways to differentiate a project/member in country-page. This could be with styling or the sidebar text.

![country-page](https://user-images.githubusercontent.com/12103383/45498580-f305

[2018-09-13 15:36] ramyaragupathy opened #363 "Country page: Improve OSM stats fetch"
OSM Stats fetch on country-page is a direct call to Missing Maps API.  Either look at ways to improve the API performance or pre fetch data with stats-collector https://github.com/hotosm/stats-collector/issues/4. Also adding that the missing maps API:
- doesn't have any rate limit and
- country stats fetch endpoint is slower than hashtag fetch

![image](https://user-images.githubusercontent.com/12

[2018-09-13 16:35] ramyaragupathy commented on #210
Implemented through https://github.com/hotosm/hotosm-website/pull/346

[2018-09-13 16:35] #210 closed, assigned to nobody

[2018-09-13 17:42] ramyaragupathy commented on #287
We need to revisit the data files from [stats-collector](https://github.com/hotosm/stats-collector). File size exceeds 1 MB and this is bound to grow in the future.

[2018-09-13 17:54] ramyaragupathy opened #364 "Country name differs in the sidebar for DRC"
Just noticed country name is different for Congo
![image](https://user-images.githubusercontent.com/12103383/45506056-d2479f80-b7ab-11e8-8909-9f4115842400.png)

[2018-09-13 17:57] ramyaragupathy opened #365 "Consistent text transformation of country names in info bar"
![image](https://user-images.githubusercontent.com/12103383/45506273-60bc2100-b7ac-11e8-8af5-2ff0b195f8bf.png)

[2018-09-20 14:39] ramyaragupathy commented on #340
Encountering a `jekyll 3.5.2 | Error:  undefined method 'start_with?' for ["_data/lastActive.json", "_data/countries.json"]:Array` error while building pages locally.

Changes made:
- created a `_data` dir at the root
- moved all the json files to `_data`
- updated `_config.yml` with `data_dir: ["_data/lastActive.json", "_data/countries.json"]`

[2018-09-27 03:41] smit1678 opened #369 "Look at adding imgbot"
One method for automating some image compression on uploaded images (if someone forgets to resize or compress their images) is to leverage imgbot from the Github Marketplace.

https://github.com/marketplace/imgbot

Let's consider adding as an option to help ensure that images are always compressed when uploaded.

[2018-10-12 07:10] ramyaragupathy opened #372 "Hide hot stats tab for null mapping campaigns"
Hot stats tab should be enabled only if there are valid mapping campaigns.
![image](https://user-images.githubusercontent.com/12103383/46853464-57b08500-ce28-11e8-88f1-0800a114f851.png)

[2018-10-12 08:28] ramyaragupathy commented on #372
Not an issue on the main website, just on my local working branch due to change in array structure

[2018-10-12 08:28] #372 closed, assigned to nobody

[2018-10-12 08:54] ramyaragupathy opened #373 "Handle countries that has HOT projects but no mapping campaigns"
Following console error for `France` which has 1 HOT project and 0 mapping campaigns
[code]

![image](https://user-images.githubusercontent.com/12103383/46858927-94837880-ce36-11e8-950d-f67ea5fc2227.png)

This is because feature is set to `undefined` [here](https://github.com/hotosm/hotosm-website/blob/gh-pages/js/countries-map.js#L16) and while [trying to load the data](https://github.com/hotosm/

[2018-10-15 01:51] ramyaragupathy commented on #373
Fixed through https://github.com/hotosm/hotosm-website/pull/374

[2018-10-15 01:51] #373 closed, assigned to nobody

[2018-10-15 01:52] ramyaragupathy commented on #365
Fixed through https://github.com/hotosm/hotosm-website/pull/374

[2018-10-15 01:52] #365 closed, assigned to nobody

[2018-10-15 01:52] ramyaragupathy commented on #364
Fixed through https://github.com/hotosm/hotosm-website/pull/374

[2018-10-15 01:52] #364 closed, assigned to nobody

[2018-10-15 05:49] mataharimhairi commented on #331
Added Annual Reports for 2015 and 2016. The report for 2017 still needs to be added to the website @vannicer Is this ready yet?

[2018-10-15 05:49] #331 closed, assigned to nobody

[2018-10-15 05:50] mataharimhairi commented on #318
#339

[2018-10-15 05:50] mataharimhairi commented on #314
#339

[2018-10-15 05:58] mataharimhairi commented on #275
Add the OSM link (https://www.openstreetmap.org/node/5601564057) to the '[HOT Uganda Office]' office location address on the Contact page (https://www.hotosm.org/contact).

[2018-10-15 06:03] #236 closed, assigned to PaulUithol, mataharimhairi

[2018-10-17 04:49] ramyaragupathy commented on #187
More notes from a discussion with project-managers:
https://paper.dropbox.com/doc/Project-Pages--APeOPbcw92_CsiSjf~fELti~Ag-akFMtCxVl7EPUN4lDQj4r

[2018-10-17 16:40] TylerRadford opened #378 "Create standard way to add captions to images + embedded content"
Currently italicized text immediately following an image is styled as an image caption:
`.article img + em {
font-size: 0.8125rem;
font-weight: bold;
color: #68707F;
}`

Sometimes we want to caption other types of embedded  content (e.g. a tweet) or not use this default style. Can we create an easier way for users to apply or un-apply the style? That could be applied using Markdown in Siteleaf or

[2018-10-18 16:05] dakotabenjamin opened #379 "Update Jekyll 3.5.2 -> 3.8.4"
There's a security vulnerability in one of the dependencies (ffi) that should be resolved with an update.

[ ] Ensure nothing breaks after update
[ ] Check that the `ffi` dependency is also updated

[2018-10-22 15:03] dakotabenjamin commented on #369
We should add this.
Pro:
- contributors are not generally going to optimize their own images
- we shouldn't be doing it manually
- free

Cons:
- Increases the size of the repo

Notes:
- Doesn't change actual image dimensions so wouldn't solve the issue with the participatory mapping toolkit page highlight image.

The repo size issue isn't great but is a small issue, and we should absolutely be opt

[2018-11-06 14:32] smit1678 opened #383 "Add Visualize Change to Tools page"
https://visualize-change.hotosm.org

[2018-11-19 18:15] TylerRadford opened #386 "Make HOT bylaws and Articles of Incorporation more easily visible"
https://www.hotosm.org/community/

There is a link here to HOT Bylaws under "Financials and Organization". Could we make this more visible/more easily accessible?

HOT mission, contained in our Articles of Incorporation is also missing a link.

[2018-12-15 17:17] russdeffner commented on #338
Any update to this? I realize I am totally not paying attention to our blog without the RSS feed.

[2018-12-18 17:40] smit1678 commented on #338
@russdeffner Thanks for the ping, yes this was fixed but we didn't close it out. The RSS feed can be found here directly: https://www.hotosm.org/feed.xml

[2018-12-18 17:40] #338 closed, assigned to nobody

[2019-01-06 09:42] michael63-osm opened #389 "Privacy page missing"
The new banner introduced for the Matomo tracking code (#387) (https://github.com/hotosm/learnosm/pull/563) refers to https://hotosm.org/privacy for information about our privacy policy. However this results in a 404 error. Either we can come up with this page quickly or we should remove this link from the tracking code.

[2019-01-07 03:00] smit1678 commented on #389
Thanks @michael63-osm, we're waiting for a final version which is being tracked here: https://github.com/hotosm/legal/pull/1. Once we have the final version ready, we'll then add a simple /privacy page with the text and link to the source repo.

[2019-01-07 04:07] #389 closed, assigned to nobody

[2019-01-16 03:32] smit1678 commented on #369
Bot installed, let's see how this works.

<img width="776" alt="installed github app - imgbot 2019-01-16 10-30-56" src="https://user-images.githubusercontent.com/796838/51224739-e843b780-1979-11e9-862d-2a2aef255893.png">

[2019-01-16 03:33] #369 closed, assigned to nobody

[2019-01-16 03:33] #254 closed, assigned to arunasank

[2019-01-16 11:24] ramyaragupathy opened #396 "Handling empty array items in front matter"
Noticed an extra comma character in one of our news preview.
![image](https://user-images.githubusercontent.com/12103383/51244271-3aef9480-19b7-11e9-817d-42c3a7a58f9b.png)

Further investigaiton shows an empty list item in the blog post.
![image](https://user-images.githubusercontent.com/12103383/51244421-a76a9380-19b7-11e9-8417-f9f557f01018.png)

Empty list items results in additional separators.

[2019-01-17 10:11] #379 closed, assigned to arunasank

[2019-01-18 11:39] arunasank opened #398 "Docs section on the website"
Create a documentation page on the website, that brings more visibility to some of our guidelines on the wiki currently. I scanned through the wiki, and identified the following sections to go on the page, for now:

### Assets
* Colours and fonts - Information about the colours and fonts used to develop the site.

### Guidelines
* Image guidelines
* Recommended blog post process - Blog post Guidel

[2019-01-18 11:42] arunasank commented on #398
As part of this work, we are also modifying the footer, to spread out the links a bit more and reduce the footer sizing. The footer could look like either of the following:

------------------------------
Logo placed beneath the `Donate` button
<img width="1267" alt="screen shot 2019-01-18 at 5 06 44 pm" src="https://user-images.githubusercontent.com/3166852/51385078-2a205980-1b44-11e9-9452-0e4a6d

[2019-01-21 05:31] ramyaragupathy commented on #287
This might not be just related to the json file size, but also the scripting part, where the js file iterates through project folder to find out country list for display. Attaching a screenshot from profiling the page.

![image](https://user-images.githubusercontent.com/12103383/51454671-e445da00-1d6b-11e9-8e91-cb0bd9ae839d.png)

[2019-01-21 05:54] ramyaragupathy opened #400 "Reducing website load"
`_site` folder is about 320MB. Here's a dissection of the load:

`uploads` - collection of all graphics supporting the blog items occupies 238 MB followed by,
`downloads` - 22 MB, all downloadable reports, toolkits live here
`updates` - 20MB, this is the content fodler for all the blogs

![image](https://user-images.githubusercontent.com/12103383/51454870-f3795780-1d6c-11e9-81db-452417347017.png)

[2019-01-21 12:33] ramyaragupathy commented on #400
Just making it clear here - all these changes significantly improve the build time. Also seeing a change in heap memory when the files were moved out. Otherwise still seeing it takes a similar time to load data on map (~5seconds)

[2019-01-29 09:51] #398 closed, assigned to nobody

[2019-01-30 17:55] jessbeutler opened #403 "Search results"
Clicking on the 'Search' icon opens the search window. However, no results appear when typing in the search box.

Tested on: multiple pages throughout the website via Chrome browser & iOS Safari

[2019-01-31 08:48] smit1678 commented on #403
Thanks for flagging @jessbeutler, I just replicated on Firefox. We will dig into this.

<img width="1422" alt="humanitarian openstreetmap team home 2019-01-31 08-46-55" src="https://user-images.githubusercontent.com/796838/52042308-c844f400-2534-11e9-9d64-4778bea024c1.png">

cc @arunasank @dakotabenjamin

[2019-01-31 16:42] dakotabenjamin commented on #403
This doesn't show up in a local build- which is probably why we didn't catch the error.

~~The unrecognized expression error is an unrelated issue that should be addressed elsewhere:~~ https://github.com/hotosm/hotosm-website/commit/3d31689fa609ce8d3984de75bcb8520530c7c711
(edit: maybe its not unrelated)

maybe something is going on with the deployment?

[2019-01-31 16:46] smit1678 commented on #403
Maybe this is due to Github's Jekyll version or whitelabeled plugins?

[2019-01-31 17:06] dakotabenjamin commented on #403
The error is there's malformed json if you open the [search file](https://www.hotosm.org/search.json) you get this error: `SyntaxError: JSON.parse: bad control character in string literal at line 2775 column 99 of the JSON data`. Which is this section:

[code]

There's a trailing newline in the summary. I've scrubbed that in siteleaf and will filter out newlines in the search file generator.

[2019-01-31 17:43] smit1678 commented on #403
Fixed. Nice work @dakotabenjamin.

[2019-01-31 17:43] #403 closed, assigned to dakotabenjamin

[2019-02-27 06:11] lipim12 commented on #354
I'd like to work on this issue. If anyone else is not working on this currently, can you assign me for this issue?

[2019-02-27 13:48] dakotabenjamin commented on #354
Go for it! If you're on slack you can ping me @dakota or on #hotosm-website for help, or comment on this issue.

[2019-03-01 16:08] nidhinmahesh commented on #232
@smit1678  Can I start working on this issue?

[2019-03-01 20:55] nik72619c commented on #108
Could I work on this one?

[2019-03-03 00:44] dakotabenjamin opened #412 "Add jobs to search"
Currently the search indexes posts, people, and projects. Adding jobs as well would make it easier to get to them.

You can do that by adding a new item to the list in `search.json`. The format should be the same as the other items. There should be a conditional block as well to not include closed positions.

[2019-03-08 07:16] uwaiszaki commented on #343
hey , i would like to work on this issue.

[2019-03-08 07:37] ramyaragupathy commented on #343
Awesome @uwaiszaki! Please go through a related PR https://github.com/hotosm/hotosm-website/pull/395, which is for reducing number of countries in news preview page

[2019-03-08 21:32] bismitaguha commented on #412
`{% for jobs in site.jobs %}
{
"type":"Jobs",
"title":"{{ jobs.title | escape }}",
"summary":"{{ jobs.body | escape | truncatewords: 40 | strip | prepend: ' ' }}",
"subtitle":"{{ jobs['Job Description'] | join: ', ' }}",
"url":"{{ site.url }}{{ jobs.url }}",
"date":"{{jobs.date }}"
} {% unless forloop.last %},{% endunless %}
{% endfor %}`

I thought of the following code. Please mention your revie

[2019-03-08 21:42] bismitaguha commented on #412
I have made a Pull Request.
Waiting for your review.

[2019-03-08 22:12] bismitaguha commented on #250
Is this issue still open? I would like to work on this and hope so you consider assigning this issue to me.
@smit1678

[2019-03-09 13:02] uwaiszaki opened #415 "No. of countries in news preview page."
Should we add a dropdown to display the list of remaining countries?
![hotosmnewissue1](https://user-images.githubusercontent.com/32809190/54071898-3ea5e600-4299-11e9-99ae-ecaa69ab7c4f.png)

[2019-03-09 13:03] uwaiszaki commented on #415
If yes I would like to work on this issue.

[2019-03-09 14:30] uwaiszaki commented on #343
@ramyaragupathy I have created a pr for this issue, Please review it

[2019-03-09 14:39] uwaiszaki commented on #360
Hey , I would like to work on this issue.

[2019-03-09 17:43] sresthas commented on #383
Hey, I am an outreachy applicant, can I take this up?

[2019-03-10 11:09] bismitaguha commented on #383
@smit1678 Please elaborate on the issue, Sir.
I would like to work on it.

[2019-03-10 15:21] uwaiszaki commented on #360
@ramyaragupathy I have fixed this issue by adding pointer-events CSS in the map. Please review my pr [https://github.com/hotosm/hotosm-website/pull/416](url)

[2019-03-11 07:55] smit1678 commented on #359
I'd like to suggest that we pin the title to the corner from the start. This will then match our other map views, like the Our Work page. Plus pinning to the corner on the first view then gives the chance for users to explore a bit more before selecting the campaign filters to explore more.

<img width="1390" alt="Humanitarian OpenStreetMap Team | Tanzania 2019-03-11 14-51-26" src="https://user-im

[2019-03-11 07:59] smit1678 commented on #343
Fixed here, https://github.com/hotosm/hotosm-website/pull/414. Thanks @uwaiszaki for the contribution!

[2019-03-11 07:59] #343 closed, assigned to nobody

[2019-03-11 13:22] uwaiszaki commented on #359
@ramyaragupathy @smit1678 I have created a pr for this [https://github.com/hotosm/hotosm-website/pull/417](URL).

[2019-03-11 15:55] ramyaragupathy commented on #360
Fixed through https://github.com/hotosm/hotosm-website/pull/416

[2019-03-11 15:55] #360 closed, assigned to nobody

[2019-03-11 15:57] ramyaragupathy commented on #336
Fixed through https://github.com/hotosm/hotosm-website/pull/377

[2019-03-11 15:57] #336 closed, assigned to nobody

[2019-03-11 15:59] ramyaragupathy commented on #415
Dropdown is not required for country listing here @uwaiszaki.  Just the changes in https://github.com/hotosm/hotosm-website/pull/395 should be sufficient

[2019-03-11 15:59] #415 closed, assigned to nobody

[2019-03-11 16:03] ramyaragupathy commented on #347
We're providing filters to distinguish active & archived projects:

![image](https://user-images.githubusercontent.com/12103383/54138165-f6c3c200-4444-11e9-9110-5fcc29591569.png)

On project cards we could include a `ACTIVE/COMPLETED` text depending on duration. This is similar to what is implemented in project pages

**Project Card:**
![image](https://user-images.githubusercontent.com/12103383/54

[2019-03-11 16:04] ramyaragupathy commented on #335
Fixed through https://github.com/hotosm/hotosm-website/pull/377

[2019-03-11 16:04] #335 closed, assigned to nobody

[2019-03-11 16:13] ramyaragupathy commented on #187
@smit1678 -Can we close this for now as we roll out our new changes? We could revisit/sketch out a different ticket for future design improvements.

[2019-03-11 16:15] ramyaragupathy commented on #275
Fixed through https://github.com/hotosm/hotosm-website/pull/376

[2019-03-11 16:15] #275 closed, assigned to nobody

[2019-03-11 16:22] ramyaragupathy commented on #386
Addressed through https://github.com/hotosm/hotosm-website/pull/399

[2019-03-11 16:22] #386 closed, assigned to nobody

[2019-03-11 16:28] ramyaragupathy commented on #128
Similar to #187 - suggest we close here @smit1678

[2019-03-11 22:38] uwaiszaki commented on #278
@ramyaragupathy @smit1678 I have created a pr for this issue #418.

[2019-03-12 03:15] #187 closed, assigned to nobody

[2019-03-12 03:15] #128 closed, assigned to nobody

[2019-03-12 03:22] smit1678 opened #419 "Add zoom or pan to next feature on project maps"
Problem: A number of projects have multiple implementation areas. For example, Inaware project is implemented across three cities in Indonesia: https://www.hotosm.org/projects/disaster-early-warning-and-capacity-building-inaware. The map loads zoomed in on the first feature, which is helpful for better map views on global projects, but a user doesn't know that there are more features to look at.

[2019-03-12 07:10] ramyaragupathy commented on #419
Thanks for ticketing this @smit1678! We need to handle multiple geographies as we extend it for more projects. `Zoom to next area` is a good plan. However, doesn't provide a high-level view of all areas covered. I propose using something like this example https://docs.mapbox.com/mapbox-gl-js/example/scroll-fly-to/.

![flyable](https://user-images.githubusercontent.com/12103383/54180857-b440ca80-44

[2019-03-12 09:00] ramyaragupathy opened #421 "Improve author list formatting in news aggregation for project pages"
Each project page has news aggregation related to the project and the filtered items are placed right above the page footer.

News items listed here could have better formatting of author list. Highlighted a few in the screenshot where we should:
- Allow a  Comma-separated Author list
- Handle empty author fields

![image](https://user-images.githubusercontent.com/12103383/54186781-28369f00-44d2-1

[2019-03-12 11:16] uwaiszaki commented on #421
Hey @ramyaragupathy, I am working on this issue.

[2019-03-12 11:52] sresthas commented on #347
Hey, I am an outreachy applicant, can I take this up?

[2019-03-12 12:33] asishkr123 commented on #168
i am outreachy applicant , can i work on the issue??  Thanks

[2019-03-12 12:55] ramyaragupathy commented on #347
Sure go for it @twisted-sres

[2019-03-12 19:50] megha070 commented on #383
Hello @smit1678 @ramyaragupathy!
I found this project really interesting and would like to work on this issue.

[2019-03-12 21:52] kuja24 commented on #354
Can I also work on this issue?

[2019-03-13 08:05] katia-utochkina commented on #419
Hi @smit1678 and @ramyaragupathy, I would love to contribute. Could I have the issue assigned to me?

[2019-03-13 08:50] Muskan284 commented on #383
Hello @smit1678 I am an outreachy applicant .I would like to work on it..
Can you please elaborate this issue.

[2019-03-13 08:56] Muskan284 commented on #354
@dakotabenjamin  i am an outreachy applicant .Can i work on this issue?

[2019-03-13 09:14] ramyaragupathy commented on #383
![image](https://user-images.githubusercontent.com/12103383/54266969-65686300-459e-11e9-8426-dd10b231fbc5.png)
A link to Visualize change tool should be added to the tools section https://visualize-change.hotosm.org

[2019-03-13 09:18] ramyaragupathy commented on #419
Sure you're free to pick this for work @katia-utochkina. Let me know if you have questions.

[2019-03-13 14:47] Muskan284 commented on #419
@ramyaragupathy ,can i work on this issue?

[2019-03-13 16:40] uwaiszaki commented on #421
@ramyaragupathy I claimed this issue before her. Please review my pr #424

[2019-03-13 20:13] sresthas commented on #347
Hey @ramyaragupathy @TylerRadford , please let me know the link to project pages and project card, I am new to this project so I don't know much about the site. Also, is it suggested to add anactive text on project card like project pages for this bug?

[2019-03-13 20:16] sresthas commented on #255
Hey, I am an outreachy applicant, can I take this up?

[2019-03-13 20:31] sresthas opened #425 "Overlapping in Tools and Data Page"
Tools and Data Page looks like this on my system as well as on localhost
![Screenshot from 2019-03-14 01-54-48](https://user-images.githubusercontent.com/36242614/54312462-0e45ab00-45fd-11e9-84bc-32bb180c635b.png)

[2019-03-13 20:31] sresthas commented on #425
@ramyaragupathy @smit1678 Please look into this

[2019-03-13 22:39] Jenniline commented on #421
Hi @ramyaragupathy  I am Jenniline an Outreachy applicant can i work on this? Or have a task assinged to me?

[2019-03-13 22:40] Jenniline commented on #412
Hi @ Can i work on this issue? Or be assigned a task?

[2019-03-13 22:42] Jenniline commented on #383
Hello am an Outreachy applicant and will like to work on this.

[2019-03-13 22:46] Jenniline commented on #359
Hi @ramyaragupathy would like to work on this

[2019-03-14 02:25] ramyaragupathy commented on #359
@Jenniline - this issue is already been worked upon by @uwaiszaki. Please feel free to pick other items from the issue list. Also do keep an eye on #starter-issues in HOT slack group

[2019-03-14 03:32] ramyaragupathy commented on #383
Issue claimed by @Muskan284 - PR here -> https://github.com/hotosm/hotosm-website/pull/423

[2019-03-14 03:51] ramyaragupathy commented on #425
Layout work needed. There's an overlap of body and the footer.

![image](https://user-images.githubusercontent.com/12103383/54330086-664ed280-463a-11e9-8525-812fe538b8ff.png)

@twisted-sres - would you like to work on this issue fix?

[2019-03-14 04:19] sresthas commented on #425
Yeah, sure. On it.:)

[2019-03-14 05:48] Muskan284 commented on #295
@smit1678 @ramyaragupathy can i work on this issue

[2019-03-14 05:50] Muskan284 commented on #363
@ramyaragupathy  can i work in this issue

[2019-03-14 05:54] ramyaragupathy commented on #363
Hey @Muskan284 - this requires changes to Missing Maps API. There is no direct fix through website. Suggest you look at other issues.

[2019-03-14 05:56] ramyaragupathy commented on #295
@smit1678 - what do you think about updating the ln update here?

[2019-03-14 07:44] 5anjana commented on #293
Hii @smit1678 @ramyaragupathy I'm an outreachy applicant and would like to work on this issue. Can you assign it to me? :)

[2019-03-14 07:47] 5anjana commented on #202
Hii @ramyaragupathy Can I work on this issue?

[2019-03-14 07:54] 5anjana commented on #362
Hii @ramyaragupathy  I would like to work on this issue. Can you assign it to me?

[2019-03-14 08:48] ramyaragupathy commented on #362
Feel free to pick this @sanjana11147. Leave a comment here if you're going to work on this

[2019-03-14 08:49] 5anjana commented on #362
Sure. I will work on it.

[2019-03-14 12:16] Jenniline commented on #359
Ok..Thanks @Ramya

On Thu, 14 Mar 2019, 03:25 Ramya, <notifications@github.com> wrote:

[2019-03-14 12:18] richa208 opened #426 "Carousel buttons are not disabled"
While viewing the carousel on home page, the forward and backward buttons should become disabled for clarity if there are no more images available.

![hot](https://user-images.githubusercontent.com/25206394/54356214-121b1100-4681-11e9-9c7b-e579b0b6a48c.gif)

[2019-03-14 12:19] richa208 commented on #426
@ramyaragupathy  If the issue seems appropriate, I would like to work on it.

[2019-03-14 12:20] ramyaragupathy commented on #426
sure, go for it @richa208

[2019-03-14 13:05] Muskan284 commented on #378
@TylerRadford @ramyaragupathy can i work on this issue?

[2019-03-14 13:27] Muskan284 opened #427 "No links attached and overlapping content in main page"
@ramyaragupathy  there is overlap in content of main page also down below the page there are tags like openstreetmap foundation, OSM wiki,local community discussions which when clicked do nothing.Where these tags meant to link to any other page?

![Screenshot from 2019-03-14 18-41-35](https://user-images.githubusercontent.com/42279758/54360014-dfc1e180-4689-11e9-955d-e0d8383b5c9b.png)

[2019-03-14 13:33] Muskan284 commented on #251
@ramyaragupathy @TylerRadford can i work in this issue?

[2019-03-14 13:45] Muskan284 commented on #427
@ramyaragupathy can i work on this ?

[2019-03-14 13:51] ramyaragupathy commented on #427
Thanks for flagging the issue @Muskan284! Feel free to work on a fix. Do drop a comment letting people know that you are already working on a fix.

Attaching a screenshot of the entire page for reference
![image](https://user-images.githubusercontent.com/12103383/54361513-27963800-468d-11e9-8859-1377919bb475.png)

[2019-03-14 14:01] ramyaragupathy commented on #427
Also @Muskan284 - suggest you finish this fix, before moving on to other issues. Thank you!

[2019-03-14 14:04] Muskan284 commented on #427
sure @ramyaragupathy , will take care of that. I am working on this issue.

[2019-03-14 14:14] ramyaragupathy opened #428 "Handling empty field in Project Pages"
There are projects with empty metadata fields. In such cases, these field names need not be shown at all.
![gf](https://user-images.githubusercontent.com/12103383/54363667-5c0bf300-4691-11e9-95f0-2e522f50fcb1.png)

[2019-03-14 14:34] richa208 commented on #428
Can i work on this?

[2019-03-14 14:42] ramyaragupathy opened #430 "Handle duration field better"
Handle empty `Start Date` better.  State should be just `Ongoing` instead of `- Ongoing`
![image](https://user-images.githubusercontent.com/12103383/54364365-c5403600-4692-11e9-9aac-fcfd4d3a2148.png)

[2019-03-14 18:48] bismitaguha commented on #419
Hi @smit1678 and @ramyaragupathy , I would like to work on this feature.

[2019-03-14 19:12] bismitaguha commented on #344
Hi @smit1678 I would love to work on this. Please assign this to me and provide your suggestions.

[2019-03-14 20:29] bismitaguha commented on #427
Fix #427.
@ramyaragupathy
I tried working on the issue, and could remove the overlapping texts and the links are working too.
Please review the PR. Waiting for your suggestions

[2019-03-14 21:22] bismitaguha opened #432 "Screenshot and overlapping divs in what-we-do, our-work and tools-and-data pages"
The placing of divs in these pages and the complete css is causing lots of overlapping data. Some divs are placed on the margins of other divs and extra divs named 'block-screenshot' and 'block-screenshot-wrap' and created which have no content and are just created to adjust padding and margins. Considering healthy contributor practices this is a major issue as such overlaps should be removed whic

[2019-03-14 21:32] bismitaguha commented on #337
@smit1678 I would like working on this feature. Please help me by elaborating on this.

[2019-03-14 22:13] Muskan284 commented on #430
@ramyaragupathy  i am working on this.

[2019-03-14 22:23] gellys opened #434 "Increase social link icons, correct button Donate and get involved"
- Social link icons need to be bigger.
- The donate button does not darken like the others, need to add the same effect
- The Get Involved button has a color that the user can mean as disabled.

I'd like to work on it. Can I start?

![outreachy-siteosm01](https://user-images.githubusercontent.com/27901470/54395365-6a0c4480-468e-11e9-811d-53bbcec47f04.PNG)

[2019-03-14 23:37] bismitaguha commented on #270
Hello @smit1678 I would like to work on this issue. Please assign this issue to me.

[2019-03-14 23:57] bismitaguha commented on #349
Hello @smit1678 @dakotabenjamin I would like to work on this issue.

[2019-03-15 00:00] bismitaguha opened #435 "No mailto in the 'href' attribute on the contact page"
Clicking on any mail-id on the contact page gives error this is because the 'href' attribute does not have "mailto:" attached to it. I would like to work on this issue.
@smit1678 @ramyaragupathy @dakotabenjamin Please approve this as an issue.

[2019-03-15 00:19] bismitaguha commented on #412
I am continuing to work on this issue @dakotabenjamin .

[2019-03-15 01:11] bismitaguha commented on #428
@ramyaragupathy I am working on this.

[2019-03-15 03:44] richa208 commented on #428
Hi @codefab99
I claimed this issue before you and had started working on this too. Kindly work on some other issue which is not claimed by anyone. Thanks :smiley:

[2019-03-15 05:53] vatsalanarang commented on #430
@ramyaragupathy I am an outreachy aspirant and want to work on this issue if its not assigned ,please assign it to me.

[2019-03-15 07:55] richa208 opened #437 "Clear button in search bar"
The search image in search bar is not clickable so it serves no purpose. It can be replaced by a clear button that could clear the search query easily.

![Screenshot from 2019-03-15 13-23-49](https://user-images.githubusercontent.com/25206394/54416531-ac349500-4725-11e9-8c6e-e156b2843d07.png)

[2019-03-15 07:55] richa208 commented on #437
@ramyaragupathy  If the feature seems appropriate, I would like to work on it.

[2019-03-15 09:09] ramyaragupathy commented on #432
@codefab99 - Can you attach a screenshot of the issue here please? What you describe seems familiar with the issues raised https://github.com/hotosm/hotosm-website/issues/425, https://github.com/hotosm/hotosm-website/issues/427. Attaching a screenshot would just make it clear

[2019-03-15 09:12] ramyaragupathy commented on #434
Can you please attach a screenshot/gif of your proposal before we decide here? Here's a link to our website logos & image guidelines: https://github.com/hotosm/hotosm-website/wiki/Colors-Fonts-and-Logo

Try incorporating these in your ideas.

[2019-03-15 09:14] ramyaragupathy commented on #435
Sure - go ahead, but please make sure to fix the already claimed job search issue https://github.com/hotosm/hotosm-website/issues/412 before you begin work here.

[2019-03-15 09:17] ramyaragupathy commented on #430
@vatsalanarang - From the previous comment looks like @Muskan284 has already begun work on this.     Please go through our issue list for other fixes. Thank you!

[2019-03-15 09:21] ramyaragupathy commented on #427
@codefab99 - Thanks for taking the time to look at this. However, from the earlier comments, it is clear @Muskan284 already claimed this. So I am considering @Muskan284's PR here. Please feel free to work on other issues & suggest you pick one issue at a time to work on.

[2019-03-15 11:20] gellys commented on #434
Of course yes. I'll finish here my idea.

[2019-03-15 11:37] bismitaguha commented on #435
Ok. I am currently working on this issue. #435

[2019-03-15 11:39] mgroovyank commented on #400
@ramyaragupathy  Can I work on moving all graphics in _uploads to a third party site like imgur or flickr and update the links in the relevant md files?

[2019-03-15 12:28] richa208 opened #440 "Footer links not working"
When we navigate to docs page by selecting `Site Login and Documentation` from footer, the footer links in that page are not hyperlinks.

[2019-03-15 12:28] richa208 commented on #440
@ramyaragupathy I would like to rectify it.

[2019-03-15 13:46] bismitaguha opened #443 "The footer icon of HOTOSM on click should go to home page"
The icon on the footer is non-clickable. It should redirect to home page.
@ramyaragupathy @dakotabenjamin @smit1678 If this is a considerable I would like to work on it.
Please provide suggestions.

[2019-03-15 17:30] bismitaguha commented on #400
@ramyaragupathy I find this an issue which will solve many problems. I feel the pdf files and images should be moved to different locations or to the cloud. I would love to work on this.

[2019-03-15 17:34] nav-p commented on #272
@ramyaragupathy  I'm an outreachy applicant can i work on this?

[2019-03-15 17:36] nav-p commented on #347
@ramyaragupathy  I'm an outreachy applicant can i also work on this?

[2019-03-15 17:38] nav-p commented on #251
@ramyaragupathy  I'm an outreachy applicant can i work on this?

[2019-03-15 17:39] nav-p commented on #232
@ramyaragupathy  I'm an outreachy applicant can i work on this issue?

[2019-03-16 04:23] bismitaguha commented on #396
I would like to work on this @ramyaragupathy

[2019-03-16 04:25] bismitaguha commented on #362
Hi @ramyaragupathy . I am giving a try to this issue too.

[2019-03-16 04:32] Muskan284 opened #446 "handle tool field better"
Not all projects utilize some tools .Tools option  should be present in only those project pages which  utilize some tools
![Screenshot from 2019-03-16 09-59-21](https://user-images.githubusercontent.com/42279758/54470685-4fdb7f00-47d2-11e9-99f0-bcc361ae2a57.png)
@ramyaragupathy  i would like to work on this issue.

[2019-03-16 04:35] Muskan284 opened #447 "handle data field better"
Not all projects have data related to it @ramyaragupathy i would like to work on this issue.
![Screenshot from 2019-03-16 09-59-21](https://user-images.githubusercontent.com/42279758/54470722-ec9e1c80-47d2-11e9-8aee-17d60932a31b.png)

[2019-03-16 04:43] bismitaguha commented on #446
#436 this issue is solved.

[2019-03-16 04:51] #421 closed, assigned to nobody

[2019-03-16 04:55] #426 closed, assigned to nobody

[2019-03-16 09:35] 5anjana commented on #362
Yeah. I am not able to work on it currently so you should take it up @codefab99

[2019-03-16 09:38] darshanv6 opened #448 "Text is outside box in News Page"
In the News page, the Subscribe for Updates & Announcements comes out of the red background and it will look better if it is inside it.

![image](https://user-images.githubusercontent.com/21688871/54473376-03596900-47fd-11e9-94d7-d960e36b01cd.png)

A similar issue is present in the 'Page Not Found' page as well where the text '404 Page Not Found' text exceeds the red background.

![image](https://

[2019-03-16 14:08] bismitaguha commented on #362
Ok I am working on it.

[2019-03-16 18:34] nav-p commented on #362
Can i work on this issue @ramyaragupathy

[2019-03-16 18:35] bismitaguha commented on #362
@na899 please find another issue. I am already working on this.

[2019-03-16 18:44] nav-p commented on #361
@ramyaragupathy I'm an Outreachy applicant can i work on this issue?

[2019-03-17 10:51] richa208 opened #451 "Modifications in minimised screen"
When the window is minimised following modifications can be done:
- change the cursor property on the hamburger icon from default to pointer
- change the alignments of hyperlinks on the footer from left to centre to make it a better UI

[2019-03-17 10:51] richa208 commented on #451
@ramyaragupathy If the modifications are appropriate, I would like to work on it.

[2019-03-17 14:10] #428 closed, assigned to nobody

[2019-03-17 14:10] #446 closed, assigned to nobody

[2019-03-17 18:25] darshanv6 opened #452 "Create page showing list of countries where Hotosm works"
When a user goes to a specific country's page to see what HOTOSM has worked on in that country, he/she encounters a page like this.

![image](https://user-images.githubusercontent.com/21688871/54495970-b87c4600-490f-11e9-8b0d-cf82d3bc4a54.png)

If he/she removes the country's name from the URL expecting to see the list of all countries in which HOTOSM works, he/she sees this page.

![image](https:

[2019-03-18 04:17] ramyaragupathy commented on #452
Hi @darshanv6 - we already have a `Our work` page with a map view of all countries that we work with.

![image](https://user-images.githubusercontent.com/12103383/54506433-6adcf900-4962-11e9-8368-8beeced15c9d.png)

May be we can redirect the https://www.hotosm.org/where-we-work/ link to https://www.hotosm.org/our-work page.

[2019-03-18 04:19] ramyaragupathy commented on #447
Already addressed through https://github.com/hotosm/hotosm-website/issues/428 &  https://github.com/hotosm/hotosm-website/pull/436

[2019-03-18 04:19] #447 closed, assigned to nobody

[2019-03-18 05:20] richa208 opened #453 "Country name is fixed on map irrespective of current location"
While viewing any particular country to see the details in `Our Work`, the name of the country remains fixed on the map even if we drag the map to some other country.

![hot1](https://user-images.githubusercontent.com/25206394/54508257-56512e80-496b-11e9-8fb9-4f74d1b425e3.gif)
@ramyaragupathy @smit1678 I would like to remove this error.

[2019-03-18 07:29] ramyaragupathy commented on #453
In this case we shouldn't allow panning the map through drag function. Please refer to https://docs.mapbox.com/mapbox-gl-js/api/#dragpanhandler documentation to see how to disable this behavior.

[2019-03-18 07:34] ramyaragupathy commented on #451
@richa208 - I don't get the complete context here. Can you please elaborate on this behavior? Adding a few screenshots/gifs will help.

[2019-03-18 09:11] richa208 commented on #451
When the window is minimised, currently the cursor property on the hamburger icon is default but it should be a pointer as it is a clickable option.

![54361649_2123920571049230_3616026450760564736_n](https://user-images.githubusercontent.com/25206394/54518838-4ba69180-498b-11e9-9011-810d3987afc8.jpg)

Also currently the footer content is left aligned. Making it centre aligned would improve the UI

[2019-03-18 09:27] uimarshall commented on #448
@darshanv6 ,I am an outreachy applicant, i want to find out if i can work on this issue?

[2019-03-18 09:32] uimarshall commented on #443
I am an outreachy applicant, i want to find out if i can work on this issue.

[2019-03-18 09:37] ramyaragupathy commented on #443
@uimarshall - Thanks for looking at our issue list. @codefab99 is already working on this. Please feel free to pick other issues.

[2019-03-18 09:38] uimarshall commented on #443
@ramyaragupathy, i find out most of the issues have been assigned, kindly assign one for me.

[2019-03-18 09:38] ramyaragupathy commented on #448
This comes with the design @darshanv6 @uimarshall - nothing to update here!

[2019-03-18 09:38] #448 closed, assigned to nobody

[2019-03-18 09:41] bismitaguha commented on #443
@ramyaragupathy please check my PR. #445

[2019-03-18 11:15] uimarshall commented on #277
@ramyaragupathy please can i work on this issue?

[2019-03-18 11:44] ramyaragupathy commented on #277
Sure @uimarshall! - Link for software engineers highlights the content and the title. Similar to Software Engineers - Mapping Volunteers & GIS Professionals should be highlighted along with the title in view.

### Anchor link for sotware engineers appear with the title in view
![anchor link](https://user-images.githubusercontent.com/12103383/54527695-aeeeee80-49a0-11e9-96b4-42decc0e07c3.gif)

###

[2019-03-18 11:53] uimarshall commented on #277
@ramyaragupathy thanks

[2019-03-18 14:34] uimarshall commented on #277
@ramyaragupathy ,how do i get the `link` to the issue?

[2019-03-18 18:00] VarunBhandia opened #456 "Docs open in same tab"
All the google docs/PDF open in the same link. On blank target, they can be opened this will improve the user experience.

[2019-03-18 18:09] VarunBhandia opened #457 "Unwanted text on Images - What-we-do page"
![Screenshot from 2019-03-18 23-35-18](https://user-images.githubusercontent.com/27995669/54552671-aaddc380-49d6-11e9-8b9a-3d89132d671e.png)
@ramyaragupathy the text is coming on the image which looks bad for any user.
Link => https://www.hotosm.org/what-we-do

[2019-03-18 19:00] richa208 commented on #457
Hi @VarunBhandia
PR #454 already addresses this issue.

[2019-03-18 19:14] vannicer opened #458 "Donate.hotosm.org"
Need a redirect back to donate.ly-embedded form page for Donate.hotosm.org and donate buttons

[2019-03-18 19:36] richa208 opened #459 "Bug in View All Projects"
While using the side arrow to expand the div to view all projects, the direction of the arrow should invert (be in upwards direction), suggesting to use it to close the expandable div.

![image](https://user-images.githubusercontent.com/25206394/54557990-88ea3e00-49e2-11e9-96a0-b5c9d2bdf6e5.png)

Also currently if we click anywhere on the entire row of `View all projects`, the expandable menu appe

[2019-03-18 20:09] eloarr opened #460 "Dead link: paper donation form"
Found a dead link at the bottom of the donate page ( https://www.hotosm.org/donate ) - 'the paper form' hyperlink points to the following document, returning a 404:
https://www.hotosm.org/sites/default/files/Donation%20Form-%20Mailing%20_0.pdf
Can't seem to find the target file in the codebase to fix it myself.

[2019-03-18 20:39] darshanv6 commented on #452
I'll work on this.

[2019-03-19 03:59] VarunBhandia commented on #457
Ok ma’am

[2019-03-19 05:03] ramyaragupathy commented on #457
Duplicate of https://github.com/hotosm/hotosm-website/issues/432, https://github.com/hotosm/hotosm-website/issues/425

[2019-03-19 05:03] #457 closed, assigned to nobody

[2019-03-19 06:35] mgroovyank commented on #456
@ramyaragupathy I would like to take up this task.

[2019-03-19 07:24] Muskan284 commented on #458
@ramyaragupathy @vannicer can i work on this issue?

[2019-03-19 09:15] Muskan284 opened #461 "handle pop up in donate page"
when donate now option is clicked and any field is empty in donate page .the pop up appears but on scrolling the page the pop up also scrolls.
@ramyaragupathy  i would like to fix it.
![Peek 2019-03-19 14-35](https://user-images.githubusercontent.com/42279758/54593410-84f70400-4a54-11e9-9bcf-be1e98235254.gif)

[2019-03-19 10:12] ramyaragupathy commented on #460
cc @smit1678

[2019-03-19 10:21] ananya opened #462 ""SUBSCRIBE FOR UPDATES & ANNOUNCEMENTS" text going out of the box"
"SUBSCRIBE FOR UPDATES & ANNOUNCEMENTS" text is going out of the box
![Screenshot from 2019-03-19 15-50-11](https://user-images.githubusercontent.com/33188930/54598598-d6a48c00-4a5e-11e9-8fbd-3ff3a65b38f7.png)
@smit1678 @ramyaragupathy i would like to work on this

[2019-03-19 10:26] #462 closed, assigned to nobody

[2019-03-19 10:32] ananya opened #463 "Add a new issue and pr template"
Currently the project is not having an issue and pull request template.
Adding one helps in having standardized information when submitting a pr or an issue.
@smit1678 @ramyaragupathy i would like to work on this

[2019-03-19 12:28] VarunBhandia commented on #456
@mgroovyank I am already working on this issue.

[2019-03-19 17:20] #412 closed, assigned to nobody

[2019-03-19 17:20] dakotabenjamin commented on #412
Fixed in #465

[2019-03-19 17:59] vannicer commented on #458
Yes, please! We should still have the embeddable form @smit1678 ?

[2019-03-19 18:07] ananya opened #466 "Extra black area coming on hotosm.org/impact-areas/disaster-risk-reduction/ page"
There is an extra black doted area coming in background on page hotosm.org/impact-areas/disaster-risk-reduction/
![Screenshot from 2019-03-19 23-34-18](https://user-images.githubusercontent.com/33188930/54630389-b77a1e80-4a9f-11e9-95eb-d8ed1bf26f3b.png)

This could be changed to have a white background instead.

If it is really a bug then I would like to work on this.

[2019-03-19 19:28] richa031 commented on #434
@ramyaragupathy .Is this issue still open to work upon?

[2019-03-19 20:28] ananya opened #468 "Person profile getting overlapped on map"
Person's profile is covering the map on the www.hotosm.org/people/mhairi-ohara/ page.
According to the existing design i should come under the map

Current page:
![Screenshot from 2019-03-20 01-50-56](https://user-images.githubusercontent.com/33188930/54639449-6542f880-4ab3-11e9-9a87-bfd5e806ab77.png)

Other pages on website:

![Screenshot from 2019-03-20 01-54-45](https://user-images.githubuserco

[2019-03-19 21:02] darshanv6 opened #470 "Redirecting /people/ to /community/"
When a user goes to a specific person's page, he/she encounters a page like this, with details of the person.

![image](https://user-images.githubusercontent.com/21688871/54641287-d8e70480-4ab7-11e9-9de8-4c74ca1affaa.png)

If the name of the person is removed from the URL, we get error 404. I think it'll be better if we will be able to redirect that URL to /community#people by creating a new secti

[2019-03-19 21:33] uwaiszaki commented on #470
@darshanv6 Removing name from URL does not give 404. It shows the index of /people/

[2019-03-19 21:35] bismitaguha opened #471 "Adding jobs in search menu"
Since jobs can be searched now 'jobs' should be added to the search-overlay too.

[2019-03-19 21:36] bismitaguha commented on #471
@ramyaragupathy I am working on this.

[2019-03-20 03:21] ramyaragupathy commented on #468
Expected behaviour - not a bug

[2019-03-20 03:21] #468 closed, assigned to nobody

[2019-03-20 03:24] ramyaragupathy commented on #466
This is a design element and not a bug- closing here @ananya

[2019-03-20 03:24] #466 closed, assigned to nobody

[2019-03-20 05:40] bismitaguha opened #473 "Link not working in donate page"
Few links are not working on donate page due to wrong 'href' and are redirecting to error page.

![Screenshot from 2019-03-20 11-09-24](https://user-images.githubusercontent.com/43119923/54661557-bc22ef00-4b00-11e9-94fe-03d3dec10c4c.jpg)

[2019-03-20 05:41] bismitaguha commented on #473
@ramyaragupathy I am taking up this issue.

[2019-03-20 06:05] ramyaragupathy commented on #473
Can you mention specifically what's not working here @codefab99

[2019-03-20 06:06] bismitaguha commented on #473
@ramyaragupathy the paper form link

[2019-03-20 06:13] ramyaragupathy commented on #473
Duplicate of https://github.com/hotosm/hotosm-website/issues/460

[2019-03-20 06:13] #473 closed, assigned to nobody

[2019-03-20 06:24] richa208 commented on #461
@Muskan284 Also I think this issue is Firefox specific as it is working fine in Chrome.
It must be related to `type="email"` and firefox IMO.

[2019-03-20 06:25] bismitaguha opened #474 "Link showing error on partner with us page"
The 'read about our projects' does not work and shows error on clicking.
![Screenshot from 2019-03-20 11-52-41](https://user-images.githubusercontent.com/43119923/54663336-e8da0500-4b06-11e9-923a-7167eda32ecb.jpg)

@ramyaragupathy @smit1678 The link should redirect to a proper URL.

[2019-03-20 06:27] bismitaguha commented on #471
@ramyaragupathy @smit1678  I have made a PR to this issue. Please review and provide suggestions.

[2019-03-20 07:58] ananya commented on #466
Actually this caused because some of the <div> were not closed. And moreover the file had some extra code wrongly placed

[2019-03-20 08:00] Muskan284 opened #476 "hover effect missing in playground page"
hover effect is missing in the box group header section of playground page.
@ramyaragupathy  presence of hover effect will have a better user experience . I would like to fix this problem.
![hover1](https://user-images.githubusercontent.com/42279758/54667999-cef2ef00-4b13-11e9-9d66-673c0df84749.gif)

[2019-03-20 08:01] Muskan284 commented on #461
Thanks @richa208

[2019-03-20 08:02] ramyaragupathy commented on #476
@Muskan284 - this is not front facing and it is a template file. Need not spend your effort here. Thank you!

[2019-03-20 08:02] #476 closed, assigned to nobody

[2019-03-20 08:27] uimarshall commented on #277
@ramyaragupathy ,Please who do i navigate to the folder where the issue is, after cloning the repo? am stuck here.

[2019-03-20 10:18] richa208 opened #478 "Difference in directions while subscribing"
If user enters any invalid address or simply enters an empty address, he is taken to the subscription page which asks for more information and a robot captcha later.
Whereas if the user enters a valid email address in the subscription box then the user is directly subscribed for newsletter without asking for other details.
So to maintain the uniformity same action should be taken (ie. redirecting

[2019-03-20 11:00] darshanv6 commented on #470
@uwaiszaki the index of people is shown when it is run locally. In the website (hotosm.org/people) , 404 is returned.

[2019-03-20 11:08] willemarcel commented on #230
Solved.

[2019-03-20 11:08] #230 closed, assigned to nobody

[2019-03-20 11:09] willemarcel commented on #317
We yet need a solution to the first item of the list ("The first post contains no feature image").

[2019-03-20 12:05] kshitizkashyap commented on #317
Can I work on this @willemarcel @smit1678

[2019-03-20 12:18] willemarcel commented on #317
@kshitizkashyap yes, go for it

[2019-03-20 12:53] kshitizkashyap commented on #317
the layout needs to be changed just for the first item on the list, right? @willemarcel

[2019-03-20 13:47] ananya commented on #265
I would like to work on this, please guide me on how to proceed

[2019-03-20 14:54] darshanv6 commented on #108
The URL mentioned does not work. The URL is https://hotosm.org/contact . @ramyaragupathy can I work on this issue? If yes, I'll start with a sketch of the page.

[2019-03-20 16:32] Muskan284 commented on #458
@vannicer can u please elaborate this issue more?where the redirect links and buttons are placed exactly?

[2019-03-20 17:53] bismitaguha commented on #347
@ramyaragupathy since this issue has not been worked upon till now, I am giving it a try.

[2019-03-20 19:21] vannicer commented on #458
so  http://donate.hotosm.org currently links to a CauseVox page but we'd like it to go to an embedded from from donate.ly as we had it prior to the 2018 Year-End Fundraising campaign

[2019-03-20 20:12] bismitaguha opened #481 "No error on wrong email-id input on subscribe section"
Even on entering wrong email-id the subscription confirmed page is shown. This should not happen as user will not understand in case of error or wrong input. A regex check should be done with JS on email validation and only then subscription confirmed should be redirected else an error message should pop-up.
@ramyaragupathy I feel this is a potential issue and would like to work on implementing th

[2019-03-20 20:22] bismitaguha opened #482 "Search text shows HTML tags"
In the summary of search results html tags are shown. @ramyaragupathy @smit1678 Please review this issue.
![Screenshot from 2019-03-21 01-50-28](https://user-images.githubusercontent.com/43119923/54716546-faa9bf80-4b7b-11e9-9e49-16cca69ded58.jpg)

[2019-03-20 20:41] bismitaguha commented on #482
@ramyaragupathy I feel the html tags shouls be removed from "summary text" as it is not separately clickable(the whole paragraph on clicking redirects to the project page). So the text will not look as above and will show proper content. I would like to work on this issue.

[2019-03-20 20:43] #481 closed, assigned to nobody

[2019-03-21 04:46] smit1678 commented on #458
I've changed this on our AWS account. It may take up to 24 hrs for it to fully change over depending on location, but should be working soon.

@Muskan284 Apologies but this needed a fix on our AWS account only.

[2019-03-21 04:46] #458 closed, assigned to nobody

[2019-03-21 05:02] Muskan284 opened #483 "Fix news section in where we work page"
@ramyaragupathy  @smit1678  better handling of date and author field in where we work country pages are required .i would like to fix it.
![Screenshot from 2019-03-20 23-53-29](https://user-images.githubusercontent.com/42279758/54734263-5e57db00-4bc4-11e9-8a0c-316e11a4af29.png)
![Screenshot from 2019-03-21 10-26-35](https://user-images.githubusercontent.com/42279758/54734266-5f890800-4bc4-11e9-953

[2019-03-21 06:07] #443 closed, assigned to nobody

[2019-03-21 06:26] #435 closed, assigned to bismitaguha

[2019-03-21 06:29] #430 closed, assigned to nobody

[2019-03-21 06:31] #440 closed, assigned to nobody

[2019-03-21 06:46] #278 closed, assigned to nobody

[2019-03-21 07:09] #359 closed, assigned to nobody

[2019-03-21 07:34] #453 closed, assigned to richa208

[2019-03-21 08:34] bismitaguha opened #485 "No display of subtitle in news search"
{subtitle} is displayed for news where there is no 'Person' mentioned in markdown file.
![Screenshot from 2019-03-21 14-01-12](https://user-images.githubusercontent.com/43119923/54740626-f87a4c00-4be1-11e9-8a14-6573cdc4e115.jpg)

@ramyaragupathy subtitle should be a value which has content in all the news markdown files.

[2019-03-21 09:59] bismitaguha commented on #482
@ramyaragupathy I made a PR to this issue. Please review.

[2019-03-21 13:46] bismitaguha commented on #485
@ramyaragupathy I have made a PR solving this issue. Please review and provide suggestions.

[2019-03-21 14:39] Muskan284 commented on #378
@TylerRadford @ramyaragupathy  can u elaborate this issue?

[2019-03-21 15:18] richa208 commented on #478
@ramyaragupathy Kindly tell if I should proceed with this issue because while I was looking for possible solutions I was stuck in some place and need some help.
Thanks!

[2019-03-21 15:23] vannicer commented on #458
I'm getting a 404, but I'll check on it again later. Thanks!

[2019-03-21 15:30] #451 closed, assigned to nobody

[2019-03-21 15:40] richa208 opened #489 "Bugs in minimised screen"
If we minimise the screen, following issues are found:
- The cursor property of hamburger icon should be changed from `default` to `pointer`.

![1](https://user-images.githubusercontent.com/25206394/54763834-b02c4f80-4c1c-11e9-8b40-31cf1087e809.png)

- The contents of navbar are too close to each other without enough separation to distinguish among themselves.
![2](https://user-images.githubuserco

[2019-03-21 18:29] Muskan284 commented on #277
@ramyaragupathy @vannicer  can i also work on this issue?

[2019-03-21 19:05] richa208 commented on #277
@uimarshall I think the files `/_layout/get-involved.html` and `/volunteer.markdown` would be related to this issue.

[2019-03-22 03:05] smit1678 commented on #458
You're right that was an error on the website's part -- was not handling `/donate/` which AWS was forwarding to (not sure why). But I've fixed this on the site: `https://www.hotosm.org/donate/` & `https://www.hotosm.org/donate` now work.

[2019-03-22 12:01] darshanv6 commented on #108
I've made a wireframe for the page: https://projects.invisionapp.com/freehand/document/V6rcmKgb9
@TylerRadford , @ramyaragupathy Can I go ahead with this?

[2019-03-22 13:23] Muskan284 opened #492 "handle country selection better"
issues:-
1)there is a input type submit button with value go is present in code but not appearing in the get-involved page .
![Screenshot from 2019-03-22 13-55-23](https://user-images.githubusercontent.com/42279758/54824914-4a020400-4cd2-11e9-98e5-119ab00ec14a.png)
2)selection menu for countries seems to extend more
3)direction arrow has no use .i think it would be better if the hover effect is ad

[2019-03-22 14:28] vannicer commented on #458
All good, now, yeah thanks!

[2019-03-22 15:56] chauhannishh opened #493 "Text out of box in update page"
![Screenshot from 2019-03-22 14-17-05](https://user-images.githubusercontent.com/34571079/54835893-0f579600-4ce9-11e9-946f-97a81c77649c.png)
@ramyaragupathy I would like to work on this issue. Should I go for it?
I am a Outreachy Aspirant.

[2019-03-22 16:10] richa208 commented on #493
Hi @chauhannishh !
This is not a bug but a designed pattern.
#448 was a similar issue and was clarified later by @ramyaragupathy.

[2019-03-22 16:11] chauhannishh commented on #493
Okay. Thanks @richa208

[2019-03-22 16:16] #493 closed, assigned to nobody

[2019-03-22 16:25] chauhannishh opened #494 "No Email Validation Check in SUBSCRIBE FOR UPDATES & ANNOUNCEMENTS divison"
@ramyaragupathy @smit1678  There is no validation check for email in SUBSCRIBE FOR UPDATES
& ANNOUNCEMENTS division. I would like to work on it. Should I proceed?

[2019-03-22 17:30] bismitaguha opened #496 "Improper text aligned in projects"
@ramyaragupathy @smit1678 This is one example of wrong placing of text and video thumbnail.
![Screenshot from 2019-03-22 22-58-36](https://user-images.githubusercontent.com/43119923/54841834-3c5e7580-4cf6-11e9-98a3-34228e7166fc.jpg)

I am working on this issue to render proper CSS.

[2019-03-23 05:56] #461 closed, assigned to nobody

[2019-03-23 16:08] chauhannishh opened #498 "Start mapping now button is 50% hidden on scroll."
On the page software-engineers under volunteer section, start mapping now button is 50% hidden. Even, after scrolling up and again down it remains the same. On reloading the page, it works fine. The problem occurs when the page is loaded for the first time.
It looks like:
![Screenshot from 2019-03-23 21-24-50](https://user-images.githubusercontent.com/34571079/54868524-527e3b80-4db3-11e9-9292-4110

[2019-03-23 18:10] richa208 opened #499 "Add a scroll to top button"
Currently user has to scroll all the way to the top again.
Adding a button to take the user directly to the top would aid users.

@ramyaragupathy I would like to add it.

[2019-03-24 06:42] richa031 opened #500 "Border after clicking the social icons"
When I clicked on one of the social links I saw that the border of selection selects the whole tab instead of just hovering over the selected icon.

![IMG_20190324_120931](https://user-images.githubusercontent.com/32764563/54875958-09b79880-4e2e-11e9-988e-7b20e8703a11.jpg)
![IMG_20190324_120854](https://user-images.githubusercontent.com/32764563/54875959-0d4b1f80-4e2e-11e9-86e5-cecf0edea05a.jpg)

[2019-03-24 06:54] PritiShaw commented on #460
Hi @ramyaragupathy
I would like to work on this issue. Kindly assign it to me if no one else is working on it.

[2019-03-24 06:55] PritiShaw commented on #357
Hi @ramyaragupathy @russdeffner
I would like to work on this issue. Kindly assign it to me if no one else is working on it.

[2019-03-24 14:30] bismitaguha commented on #396
@ramyaragupathy I found similar problems at other places also. I am working on this issue.
![Screenshot from 2019-03-24 19-44-44](https://user-images.githubusercontent.com/43119923/54880841-8028ba80-4e6f-11e9-9573-d6e46a39a185.jpg)

[2019-03-24 18:37] Muskan284 opened #504 "fix hover effect in volunteer page"
In volunteer page due to hover effect text is also not visible.
@ramyaragupathy  i am working on it.
![button](https://user-images.githubusercontent.com/42279758/54883966-49639c00-4e91-11e9-976d-cde1f6248e40.gif)

[2019-03-24 20:18] russdeffner opened #505 "Articles of Incorportion Missing"
I do not see the articles of incorporation in our document storage: https://github.com/hotosm/hotosm-website/tree/gh-pages/downloads

[2019-03-25 12:17] richa031 commented on #255
@TylerRadford anybody working on it?

[2019-03-25 12:32] richa031 commented on #201
@smit1678 I think we can include a small comment box here so that people there in media can send us their queries and other things, also we can add a phone no (if possible) to get a better response.

[2019-03-25 12:50] richa031 commented on #232
@smit1678 i have added 2 more colours in the already existing list.

[2019-03-25 12:51] richa031 commented on #142
@smit1678 please explain this more clearly so that i can work on it

[2019-03-25 13:12] richa031 commented on #340
@ramyaragupathy is there anything that needs to be done here?

[2019-03-25 13:14] bismitaguha opened #507 "Header 'donate' button doesn't have default css on hover"
Every button on hover darkens or changes colour except the 'Donate' button in the nav header.
@ramyaragupathy I am working on this.

[2019-03-25 13:25] richa031 opened #509 "Projects being loaded takes much time."
It takes very long time to load the projects on the website. As a user people think there are no projects and move to other links.

![Screenshot from 2019-03-26 00-22-24](https://user-images.githubusercontent.com/32764563/54923012-5931bd80-4f2f-11e9-91b1-d802b84d3a3f.png)

We can check if something can be done here.

[2019-03-25 13:27] ramyaragupathy commented on #509
Hi @richa031 - Thanks for taking the time to dig into the tool. Since the issue is related to the Tasking manager recommend you to continue discussion in [hotosm/tasking-manager](https://github.com/hotosm/tasking-manager/issues) repo.

Closing here!

[2019-03-25 13:27] #509 closed, assigned to nobody

[2019-03-25 15:59] richa208 commented on #277
A similar behaviour is seen if we select `Media Kit` link from the footer.

![hot8](https://user-images.githubusercontent.com/25206394/54934198-19c19c00-4f44-11e9-8408-b7753a26134b.gif)

@vannicer @ramyaragupathy As this issue has not been resolved yet, can I work on it?

[2019-03-25 16:10] richa208 opened #510 "Anchor links are not active"
In `Privacy Policy` section, certain anchor links are provided to directly jump to that section.
Some of these links do not work like others ie. they don't jump onto that specified section.

![hot9](https://user-images.githubusercontent.com/25206394/54935555-8c337b80-4f46-11e9-9663-124bd38c6b6f.gif)

@ramyaragupathy I would like to rectify it.

[2019-03-25 16:21] Muskan284 commented on #277
@richa208  i have asked for this issue earlier and solved the issue for the get involved page .I am sending pr in a bit

[2019-03-25 17:31] richa031 commented on #509
@ramyaragupathy  I'm extremely sorry for the inconvenience caused.

[2019-03-26 08:33] #471 closed, assigned to nobody

[2019-03-26 10:59] richa208 opened #514 "Add effects to 'Read More'"
Currently there is no hover effect on the `Read More` or `Show Less` button like other buttons.
Also the cursor property is default which should not be as it is a button.

![Screenshot from 2019-03-26 16-22-56](https://user-images.githubusercontent.com/25206394/54991894-ef272000-4fe3-11e9-83d9-2886acfaebd4.png)

@ramyaragupathy I would like to fix this.

[2019-03-26 15:43] AwaisChaudhary commented on #317
@kshitizkashyap  Are you still working on this? If not I'd like to take it up

[2019-03-26 19:34] bismitaguha opened #517 "Error in code in project-item.html"
There is a problem in the code of project-item.html. Wrong insertion of quotation marks in line 300. @ramyaragupathy I am working on this issue and correcting the code.
![Screenshot from 2019-03-27 01-01-07](https://user-images.githubusercontent.com/43119923/55027818-2faa8c00-502c-11e9-8386-6abdd5722147.png)

[2019-03-27 17:51] richa031 opened #519 "Fix the carousel"
Can we fix this carousel? As it creates a really bad impact on users when they click on the next button. We can either decrease the image size in 12/2 or create 1 picture to spread around the whole page. Even we can add more pictures to it.

![Screenshot from 2019-03-28 04-45-02](https://user-images.githubusercontent.com/32764563/55100039-ee2ae700-50e6-11e9-88df-b066faf1d77d.png)
![Screenshot from

[2019-03-29 06:16] Muskan284 commented on #249
@ramyaragupathy @TylerRadford  can I work on this issue.

[2019-03-30 19:07] #517 closed, assigned to nobody

[2019-03-30 19:07] #496 closed, assigned to nobody

[2019-03-30 20:11] ramyaragupathy commented on #277
Fixed through #511

[2019-03-30 20:11] #277 closed, assigned to nobody

[2019-03-31 07:36] Muskan284 opened #520 "still video on project page not displayed in live website ."
@ramyaragupathy @smit1678  the video is not showing in the live website. A pr related to this issue has already been merged.
https://www.hotosm.org/projects/haiti_
![Screenshot from 2019-03-31 12-56-52](https://user-images.githubusercontent.com/42279758/55286124-151e3d00-53b5-11e9-92c0-0ac9ca87a3a9.png)

[2019-03-31 14:15] bismitaguha commented on #520
The changes commited are not being visible in the code.

[2019-04-05 02:27] ramyaragupathy opened #523 "Fix mapper count in project stats"
Per voice w/ @russdeffner - our project page mapper count is an aggregate of mappers from related TM projects. This must be updated to show just unique mappers. Just summing up numbers leads to double counting.

Mapper count from [resultmaps](http://resultmaps.neis-one.org/osm-changesets?comment=CycloneIdai#2/6.8/23.9):

![image](https://user-images.githubusercontent.com/12103383/55600105-df969c80

[2019-04-05 04:26] richa208 commented on #523
@ramyaragupathy Can I work on this?

[2019-04-05 08:15] bismitaguha opened #524 "Add underline transition in nav-bar"
The on-hover underlines come without any transitions and give an average user experience.
@ramyaragupathy I am working on adding this feature.
![Screenshot from 2019-04-05 13-43-07](https://user-images.githubusercontent.com/43119923/55613752-11215f00-57a9-11e9-88b7-925edd56910c.jpg)

[2019-04-05 09:51] dakotabenjamin opened #525 "Add share buttons to news items"
So that people can easily share these pages via Twitter/FB/&c.

Here are some resources that could help for adding buttons to each post:
https://superdevresources.com/share-buttons-jekyll/
https://jekyllcodex.org/without-plugin/share-buttons/

[2019-04-05 10:30] richa208 commented on #525
@dakotabenjamin Can I work on adding this feature?

[2019-04-05 11:09] dakotabenjamin commented on #525
Yes. Please let me know if you need anything.

[2019-04-06 12:43] bismitaguha opened #527 "Better implementation of 'Read more'"
The 'read more' button should be after the article occupies the whole empty space.
![Screenshot from 2019-04-06 17-59-51](https://user-images.githubusercontent.com/43119923/55669595-e0b7ee80-5896-11e9-97c6-d81e2b1e9107.jpg)

[2019-04-06 12:44] bismitaguha commented on #527
@ramyaragupathy I am working on this issue.

[2019-04-06 12:45] bismitaguha commented on #525
@dakotabenjamin I feel even the project pages should have share option. Can I work on that part then?

[2019-04-06 18:28] richa208 commented on #525
@dakotabenjamin Is the following implementation fine?

![hot11](https://user-images.githubusercontent.com/25206394/55673609-c0ecee80-58c7-11e9-9741-d27a8c1a82dd.gif)

[2019-04-07 16:42] Muskan284 commented on #520
@ramyaragupathy  please look into this issue

[2019-04-08 01:24] dakotabenjamin opened #529 "Updates/News images smaller than the width of the content box are resized to 100%"
Example (bottom of page) https://www.hotosm.org/updates/cyclone-idai-how-can-you-help-by-mapping/

How it should work:
Images that are bigger than the div width should be resized, but images that are smaller should be left alone.

[2019-04-08 03:34] bismitaguha commented on #529
@dakotabenjamin can I work on this issue?

[2019-04-08 07:33] smit1678 opened #531 "h1 styles within News items"
One issue I'm seeing on the News posts that is that many times users use an h1 style (`#`) for the first heading on a blog post. Technically this is not correct since we have an h1 in the Title of the post. Good, accessible pages only have one h1 and then have subtitles cascade from there. Since this isn't correct, it hasn't been fully styled for the News posts and thus does not have a bottom marg

[2019-04-08 07:34] bismitaguha commented on #531
@smit1678 can I work on this issue?
I feel using h1 tag will be preferable from page view. Also the formatting of the title should be changed, either higher font-weight or larger font-size.

[2019-04-08 07:59] smit1678 commented on #529
Yes agreed, we don't want to allow images that are bigger than the width of the content container, plus for images that can be resized to 100%, we should encourage that so there is good symmetry on the page. Setting specific widths can always be done with the `<img>` and setting a width but this isn't straight forward for a new editor and is prone to errors given that you need to have the right fo

[2019-04-08 08:04] bismitaguha commented on #529
@smit1678 @dakotabenjamin we can set all images to be resized to a lower width by default.
I would like to work on this issue Sir.

[2019-04-08 08:06] smit1678 commented on #529
@codefab99 Ok great, please go ahead. 👍

[2019-04-13 01:44] #529 closed, assigned to nobody

[2019-04-13 04:42] #510 closed, assigned to nobody

[2019-04-13 18:00] bismitaguha opened #535 "Adding hover effect on country links in project page"
Some hover effect should be added to the country links on the project page. Currently no difference is visible on country selection. @ramyaragupathy I working on this feature.

![Screenshot from 2019-04-13 23-22-33](https://user-images.githubusercontent.com/43119923/56083550-0c614880-5e44-11e9-928b-5e7f71325857.jpg)

[2019-04-14 09:50] #504 closed, assigned to nobody

[2019-04-14 10:01] ramyaragupathy commented on #492
@Muskan284 - Thanks for taking the time to look through the website! This invisible submit button feature is per design. The button will work but will not be visible. The enter action works by default if the form's input is focused/used.

Closing this and the related PR

[2019-04-14 10:01] #492 closed, assigned to nobody

[2019-04-14 11:00] #485 closed, assigned to nobody

[2019-04-14 11:13] #507 closed, assigned to nobody

[2019-04-16 03:38] #535 closed, assigned to nobody

[2019-04-16 03:49] #347 closed, assigned to nobody

[2019-04-16 04:02] #474 closed, assigned to nobody

[2019-04-16 05:34] #482 closed, assigned to nobody

[2019-04-16 06:10] #452 closed, assigned to nobody

[2019-04-16 11:56] #459 closed, assigned to nobody

[2019-04-17 01:50] russdeffner opened #538 "Profile pics not showing"
It seems the pictures we took recently in Jakarta for the staff that had 'non-conforming' photos are not showing. Example - https://www.hotosm.org/people/russell-deffner/

[2019-04-17 02:20] ramyaragupathy commented on #538
hey @russdeffner - seems like the [last commit](https://github.com/hotosm/hotosm-website/commit/1ebabd1327841231b3761ccfe7b264bbff8aa336) made for the 📷  updates does not include the new file uploads. Links have been updated in the related files, but the new files are yet to be uploaded to the system. As a temporary fix, I have reset the image links to old photo references. Let's wait for @smit167

[2019-04-17 06:55] katia-utochkina opened #539 "INAWARE project video missing"
The **INAWARE** project video doesn't exist at the indicated link  -- https://www.youtube.com/embed/ruHf_cVZTuM?showinfo=0

<img src="https://user-images.githubusercontent.com/16920088/56266853-e1058480-60f5-11e9-98ba-6f2fcd82c3c6.jpg" width="90%"></img>

[2019-04-17 07:12] ramyaragupathy commented on #539
cc @iyan31

[2019-04-17 08:09] bismitaguha opened #540 "Remove stats fields for null data"
@ramyaragupathy the details are empty in country-page stats fields, but still a loading icon is visible. I feel we should remove the fields if null data is present. Please provide suggestions on this issue.
![Screenshot from 2019-04-17 13-37-08](https://user-images.githubusercontent.com/43119923/56271498-449faa00-6116-11e9-8f79-47c976c4d2f0.jpg)

[2019-04-17 09:02] ramyaragupathy commented on #540
hey @codefab99 - there's already an issue related to this https://github.com/hotosm/hotosm-website/issues/363.

[2019-04-17 09:02] #540 closed, assigned to nobody

[2019-04-25 22:49] bismitaguha opened #541 "Changing image sizes in mobile view"
In mobile viee to maintain uniformity and proper view we should change the formatting of inages and text to match the more recent news in the 'News' section on the main page. The similar update can be applied to other pages. @ramyaragupathy If this is a considerable issue I would like to work on it.

![Screenshot_2019-04-26-04-14-32-429_com android chrome](https://user-images.githubusercontent.com

[2019-04-29 05:46] #538 closed, assigned to smit1678

[2019-04-29 08:53] ramyaragupathy opened #543 "Hover interaction doesn't work on mobile screens"
Just noticed that hover interaction is by default disabled on smaller screens. Hence, legends and additional pop ups on our-work page, country page & project pages don't show up

[2019-04-29 13:00] bismitaguha commented on #543
Hey @ramyaragupathy can I work on this issue?

[2019-05-03 03:29] #514 closed, assigned to nobody

[2019-05-16 15:11] vannicer opened #549 "Community page- update from FOSS4G to Summit 2019"
Highlight on 'Community' page- https://www.hotosm.org/community/
 on Summit needs to be changed from FOSS4G to Summit 2019 in Heidelberg, all needed info on 2019summit page

[2019-05-17 13:29] dakotabenjamin commented on #549
See #550

[2019-05-22 19:37] #489 closed, assigned to nobody

[2019-05-22 20:10] ramyaragupathy commented on #499
Closing this with no next actions

[2019-05-22 20:10] #499 closed, assigned to nobody

[2019-05-23 05:06] ramyaragupathy opened #551 "Country page: Initialise filters with exact numbers"
Country filters on tasking manager projects initialize with `undefined` instead of the actual number of projects.

![image](https://user-images.githubusercontent.com/12103383/58226882-37459300-7d46-11e9-8a46-b1b831a9997d.png)

[2019-05-24 12:13] ramyaragupathy commented on #419
Fixed through https://github.com/hotosm/hotosm-website/pull/516. Thanks for the fix @katia-utochkina 🎉

[2019-05-24 12:13] #419 closed, assigned to nobody

[2019-05-24 12:15] ramyaragupathy commented on #432
Fixed through https://github.com/hotosm/hotosm-website/pull/454

[2019-05-24 12:15] #432 closed, assigned to nobody

[2019-05-24 12:18] #437 closed, assigned to nobody

[2019-05-24 12:19] #456 closed, assigned to nobody

[2019-05-24 12:19] #470 closed, assigned to nobody

[2019-05-24 12:22] ramyaragupathy commented on #434
Stale

[2019-05-24 12:22] #434 closed, assigned to nobody

[2019-05-24 12:23] #425 closed, assigned to nobody

[2019-05-24 12:47] #549 closed, assigned to nobody

[2019-05-24 12:47] #524 closed, assigned to nobody

[2019-05-24 12:50] #519 closed, assigned to nobody

[2019-05-24 12:52] #520 closed, assigned to nobody

[2019-05-24 12:54] #427 closed, assigned to nobody

[2019-05-24 12:56] #463 closed, assigned to nobody

[2019-05-26 19:59] CameronBaffuto commented on #551
Hey @ramyaragupathy could I please work in this issue?

[2019-05-31 14:07] russdeffner opened #556 "Add Working Group Calendar"
**Actual Behaviour**

There is no calendar for WG stuff on the website.

**Expected Behaviour**

There should be this: http://bit.ly/HOTWG - embedded somewhere

**Steps to reproduce it**

Look for our WG calendar :)

**Screenshots of the issue**

http://bit.ly/HOTWG

**Would you like to work on the issue?**

I can not work on this myself, sorry.

[2019-06-03 07:55] ramyaragupathy opened #557 "Website UI/UX Review"
As part of Outreachy work between May-August 2019 @katia-utochkina will be working on improving the user experience on our website. This includes design improvements to
- Country page
- Project page
- Tools & Data page

We will look at enhancements in line with the following aspects:

- Do we cater enough to all kinds of audience?
- Communicate impact
- Does the existing information on website com

[2019-06-03 08:03] ramyaragupathy opened #558 "Country page: UI/UX Review"
From https://github.com/hotosm/hotosm-website/issues/557 - Capturing @katia-utochkina's review on country page:

- Path to the “Country” page requires a lot of clicks
- Inconsistency between the tab label  (“Country Contact” ) and the content behind it.
- Some sentences are much longer than they need to be. This makes the tab panel viewing and scanning hard.
- There’s no quick way to unselect mult

[2019-06-03 08:13] ramyaragupathy opened #559 "Project page: UI/UX Review"
From #557 - @katia-utochkina's review on Project page

- Map has a long download time
- Project page missing page title & map missing a name
- Zoom-to-next-area animation happens too fast
- Not all legend labels are easily understood
- On screens less than 768px, touchable centroids are too small as well as too close together
- “Read the full project story” button intrudes on the experience of the

[2019-06-03 08:18] ramyaragupathy opened #560 "Tools & Data: UI/UX Review"
From #557 - @katia-utochkina's review on Tools & Data page:

- Information on tools isn’t presented in a scannable format
- Card layout used for tools’ listing doesn’t support scannability
- Inconsistent use of headings across pages
----
### Information on tools isn’t presented in a scannable format

The content should be presented in a way that optimises scanning. At the moment, that’s not the ca

[2019-06-03 08:22] ramyaragupathy opened #561 "Our Work: UI/UX Review"
From #557 - @katia-utochkina's review on Our Work page:

- Extreme focus on imagery in “Our Work” section
- The page’s content doesn’t always flow logically
- Too much information in the “News” section
------
### Extreme focus on imagery in “Our Work” section

Currently, there is too much visual weight assigned to the section’s images. The images certainly have value. But so much emphasis on them

[2019-06-03 17:59] SiddharthSimharaju commented on #557
Hello @ramyaragupathy ,
I am Siddharth and am a UI/UX designer. I wanted to know whether the UI/UX issues are specifically for @katia-utochkina or can others contribute as well? I understand it's a part of outreachy and is meant for girls(just for the experience) but I would love to contribute to this. Is there any way?

[2019-06-07 06:30] katia-utochkina opened #563 "Country page: Fix tooltip content in the stats section"
Content inside the tooltip in the stats section needs to be modified. At the moment, it contains a technical term - API  - which for most users is unfamiliar. The term should be avoided to improve readability.

![api11](https://user-images.githubusercontent.com/16920088/59085051-00ef4280-8906-11e9-8bf1-df391f551c10.jpg)

[2019-06-27 22:21] mataharimhairi opened #576 "Add resource link on header and/or banner"
**Actual Behaviour**

There is no clickable link to take you to the Resources section.

**Expected Behaviour**

Was trying to find the the Participatory Mapping Toolkit but couldn't find it through navigating the website.

**Steps to reproduce it**

Typed Toolkit in the search function, which took me to the news update page (https://www.hotosm.org/updates/participatory-mapping-toolkit-a-guide-for-

[2019-07-02 07:52] ramyaragupathy opened #578 "Assess country page's map section"
https://github.com/hotosm/hotosm-website/issues/558 - @katia-utochkina's documentation from user interviews:

**Map**
a) When using the map, participants felt disoriented. They didn’t understand what the map was about and what they saw. Users felt that there needed to be a good description accompanying each map.

b) Many users said that while they appreciated the map functionality,  they didn’t co

[2019-07-02 07:56] ramyaragupathy opened #579 "Sidebar design on country page"
#558 - @katia-utochkina's documentation from user interviews:

**Lack of engagement with the country page’s sidebar**
The country page’s sidebar was mostly overlooked. Probably, due to several factors: the right-hand position of the sidebar, users’ browsing habits, visual hierarchy and implications of the F pattern.

**Lack of visual appeal of country page sidebar**
Many users reacted negatively t

[2019-07-02 08:01] ramyaragupathy opened #580 "Layout feedback on country pages"
#558 - @katia-utochkina's documentation from user interviews:

**Wasted space in Work Section**
Some users complained about the “our work” section which used a lot of space on the screen and didn’t display information in a clear and easy-to-comprehend way. According to participants, large images wasted space without adding much value to a user’s understanding of the section’s content.

**“Our Work

[2019-07-04 08:45] eternaltyro opened #583 "Social media links of staff and board members broken."
**Actual Behaviour**

Links to social media profiles for many voting members and staff route to a non existent page in hotosm site.

**Expected Behaviour**

The links route to social media profiles outside hotosm site.

**Steps to reproduce it**

1. Go to https://www.hotosm.org/board  or
 https://www.hotosm.org/staff
2. Click on random profiles
3. If profile has social media links on the right pan

[2019-07-04 09:25] iyan31 commented on #539
I just read this now >.<, there are multiple videos which explains InAWARE videos, it would be great if there are several videos to be showcased:

- https://www.youtube.com/watch?v=dMkpG16L-AA
- https://www.youtube.com/watch?v=cCN8pkznObg
- https://www.youtube.com/watch?v=nXSC9SxrMug
- https://www.youtube.com/watch?v=AFiTDDxzhYc

[2019-07-04 09:44] #583 closed, assigned to nobody

[2019-07-04 10:29] katia-utochkina commented on #580
hi @ramyaragupathy, I'm working on the issue

[2019-07-04 12:56] ramyaragupathy commented on #557
hey @SiddharthSimharaju - I've made a few tickets with the design label for country pages. Please feel free to add in your inputs there.

[2019-07-04 13:04] SiddharthSimharaju commented on #557
@ramyaragupathy Sure. I'll have a look and share my views. Thank you.

[2019-07-04 16:18] willemarcel opened #586 "Fix instagram link"
**Actual Behaviour**

The current instagram link on the header and on the footer is pointing to `themissingmaps` account

**Expected Behaviour**

It should point to https://www.instagram.com/hot.osm/

[2019-07-05 03:37] #586 closed, assigned to nobody

[2019-07-09 14:25] SiddharthSimharaju commented on #558
Hello @ramyaragupathy, I have gone through the country page and there were some of the things which I felt could be improved.

1)This icon doesn't justify what it does. A location icon or something more relatable will be better.
<img width="57" alt="Screenshot 2019-07-09 at 6 34 53 PM" src="https://user-images.githubusercontent.com/33068322/60890188-6ec9b980-a278-11e9-9c23-4d9064c0e462.png">

2) C

[2019-07-22 04:45] ramyaragupathy opened #595 "Rewording subscription section"
From @AlexGlynnHOT -

1. Can we change the text for the newsletter to: Sign up for newsletter
2. Can we add a newsletter icon or ‘sign up for newsletters’ box at the top of the front page (where the social media icons are)? Below attached is an example of the latter
<img width="1378" alt="Screenshot 2019-07-17 at 16 56 24" src="https://user-images.githubusercontent.com/12103383/61606785-88500580-a

[2019-10-04 12:06] bolajiscott commented on #339
can i help with this

[2019-10-07 05:04] vikwilliamson commented on #354
I would like to tackle this issue! :)

[2019-10-15 16:04] julian-castorena-eb commented on #354
Is this still open? I would like to tackle the issue!

[2019-10-15 16:05] julian-castorena-eb commented on #595
Can I tackle this?

[2019-10-18 22:09] BrunoM24 commented on #563
Hey, I can do this

[2019-10-21 07:10] #563 closed, assigned to nobody

[2019-11-21 11:00] OscarAblinger opened #626 "Licensing of this respository"
I've looked through the website and this repository, but couldn't find a reference to any license that it might be under (other projects like [the `tasking-manager`](https://github.com/hotosm/tasking-manager/blob/develop/LICENSE.txt) have a license).

Could I get a clarification on that and would you consider adding a `LICENSE` file?
Thank you :)

[2019-12-08 19:23] smishra2903 commented on #525
If the issue is still open, can I work on this?

[2019-12-08 19:29] smishra2903 commented on #317
Can someone please help me know, how can I solve this issue?

[2020-01-13 15:40] vannicer opened #631 "Revert redirect from donate.hotosm.org"
**Actual Behaviour**
Currently redirecting to Donate.ly page -https://pages.donately.com/hotosm/campaigns/

**Expected Behaviour**
Campaign over, should revert back to http://hotosm.org/donate with basic form

[2020-01-14 09:04] ramyaragupathy commented on #631
cc @dakotabenjamin

[2020-01-14 19:28] dakotabenjamin commented on #631
Done

[2020-01-14 19:28] #631 closed, assigned to dakotabenjamin

[2020-01-14 19:31] vannicer commented on #631
Thanks!

On Tue, Jan 14, 2020 at 2:28 PM Dakota Benjamin <notifications@github.com>
wrote:

--
Rachel VanNice
Operations Manager
E-Mail: rachel.vannice@hotosm.org
Skype: rachel.vannice

*Humanitarian OpenStreetMap Team*
*Using OpenStreetMap for Humanitarian Response & Economic Development*
web <http://hotosm.org/> | twitter <https://twitter.com/hotosm> | facebook
<https://www.facebook.com/hotosm>

[2020-01-22 20:12] vannicer opened #633 "Update Guidestar logo in Footer"
Sorry, tried to find location in siteleaf to edit myself but we need to edit the footer to be the new Guidestar logo for 2018 (2019 soon)
Logo attached
![Guidestar Gold 2018](https://user-images.githubusercontent.com/24594890/72930295-9faba080-3d29-11ea-8439-e58956779c84.png)

[2020-01-22 20:31] vannicer commented on #633
2019 Gold good for site-
![Guidestar Gold 2019](https://user-images.githubusercontent.com/24594890/72931640-3f6a2e00-3d2c-11ea-83f5-99493cb24c47.png)

[2020-01-23 15:22] ramyaragupathy commented on #633
![image](https://user-images.githubusercontent.com/12103383/72997304-2c398a00-3e22-11ea-92ec-55431a13982b.png)

[2020-01-23 15:22] #633 closed, assigned to nobody

[2020-02-17 13:52] dakotabenjamin opened #637 "Volunteer pages created in Siteleaf don't load layout or show up in /volunteer-opportunities/ page"
**Actual Behaviour**

1. When a volunteer listing is created in siteleaf, it doesn't load the `page` layout and displays in plain text.

2. The listing also doesn't show up on the volunteer-opportunities list

**Expected Behaviour**

It looks like for the first problem, we need to add `layout: page` to the page when it's created in Siteleaf

For the second problem, the issue appears to be with cap

[2020-02-17 18:27] jidanni opened #638 "OSM.ORG map should link directly to where to report tile problems"
Let's say a user is browsing say
https://www.openstreetmap.org/#map=11/29.0277/114.9596&layers=H
and sees
![32593-0](https://user-images.githubusercontent.com/1230959/74678385-cd371d00-51f5-11ea-8092-18fe8b925d12.jpg)
some forest tile abruptly cut off.

Well, he notices the "Tiles style by ..." and clicks it,
taking him to https://www.hotosm.org/ and still millions of miles from wherever he is sup

[2020-02-28 04:43] #527 closed, assigned to nobody

[2020-03-06 00:10] psmith586 commented on #525
2020 Outreachy Applicant. Is this still an issue I can contribute to?

[2020-03-06 00:12] psmith586 commented on #595
Would like to work on this issue if still available. Outreachy 2020 applicant.

[2020-03-06 01:50] psmith586 commented on #317
Outreachy 2020 applicant. Is this issue still open?

[2020-03-06 01:56] willemarcel commented on #638
@jidanni The goal of the attribution is to give credits to the authors of data and map style. The osm.org website has other tools to report problems.

[2020-03-06 01:56] #638 closed, assigned to nobody

[2020-03-07 00:16] jidanni commented on #638
Yes perhaps, but not on this page.

[2020-03-07 22:15] miracle-E commented on #626
HI,
I will love to create a license for this web product. The goal of GitHub's open source licensing efforts is to provide a starting point to help you make an informed choice. The license will display information to help users get information about how opened/closed this open-source project is.

[2020-03-07 22:34] miracle-E commented on #576
Hi,

Please, I will love to correct this issue, please assign me @miracle-E

[2020-03-12 18:21] vannicer opened #645 "Philippines staff on Staff page"
**Actual Behaviour**
Any one from 'Philippines' staff team is also showing up in Global section

**Expected Behaviour**

They should just be showing up under country heading

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/24594890/76554769-cc984c00-646c-11ea-8bdb-532a9ad22b45.png)

[2020-03-17 02:18] #645 closed, assigned to nobody

[2020-03-17 15:54] vannicer opened #647 "Update "Community" page w/ Summit 2020 info"
**Actual Behaviour**
https://www.hotosm.org/community/ needs updated links, info and picture from summit2020.hotosm.org

**Expected Behaviour**
Should have 2019 group picture, 2020 info from page and link to above.

![image](https://user-images.githubusercontent.com/24594890/76874763-063ecd80-6846-11ea-8c9c-562792e36ed0.png)

[2020-03-26 18:11] dakotabenjamin commented on #647
@vannicer what should we do with this now with the postponement?

[2020-03-26 19:00] vannicer commented on #647
Can we A- Change to 2019 picture just for general purposes and then B for the text we can have: "Due to current uncertainties the HOT Summit is looking for new dates and venues for 2020. Keep an eye on HOT social media and Newsletters for the latest. You can view talks and information from previous HOT Summits [here.](https://summit.hotosm.org/)

[2020-04-14 04:29] russdeffner commented on #505
Just noting that this is still an issue; i.e. the link for Articles of Incorporation is on the footer of the website but the document is not in the landing site

[2020-06-08 20:41] dakotabenjamin opened #660 "Rework the Media Kit"
**Actual Behaviour**

Current looks like this:
![image](https://user-images.githubusercontent.com/1847818/84075629-791d9780-a9a2-11ea-89de-68099fc7190e.png)

**Expected Behaviour**

We want to upgrade the Media Section to add more information about the Comms team staff, similar to in https://www.icrc.org/en/contact#media-contacts

This could become its own page separate from the contact page. Idea

[2020-06-12 18:43] #660 closed, assigned to willemarcel, dakotabenjamin

[2020-06-17 10:40] ramyaragupathy opened #667 "Update project title on hover action"
**Expected Behaviour**

Project title should be updated on hover

**Screenshots of the issue**
![image](https://user-images.githubusercontent.com/12103383/84888410-e1602d80-b0b4-11ea-921e-0b96cd0545fd.png)

[2020-06-17 12:04] ramyaragupathy opened #668 "Undefined value in year filter on country pages"
**Actual Behaviour**

On country pages after initial page load campaign filters populates year filter with undefined value
![image](https://user-images.githubusercontent.com/12103383/84895890-a7952400-b0c0-11ea-9aaf-4c1f1d55cb55.png)

**Expected Behaviour**

Either show just the years or attach the number of projects to each year.

![image](https://user-images.githubusercontent.com/12103383/848957

[2020-06-24 12:22] willemarcel opened #672 "Improve "Tools & data" page"
We have a list of "Tools we use:" on https://www.hotosm.org/tools-and-data and each tool linked directly to an external website, it would be better to:
- Link to the section of that page where we mention it
- Present each tool with a brief description and a link to both website and repository

[2020-07-06 18:03] dakotabenjamin opened #680 "Add Digital Library Menu Item"
**Actual Behaviour**

Currently we have some archives in a [GH Wiki](https://github.com/hotosm/hotosm-website/tree/gh-pages/downloads) and soon on our website will have annual reports (#679). This could be iterated on to add a dropdown menu item called Digital Library

**Expected Behaviour**

Wanted Features:
- dropdown menu for different items:
    - SDG Guide
    - HOT Toolbox
    - Participator

[2020-07-07 04:29] max-keviv commented on #672
@willemarcel  can i work on this

[2020-07-07 04:38] max-keviv opened #682 "https://visualize-change.hotosm.org/ page isn't working"
**Actual Behaviour**

page https://visualize-change.hotosm.org/ isn't working showing HTTP ERROR 503

**Expected Behaviour**

should show page https://visualize-change.hotosm.org/

**Screenshots of the issue**

![Screenshot (25)](https://user-images.githubusercontent.com/59287619/86711363-82e5f980-c039-11ea-9fb7-a2354236efee.png)

[2020-07-07 05:27] max-keviv commented on #668
@ramyaragupathy  can you give the link for country page

[2020-07-07 09:58] willemarcel commented on #672
@max-keviv sure, you can do it

[2020-07-07 15:57] max-keviv commented on #672
@willemarcel  can you give file link associated with  https://www.hotosm.org/tools-and-data
it would be help, As i can't find file

[2020-07-08 00:15] willemarcel commented on #672
Style: https://github.com/hotosm/hotosm-website/blob/gh-pages/_layouts/tools-and-data.html
Content: https://github.com/hotosm/hotosm-website/blob/gh-pages/tools-and-data.markdown

[2020-07-11 16:01] max-keviv commented on #672
@willemarcel  I am facing problem in running website locally after downloading the repository.through documentation i couldn't figure out how to run
it would be kind of you. if you could help me to figure out how to run it locally
thanks for your help

[2020-07-16 06:11] #672 closed, assigned to nobody

[2020-07-16 06:49] max-keviv opened #690 "inappropriate behaviour of events section in https://www.hotosm.org/community/ page"
**Actual Behaviour**

![Screenshot from 2020-07-16 12-20-44](https://user-images.githubusercontent.com/59287619/87636748-d1447800-c75e-11ea-9f35-baa1dc31ffec.png)

event section should contain description instead its shows blank section
button attached in events section reloads the page

[2020-07-16 08:04] max-keviv opened #691 "linking nav-bar items of community page to its section"
first three item in community page ( https://www.hotosm.org/community/ )  are linked to external page.

It would be better to linked it to its section in page.

Would you like to work on the issue?

Yes , I can work on this.

[2020-07-18 07:43] #691 closed, assigned to nobody

[2020-07-21 02:00] #668 closed, assigned to nobody

[2020-08-04 11:20] danagallaty opened #696 "Job postings not closing automatically on website"
**Actual Behaviour**

Job postings on hotosm.org/jobs/ are not automatically moving to 'recently closed jobs' after the deadline has passed.

**Expected Behaviour**

Once the posting's deadline has passed, the job should automatically move to 'recently closed jobs'.

**Steps to reproduce it**

**Screenshots of the issue**
<img width="1250" alt="Screen Shot 2020-08-04 at 2 17 20 PM" src="https://us

[2020-08-11 11:54] danagallaty opened #703 "Error on Donation page for mail-in donations"
**Actual Behaviour**

If you click on the link on this page: https://www.hotosm.org/donate/ in the phrase "To donate via mailing a check, please use the paper form", it shows "404: page not found"

**Expected Behaviour**

That link should bring the person to this donation form for mailed in checks.
[Donation Form- Mailing.pdf](https://github.com/hotosm/hotosm-website/files/5056755/Donation.Form-.M

[2020-08-24 06:16] #682 closed, assigned to nobody

[2020-08-24 06:16] #690 closed, assigned to nobody

[2020-08-27 10:05] canunen commented on #505
Still an issue. The document is also referred in HOT Basics course, leading to a broken URL.

[2020-08-27 14:18] ramyaragupathy opened #714 "Articles of incorporation missing"
**Actual Behaviour**

![image](https://user-images.githubusercontent.com/12103383/91454123-39c65f00-e89e-11ea-81fc-7bf506450ac7.png)

**Expected Behaviour**

Redirect to articles of incorporation document/page -> https://wiki.openstreetmap.org/wiki/Humanitarian_OSM_Team/U.S._Articles_of_Incorporation

[2020-08-27 17:28] max-keviv commented on #714
same goes for https://www.hotosm.org/our_board
![Screenshot (33)](https://user-images.githubusercontent.com/59287619/91475114-c3832600-e8b8-11ea-95be-03dff00829de.png)

[2020-08-28 10:10] canunen commented on #714
Hi @ramyaragupathy, same issue is already filed by @russdeffner:

https://github.com/hotosm/hotosm-website/issues/505

[2020-10-12 14:36] wireguy commented on #703
fixed by #712

[2020-11-09 15:11] dakotabenjamin opened #746 "Add pages and working groups to search index"
**Actual Behaviour**

Reported on Slack that https://www.hotosm.org/hot-activation-protocol.html and https://www.hotosm.org/community/working-groups/ are not searchable.

**Expected Behaviour**
these pages and more should be added to the search index.

**Steps to reproduce it**
1. Add these components to https://github.com/hotosm/hotosm-website/blob/gh-pages/search.json

Note that it may take some

[2020-11-17 16:15] #703 closed, assigned to nobody

[2020-11-17 16:24] lizchamberlain opened #747 "2019 990 added on website"
Could you add the 2019 990 to the website here: https://www.hotosm.org/community/. Should replace the 2018 990 on the main site. the 2018 990 can be archived with the others.

Here is a link to the file: https://drive.google.com/file/d/16A2NRqJFHc-booYng6IwHVuyLFPLlGc-/view?usp=sharing

**Would you like to work on the issue?**

No thanks! Dakota to help

[2020-11-19 19:12] #747 closed, assigned to nobody

[2020-12-09 22:02] vannicer opened #753 "Add DEI statement to "Jobs" sidebar"
We want to add this statement to the  right sidebar of https://www.hotosm.org/jobs/
Currently says: "Want to work with us? We are seeking excellent candidates for the following positions.
HOT values transparency and equity in salaries.
Our Framework"

Should amend to say:
"We seek to recruit persons that reflect the diversity of the communities we work with and further, to support their retention

[2021-02-22 05:48] RiyaJ2311 opened #773 "[BUG] Image not fit properly in the article's panel"
**Actual Behaviour**
[The organization](https://www.hotosm.org/) is the most easily accessible and is considered as the most reliable [source.](https://www.smartinsights.com/user-experience/website-design/what-is-the-importance-of-web-design-for-your-audience/#:~:text=A%20well%2Ddesigned%20website%20can,navigate%20your%20website%20with%20ease.)
The red marked square shows the bug, I am talking abo

[2021-03-18 18:59] vannicer opened #777 "PRIORITY (for HumData/Ops) - Need page for HOT RFPs"
Previously, we have used "jobs" page for Requests for Proposals (RFPs) for procurement of services/project work over $25,000 USD. With the switch to Bamboo, we can no longer use that page to post RFPs, we can talk about where it sits, but we essentially need a page with the same structure as Jobs, but allows us to post links to Google forms/descriptions for RFPs.
Need to post RFP for upcoming Open

[2021-03-22 16:54] #753 closed, assigned to nobody

[2021-03-23 13:58] willemarcel commented on #696
As we switched to BambooHR, I believe we can close it.

[2021-03-23 13:58] #696 closed, assigned to nobody

[2021-04-07 19:28] #777 closed, assigned to nobody

[2021-04-12 15:07] dakotabenjamin opened #790 "Migrate files from insecure hosting to CDN"
**Actual Behaviour**

There are a few hosted images from wayyy back when we used Drupal that are still being used on the site. eg http://hotwww.s3-website-us-east-1.amazonaws.com/files/old/pictures/picture-5-1412307645.jpg. This leads to a warning on the browser that the page is loading unsecure sources.

**Expected Behaviour**

All links and embedded images should be from an HTTPS source. We shou

[2021-05-27 11:27] aubergene opened #794 "Unable to get ways data - full.json 404"
**Actual Behaviour**

When I create a way, I try and select a feature type, if I type "road" then I see "34 results for road" at the top however nothing appears below the search for me to select.

In the browser console I see this error

`18.0cf2713b.chunk.js:1 GET https://www.openstreetmap.org/api/0.6/way/-1/full.json 404`

**Expected Behaviour**

I should get a list of feature types based on my

[2021-05-27 11:32] willemarcel commented on #794
Hi @aubergene! Thanks for your feedback. Some projects restrict the presets you can use on the editor. On the case of that project, you can only trace buildings. There is a bug in the editor that shows the wrong number of results.

[2021-05-27 21:07] aubergene commented on #794
Thank you for explaining!

[2021-05-27 21:07] #794 closed, assigned to nobody

[2021-08-31 15:10] #746 closed, assigned to dakotabenjamin

[2022-09-12 08:50] alanjacobmathew opened #819 "Home Page StartBapping button leads to page not found error."
**Actual Behaviour**
The current link to StartMapping button on HOTOSM home page leads to https://tasks.hotosm.org/learn

**Expected Behaviour**
 Either should go to https://tasks.hotosm.org/explore or https://tasks.hotosm.org/learn/map.
If the page link to the `explore` section users can start mapping directly, and if the link is to `learn` page, new users can learn how to do

**Steps to reproduc

[2022-09-12 13:37] #819 closed, assigned to nobody

[2022-09-12 13:38] dakotabenjamin commented on #819
Thanks for the contribution! I accepted the change.

[2022-10-06 15:35] ChildishGiant opened #823 "Portable OSM link leads to gambling site"
It would seem that https://posm.io has been sold. POSM also seems to be deprecated overall: https://github.com/posm/posm#this-project-is-no-longer-being-maintained