[2014-03-31 14:38] wonderchook opened #1 "Add Japanese as a Language Option"
Can we add Japanese as a language option?

[2014-04-02 07:26] #1 closed, assigned to ifrik

[2014-04-12 19:39] harry-wood opened #2 "Make a README.md"
I'm guessing this repo is drupal code (a copy of the whole drupal codebase?) powering http://hot.openstreetmap.org

Can we add a README.md explaining that (plus some other explanation. Has the code been customised? is it deployed from here somehow?)

The repo currently just has a generic drupal readme.txt file.

[2014-04-18 14:33] heatherleson opened #3 "Drupal security flag"
Summary: We need to update Drupal to be more secure.
Urgency: High

"There is a security update available for your version of Drupal. To ensure the security of your server, you should update immediately! See the available updates page for more information and to install your missing updates.
    There are security updates available for one or more of your modules or themes. To ensure the security

[2014-04-19 15:17] #3 closed, assigned to nobody

[2014-06-03 14:43] russdeffner opened #4 "Website redirect not working"
Recently our website redirect stopped working.  When accessing www.hotosm.org it no longer redirects to hot.openstreetmap.org but returns a 404 error.  @wonderchook and @dodobas are aware of the issue and working on it.

[2014-06-03 22:58] #2 closed, assigned to nobody

[2014-06-05 10:18] #4 closed, assigned to dodobas

[2014-07-07 00:05] heatherleson opened #5 "Slideshare -drupal plugin"
A few weeks ago I tried to add slides to the website. It looks like we are missing a plugin for this.

Details
missing a plugin "
You must acquire a free Slideshare API in order for the embedding to function.

Example slides for download/embedding:

http://www.slideshare.net/heatherleson/introduction-to-humanitarian-openstreetmap-team

http://fr.slideshare.net/pierzen/open-streetmap-responsetohuma

[2014-07-07 12:40] #5 closed, assigned to nobody

[2014-09-17 07:47] dodobas opened #6 "Unify domains"
For example pages http://hotosm.org/get-involved and http://www.hotosm.org/get-involved show different content. I guess that the page *www.hotosm.org* is somehow outdated, maybe there is a cache problem...

[2014-09-30 11:47] mikelmaron opened #7 "Check on "authenticated" user perms"
It looks like most members are set up as Authenticated Users. What permissions does that grant them? Just profile edit?

[2014-09-30 11:47] mikelmaron opened #8 "Remove signature field from user profile, won't be used"

[2014-09-30 11:48] mikelmaron opened #9 "make the user profile Country field a list to choose from"

[2014-09-30 11:48] mikelmaron opened #10 "Leadership field on users' profile"
Anyone who is on the Board or Member Chair would be an admin

[2014-09-30 11:49] mikelmaron opened #11 "User profile Leadership field be used to automatically generate the different lists"
Can it have set list of choices?

 I've imagined these profiles can also be used to generate the Board page, etc. Also, not every registered Drupal user is a voting member and we need to distinguish.

[2014-09-30 11:50] mikelmaron opened #12 "User Profile, Working Group role"
For Working Groups, the role will be different per group. Might make sense to be a drop down too. How much trouble is it to amend that? If it's a bit of work, perhaps we just start off without the role.

[2014-09-30 12:53] #11 closed, assigned to nobody

[2014-09-30 12:56] #8 closed, assigned to nobody

[2014-10-01 06:25] IknowJoseph opened #13 "Should users be listed on a single page?"
Should http://hot.openstreetmap.org/users/ exist as a user directory?

[2014-10-01 06:34] IknowJoseph opened #14 "Support for SSL (https)"
Could we enable https on the site? It is unlikely that browsing the HOT website is going to be a privacy concern for many people but the user login is currently sent over plaintext (using OpenID presumably fixes this for those that have enabled it) and Google have begun to regard https as a ranking factor [0]. Site wide https by default would solve the login issue, help the Google ranking and allo

[2014-10-03 03:48] wonderchook opened #15 "Restructure "Get involved" and "Who we are" sections"
I think we need to be strategic about the top level headers on the website. I think it makes more sense for the working groups to go under "Get Involved".

I'm thinking that instead of having a "Leadership" tab that should be switched to "Who we are" or something like that. That way we would have under that tab but Leadership and Voting Members.

Thoughts?

@mikelmaron

[2014-10-09 10:21] mikelmaron opened #16 "update footer link to email"
How do we update the footer of the HOT website?

We want to update the info@hotosm.org link under "Humanitarian OpenStreetMap Team" to something like this (perhaps it can be shorter)

Questions on tasks, connect to our community: https://lists.openstreetmap.org/listinfo/hot
Media inquiries, organizational questions: info@hotosm.org

[2014-10-15 00:43] #16 closed, assigned to nobody

[2014-10-15 23:03] ifrik opened #17 "update to core 7.32"
After a security alert, I patched the relevant file database.inc but the regular update to 7.32 still needs to be done.

[2014-10-28 14:17] #17 closed, assigned to ifrik

[2014-11-02 13:29] severinmenard opened #18 "Broken links in Project pages"
I just noticed that http://hot.openstreetmap.org/projects/osm_community_mapping_for_flood_preparedness_in_malawi does not display the picture and the related blog posts anymore.

[2014-11-10 15:53] #18 closed, assigned to nobody

[2014-11-30 17:54] IknowJoseph opened #19 "Update Drupal core to 7.34"
Drupal complains that installed 7.32 is vulnerable to various exploits.

[2014-11-30 20:36] #19 closed, assigned to nobody

[2014-12-03 22:46] xamanu opened #20 "Leadership view"
Right now, the board and executive director page (http://hotosm.org/our_board) is a simple page with content, mainly pasted from the people's bio into the page. In #10 a board role field and some logic has been introduced and it would be a logic step to do proper views for a leadership page where the information get's directly pulled from the users' entities.

[2014-12-04 01:06] xamanu opened #21 "Present projects depending on their type and highlight ongoing projects (emergency mapping)"
I don't know what you think: But for visitors who want to get involved in one of the activations and arrive to the website it is almost impossible to understand which projects are really active.

How has this been handled until now? There is a checkbox on the projects that promotes it to the front page. Are all projects ongoing activations?

I would propose to highlight the really active projects,

[2014-12-04 02:03] xamanu opened #22 "Get Involved and About pages overhaul"
Most of the static information available on the website is far out of what people would read on a screen. This all needs a good work on shorting in a good way most of the information, especially in the "About" and "Get involved" sections.

I would suggest that any volunteer could just start working on texts, upload them to a suitable and accessible web service so @wonderchook (i guess?) can review

[2014-12-04 02:04] #13 closed, assigned to nobody

[2014-12-04 02:59] #7 closed, assigned to nobody

[2014-12-04 03:36] xamanu opened #23 "Redesign"
The website right now is not very responsive and looks not very good on mobile devices and smaller tablets. It would be good to offer a responsive design for smaller resolutions.

This might be good to implement with a general design overhaul. But it should be in the list here to not forget and implement at least within the next half a year or so...

Opinions? Ideas?

[2014-12-04 03:49] xamanu opened #24 "Email subscription for news"
Taken from https://github.com/hotosm/hotosm/issues/10

Implement a simple newsletter functionality to send news (content type "update") out to people who left their email address in some subscription block on the website.

[2014-12-04 03:55] xamanu opened #25 "Video section (related to projects)"
Taken from: https://github.com/hotosm/hotosm/issues/11

A section with a content type for videos and views to show them on the related places is requested by @mikelmaron to be implemented.

As far the first step has been done. The content type has been created and it would be good to have some videos to be integrated: http://hotosm.org/node/add/video

This would be good to have in order to then th

[2014-12-04 04:04] xamanu opened #26 "Search functionality"
Taken from: https://github.com/hotosm/hotosm/issues/46

Searching by tags, author, date for news (updates)

[2014-12-04 06:04] xamanu opened #27 "Nicer language switcher"
It would be good to have a more beautiful language switcher than this a little bit massive drop down for only two languages.

[2014-12-04 06:06] xamanu opened #28 "Jobs functionality"
A section with the functionality for separate nodes and an associated view. A date field for the application limit and then it should disappear.

Both for project based jobs as well as internships.

This has also been mentioned in #15.

[2014-12-04 06:12] xamanu opened #29 "Rethink second level navigation"
When visiting the "About", "Leadership" or "Get involved" sections we have a second level navigation menu on the right side as a block.

Let this issue to be used to see if we can/want to improve this. Alternatives, I have in my head, could be a drop down navigation or a second line under the first level navigation. Both are generally more intuitive for visitors and would not take so much space aw

[2014-12-04 06:14] xamanu opened #30 "Use icons for quick access in footer"
Twitter, Facebook and "user login" would be nicer, less text and more illustrative to represent with small icons.

[2014-12-10 14:53] ifrik opened #31 "Set up staging site"
If we work with several people we need an additional staging site to test commits, and to allow other to see whether the proposed change solves the issue before pushing it to the production site.

[2014-12-10 16:07] xamanu opened #32 "Position navigation bar properly"
The navigation bar is placed very too near to the language selector. There the position of the navigation bar is, depends a bit on the amount of items (lenth of navigation). This is not a good desire and CSS needs to be adjusted to keep the bar always in it's place.

First reported by @ifrik in #15

[2014-12-10 19:59] ifrik opened #33 "Add skip link again"
The "skip link" is an accessibility feature for screen readers and should not be removed.

It's not visible in the default theme, so it's no problem having it there either.
Can you put it back?

[2014-12-10 20:27] #33 closed, assigned to pantierra

[2014-12-10 23:04] xamanu opened #34 "Getting theme sass files back on track"
I just wanted to do some theming for #32 and compiled Sass against it. But it looks like there are some lines in the css files that got added without being defined in the sass file. This should be fixed.

[2015-01-14 19:14] harry-wood opened #35 "Error on user page: Notice: Undefined index: title in field_extra_fields_get_display"
What's wrong on this page? http://hot.openstreetmap.org/user/52

Currently showing the error "Notice: Undefined index: title in field_extra_fields_get_display() (line 682 of /var/www/modules/field/field.module)."  in a red box at the top

[2015-01-14 21:49] ifrik commented on #35
I'm looking into it.

[2015-01-22 12:54] bgirardot opened #36 "Bad link on http://hot.openstreetmap.org/get-involved ?"
The section that reads:
HOT Separate OSM Data Store: A tool to store sensitive or non-OSM suitable data alongside the existing OSM dataset.
is linked to:
http://datastore.hotosm.org/
I am not sure if that exists or is just down, but it doesn't respond.

[2015-02-07 15:42] jeffhaack commented on #15
Could somebody explain to me the current functionality for adding a job posting?  I can't figure out how to post a job on the site.  The only thing under "Get Involved" now is the "Missing Maps Roster", which it says is a static page.  I am guessing this is different than adding an "Update", which is the only thing I can do.  Any help?

[2015-02-07 16:17] mikelmaron commented on #15
@jeffhaack, currently you create a "Static Page", then add it to the "Get Involved" Book, in the Settings panel in the bottom.

Also, I updated permissions so you (and other Content Editors) can create new Static Pages.

[2015-02-07 16:26] jeffhaack commented on #15
cheers Mikel

[2015-02-09 17:28] bgirardot opened #37 "Switch to Piwik for website stats"
To facilitate the sharing of our website stats, we would like to consider using Piwik to track traffic on the main HOT websites. One issue to consider is if the piwik stats would be fully public or restricted to just the HOT/OSM interested community.

[2015-02-09 18:50] bgirardot commented on #6
For what it is worth, I see that

http://www.hotosm.org/
and
http://hot.openstreetmap.org/

Are out of sync at the moment.

The page cache notice on www.hotosm.org seems to be quite old:

[2015-02-26 02:59] pierzen opened #38 "Role removed to an existing account"
Discussion with Felix DeLattre. He says that I have no role to edit on hot.openstreetmap.org.  I wonder how I was able to write all the updates so  far.

Could somebody look at Account pierre dot beland and fix the role problem with this account?

[2015-02-26 15:16] ifrik commented on #38
Done.
I think the problem was not that anybody removed your role, but that a change had been made with the permissions in general. You should be able to post again.
I leave this issue open to check whether it is a general problem

[2015-02-26 18:26] pierzen commented on #38
Thanks

Edition acccessible again.

Was there any restructuring of roles?

[2015-02-27 00:16] bgirardot opened #39 "Boost cache issue on www.hotosm.org"
I know this is a duplicate of a closed issue, but it still seems to be happening. I don't know how much of a concern it is since I don't know how much traffic that domain gets as opposed to the hot.openstreetmap.org domain but I thought I would make an issue for it just in case there is something we can do about it.

www.hotosm.org is days behind hot.openstreetmap.org with a boost cache comment th

[2015-02-28 00:29] bgirardot opened #40 "Language pop down menu does pop down for selection"
When I try to use the language pop down menu, I can never get it to pop down so there is no way for me to select another language. Tested on win7 FF, Chrome, and MacOS FF, Chrome, Safari

Edit: The pop down does work if I go to a non existent page and get the 404 page or if I am on any of the French pages, I can select English or French, but once I am on the regular English pages, the pop down sto

[2015-03-24 19:24] malenki opened #41 "Lead visitors to become contributers"
[Feature request]

When a visitor interested in helping HOT by enhancing OSM data he has (imho) a hard time finding the right place. Right now he has to discover the "get involved" link (which shouldn't be too hard) – but the link pointing to the task manager is in the middle of the following page "hidden" in a big text block.

[2015-03-25 09:45] ifrik commented on #41
Good point, there is lot of information on that page, but the structure probably doesn't fit anymore. Do you have ideas on how to re-do it?

[2015-03-25 18:48] malenki commented on #41
ifrik schrieb
am Wed, 25 Mar 2015 02:45:17 -0700:

Maybe a structure similar to this:

If you want to:

==  enhance maps ==

do
a) learnosm<link>

if you know a), do
b) look at the Taskmanager wiki <link> how to contribute to HOT

if you know b), do
c) select a mapping task at Taskmanager<link>

== talk ==
HOT Mailing lists <link>
IRC <link>

== develop ==
<stuff which is now at the website>

== j

[2015-04-15 06:56] jeffhaack opened #42 "hotosm.org shortlink?"
I am wondering if it would be possible to create a shortlink from the hotosm.org domain for our project in Dar es Salaam.  The idea would be to have a shortlink for the project, hotosm.org/RamaniHuria, which would redirect to OpenStreetMap over Dar <http://www.openstreetmap.org/#map=13/-6.8098/39.2739>.  Would this be doable?

[2015-04-27 18:31] harry-wood commented on #6
It's kind of a policy decision although there's tech aspects to it.

I don't think we can redirect tasks.hotosm.org to tasks.hot.openstreetmap.org (and not sure if we would want to)   But leaving tasks.hotosm.org where it is, while having our website at hot.openstreetmap.org is arguably less tidy. There's a certain clumsiness about having tasks.hotosm.org but then if you delete the 'tasks' from th

[2015-04-28 13:23] xamanu commented on #6
This makes sense to me @harry-wood (being one who also points people to the hot.openstreetmap.org domain).

I think it would be good to come to an decision here, as caching problems occur and those are partly related with the different domains, we are serving the site.

[2015-04-28 13:29] xamanu commented on #39
This still happens, and with the latest Nepal activation and the attention on the website, this is critical. As people might not find the expected information when visiting the website.

Somehow also related to #6

[2015-04-28 13:52] IknowJoseph commented on #6
Not only do we have issues of websites on subdomains, such as summit.hotosm.org, but we also have email addresses such as summit@hotosm.org (not to mention all of us who have our.name@hotosm,org).

I would say we standardise on hotosm.org and have hot.openstreetmaporg redirected to there.

[2015-04-29 05:03] xamanu commented on #6
Thanks for all the different opinions. This all seems very reasonable. How is the process on decision making? We could take a final decision in the next TechWG meeting or is this something the board should review?

[2015-04-29 10:22] harry-wood commented on #6
Actually I think the tech justification is strong enough that this should just be made to happen. We can do this on our own servers using a .htaccess file right? Maybe we could do a "302 (Temporary) Redirect", so that this decision can be reversed if necessary.

[2015-04-29 10:32] IknowJoseph commented on #6
Sounds good @harry-wood

Could this also be done with the sites-enabled entry? That's where I'd go to first, but I suppose it's personal preference(?)

[2015-04-30 16:17] pgiraud opened #43 "board members page is outdated"
http://hotosm.org/our_board

[2015-04-30 16:21] dodobas commented on #6
Done ... everything now points to http://hotosm.org ... for example http://hot.osm.org/projects/

[2015-04-30 16:25] xamanu commented on #6
Thank you @dodobas!
This here can be closed, I will have a look on #39 as this need some more verification.

[2015-04-30 16:25] #6 closed

[2015-04-30 16:37] xamanu opened #44 "Admin email for website"
Hello,

I just saw, in the website for the admin account and the global site's email address there are different private email addresses. I would suggest to have a special email address for the website, something like admin@hotosm.org or webmaster@hotosm.org

The best would be to have it redirected to the techWG email list, or to the one's that are assuming the role of the admin.

Thank you

[2015-04-30 16:52] harry-wood opened #45 "post-redirect link moving to hotosm.org"
We've redirect hot.openstreetmap.org -> hotosm.org fall the good reasons described at:
https://github.com/hotosm/hotosm-website/issues/6

As a follow-up we should think about all the places where we can fix links to point directly at hotosm.org where previously we linked hot.openstreetmap.org  The redirect means that it is not critical, it's just a way of setting the example and encouraging everyo

[2015-04-30 17:05] xamanu commented on #39
Cool, the domains are unified and we get only one content, no different anymore.

I had a further look on the caching and I realized that the cron job (no idea where it is getting called from) was already relatively old (almost 2 hours) and the caching was put to a maximum lifetime of 1 hour, which is quite crucial, because the frontpage is a view and not a direct update is happening to it (like i

[2015-04-30 20:04] xamanu commented on #31
There is a VPS I don't use - I got it as a present six years ago at a DrupalCon and it will be free forever :) At least this is what they told me....

I have no problems giving access to this server to people working on the project, as no other data is on it. Let's just use this for now. Maybe @dodobas wants to give it a nicer domain name (dev.hotosm.org or stage.hotosm.org or something link that,

[2015-04-30 20:31] jaakkoh commented on #43
A quick fix has been made. More content needed from board members (bios, photos).

[2015-04-30 20:39] xamanu commented on #37
I use Piwik for most of my websites and it is a great tool. You can even be nice to your visitors and not save their IP addresses forever. And it is not a great thing to maintain it. The stats are not automatically public, this is a more political decision to make.

[2015-04-30 20:40] xamanu commented on #42
This is doable. But nothing like this has done before. And such links seems to me, more like a page on the website, and not a redirect.

[2015-04-30 20:46] xamanu commented on #40
Related to #32

[2015-04-30 20:49] xamanu opened #46 "Cannot upgrade packages on hotwww server"
Hi @dodobas, can you please help me out. I just wanted to do simple apt-get upgrade (as root) but it fails here:

[code]

Thank you!

[2015-04-30 21:08] xamanu commented on #46
Just a note to myself: When this is done I shpuld not forget to install the PECL uploadprogress and check the OpenID Math library (issues from the drupal status page)

[2015-04-30 21:39] xamanu commented on #43
Thanks @jaakkoh. Just to connect the tickets: soon we should have the contents pulling directly from the user's profiles, #20
Cheers

[2015-04-30 22:28] xamanu commented on #34
Done.

[2015-04-30 22:28] #34 closed

[2015-04-30 22:57] xamanu commented on #40
Fixed. The language dropdown should now work. Thanks for reporting!

[2015-04-30 22:57] #40 closed

[2015-04-30 22:57] xamanu commented on #32
Fixed.

[2015-04-30 22:57] #32 closed

[2015-04-30 23:00] xamanu commented on #27
Opening again. Sorry, but I don't like this switcher. After fixing it's position in #32 there are now five (intended) languages, but three of them have no content yet. We need a nicer and more selective way of switching languages.

[2015-04-30 23:23] xamanu commented on #27
I changed it to the standard locale text switcher and did some theming to show it in a more decent way than a whole block. Once there are more languages we can easily restore the drop-down or think about an even nicer way.

[2015-04-30 23:23] #27 closed

[2015-04-30 23:30] #38 closed

[2015-04-30 23:31] xamanu commented on #35
I can't reproduce this (anymore). So closing, here...

[2015-04-30 23:31] #35 closed

[2015-04-30 23:34] xamanu commented on #41
Clearly related to a new design (#23) and should be taken into consideration

[2015-05-01 00:48] xamanu commented on #30
Footer looks now way better (inspired by the proposed theme)

[2015-05-01 00:48] #30 closed

[2015-05-01 01:10] xamanu commented on #41
I would actually consider this as a duplicate of: #21
Therefore closing here.

[2015-05-01 01:10] #41 closed

[2015-05-01 01:11] xamanu commented on #24
Yes, there is a simple mailchimp module we can use for. Now that @wonderchook is not with us (in HOT) anymore, I'm asking @mikelmaron and @jaakkoh, who might know who is managing this now.

[2015-05-01 02:33] xamanu commented on #20
Second level menu has to be implemented first: #29

[2015-05-01 02:38] xamanu commented on #29
A basic implementation of the second level menu can now be reviewed on the staging site: http://hotosm.mapanica.net/about

[2015-05-01 03:06] xamanu commented on #36
I wrote to the TechWG to ask about this.

[2015-05-01 03:07] xamanu commented on #15
Note to myself: Remove book navigation on the bottom of nodes.

[2015-05-01 03:16] xamanu commented on #9
* I saw, we can still add new countries (names) to the select list or manage the country list, in case it is not adequate in a certain case. I don't expect this to happen all the time, so manual adjustment should be fine.
* To ask everybody to login is going to be necessary, as we want to have a nice view with user images of all members (#15). I would suggest to define a bit more, what all should

[2015-05-01 04:48] xamanu opened #47 "Country field does not allow selection"
Reported by @jaakkoh:

[2015-05-01 04:53] xamanu commented on #47
This is an error that was caused by the half-way-deployment of #9, which stopped because of the disagreements on using a country select fields. I would suggest we use "git flow" (http://nvie.com/posts/a-successful-git-branching-model/) for code management so we encapsulate better certain features and their deployment into different  branches.

Anyway, I will have a look into that soon, so we can c

[2015-05-01 04:58] xamanu commented on #44
I talked with @jaakkoh today about this. He wanted to look into that.

[2015-05-01 05:00] xamanu commented on #14
@dodobas and @mikelmaron: Now that we have consolidated to one single domain: hotosm.org (#6) Can we proceed in buying this certificate?

[2015-05-01 05:03] xamanu commented on #39
After I have seen a new post being published quickly I think we can close this here.

[2015-05-01 05:03] #39 closed

[2015-05-01 05:24] xamanu commented on #28
Good idea, but for making #29 happening, I'd suggest, to just start in having a content type and a view (which is already a good improvement). Once there is more concrete input on workflows using together with hiring sites, then we can see how to unite this.

[2015-05-01 05:25] xamanu commented on #37
@dodobas Would it be possible to set up a Piwik instance in some part of our nice server space?

[2015-05-01 05:29] xamanu opened #48 "View for users by their working group"
We need a view for that, and put it under the description texts for working groups.

[2015-05-01 05:30] xamanu commented on #15
A first preview of this restructuring can be reviewed at the staging site: http://hotosm.mapanica.net (user and password is "hotosm").

Missing:

- Text for call to action for Activations (Wanna map?)
- Text for working group
- Show users by their working group (#48)
- Job functionality (#28)

[2015-05-01 13:50] wonderchook commented on #24
@KristenEgermeier manages this.

[2015-05-01 14:50] dodobas commented on #46
hotwww is a real 'server' so there might be issues, I can upgrade/install new packages just give me a list of things to install

[2015-05-01 15:03] dodobas commented on #31
so we have a dev.hotosm.org subdomain... on which I've added www.dev.hotosm.org A record that points to your server, is that ok?

[2015-05-01 15:37] xamanu commented on #46
In the first place it is just to do a regular package upgrade (apt-get upgrade) and make sure it runs properly and then install the "cron" package. Thank you!

[2015-05-01 15:37] dodobas commented on #37
we already have it setup... piwik.hotosm.org ... this is the tracking code for the hotosm.org web

I would suggest to run both piwik and GA in parallel for a while
[code]

[2015-05-01 15:38] xamanu commented on #31
Perfect! Thank you, @dodobas.

[2015-05-01 15:38] #31 closed

[2015-05-01 16:01] xamanu commented on #47
I made sure the country field now pulls the proper data about countries and created an account for Tylor. Thank you @jaakkoh for reporting.

[2015-05-01 16:01] #47 closed

[2015-05-01 16:04] xamanu commented on #9
This caused problems that needed to be fixed rapidly, because no user profile was able to be saved, so I proceeded in the implementation.

[2015-05-01 16:04] #9 closed

[2015-05-01 16:16] xamanu opened #49 "Description texts for working groups"
We now have the possibility to present the working groups and assign people on the website to be members of them (#12). Before we can make this really public we'd need suitable and short (!!) texts for each working group: http://hotosm.org/working-groups

Thank you!

[2015-05-01 16:18] xamanu commented on #12
This works for the selection on users now. They can be assigned to working groups. There is a (still not completely public) overview: http://hotosm.org/working-groups

* We need good texts for them: #49
* It is missing to show related users on the bottom of each working group.

[2015-05-01 16:24] xamanu commented on #10
This works generally now, we just need to hide hot leadership field for non-admin users

[2015-05-01 16:30] xamanu opened #50 "Call to action text for activations"
We'd need a good and short text that gives people a starting point on how to get involved in activations. Check the dev site please:

http://www.dev.hotosm.org/activations (user and password is "hotosm")

[2015-05-01 17:12] xamanu opened #51 "Voting member view"
For the voting members it would be good to have a view of fotos instead a long list of names

[2015-05-01 17:23] xamanu commented on #43
I got photos for all board members. Only the bio texts for Blake and Jorieke are missing.
You can also check the new board view (in progress) as a logged-in user: http://hotosm.org/leadership/board

[2015-05-01 18:07] xamanu opened #52 "User bar for authenticated users"
When a user is authenticated but has no editor nor admin role, there is almost no way to see that he/she is logged in, where to come to edit their own profile and how to log out.

The only thing that distinguishes a logged in from a logged out user is the small little link to logout at the end of the page. As we want the voting members to login, we have to give them a more intuitive way to find th

[2015-05-01 18:11] xamanu opened #53 "Theme user profiles"
User profiles don't look very good, especially the part of involved projects. This needs some theming love.
See, for example:

* http://hotosm.org/users/jaakko_helleranta
* http://hotosm.org/users/mikel_maron
* http://hotosm.org/users/felix_delattre

[2015-05-01 18:42] xamanu opened #54 "Introducing a branching workflow"
In different occasions we have had problems on separating issues and code developments. This has lead to different complications. So I'd suggest to use branches for each ticket (group of tickets). A good and well documented workflow is the one proposed for "git flow" http://nvie.com/posts/a-successful-git-branching-model/
The advantage of git flow is that there is already a family of scripts to ea

[2015-05-01 19:14] xamanu commented on #51
This is somehow related to #48.

[2015-05-01 19:14] xamanu commented on #48
This is somehow related to #51.

[2015-05-01 19:59] xamanu commented on #28
Hey, there is a still unlinked job functionality now on the website: http://hotosm.org/jobs

* Jobs are now a separate node and can be created using the grey admin bar on the top.
* Job nodes have a date field to indicate the application deadline.
* Not-logged-in-users get only a listing of open job offers.
* Authenticated users get also a list of past job offers.

Please check if you want to adju

[2015-05-01 20:12] xamanu commented on #10
Done.

[2015-05-01 20:12] #10 closed

[2015-05-01 20:17] xamanu commented on #20
This is quite done: http://hotosm.org/leadership/board (you have to be logged-in to the website)
It pulls information from the user profiles  (bio) and their status from the leadership field (#10).

Feedback is appreciated.
Thank you

[2015-05-01 20:22] xamanu opened #55 "Allow users to select working groups and projects affiliation?"
We have some fields for the users:

* Projects they participated
* Working groups they are active

Right now, each user can define them by himself/herself. Is this the desired behaviour? Or do we want to restrict this to a certain role (content editor, or site admin)?

[2015-05-01 20:28] xamanu commented on #49
For now I just took the ones from the wiki (not very good).

[2015-05-01 22:54] xamanu commented on #51
So, we have now a voting member list with photos: http://hotosm.org/leadership/voting-members
It is not linked from anywhere, so we can use this to make use we get all the data together.
Only members are shown, that are voting members (flag in the profile) and have a full name in the field in the profile.

Maybe we should go through the accounts and compare it with the lists of voting members, adj

[2015-05-02 01:09] xamanu commented on #48
This was implemented:

* Members on the working groups overview page: http://hotosm.org/working-groups
* Members for each working group, e.g.: http://hotosm.org/working-groups/technical

Please check if this is how it should be. Any feedback is appreciated.
It would be good to assign users to their working groups, so we have a fuller list.

[2015-05-02 01:48] xamanu commented on #15
ok. This is coming to an end. Please review on the staging site: http://www.dev.hotosm.org (user and password is "hotosm").

There is a new structure with all the new views for members, board, jobs and working groups. And we use a second level menu (#29).

Please give feedback, so we can proceed and push this live. Thank you!

[2015-05-02 02:17] xamanu commented on #52
Done. All users have now the grey toolbar on the top, when logged-in. When users have no role, they only have one link: My profile. This is a good start and can be extended, depending on more functionality we'd give to the users.

[2015-05-02 02:17] #52 closed

[2015-05-02 02:46] xamanu commented on #53
* Some progress here, but still more theming needed, in order to look really good.
* The twitter handle and the osm name should link to the external pages.
* Information about being a voting member, part of the board or the executive director (coming from flags) needs to be displayed on the profile.

[2015-05-02 02:54] xamanu commented on #51
Practically #52 and #53 are on a level now, that we could invite people to complete their profile information and upload a picture.

[2015-05-04 13:18] xamanu commented on #37
I just added the code. Both, Piwik and GA, are active for now. Once we see stats coming in through Piwik we can disable GA. So leaving this open, until then.

[2015-05-04 14:48] KristenEgermeier commented on #24
Hi @xamanu ,
Sorry for the delayed response, catching up after the Summit.  I manage mailchimp (along with a few others)- how can I help you?

[2015-05-04 14:50] xamanu commented on #24
@KristenEgermeier Is there a general HOT newsletter we would like people to be able to subscribe through the website?

[2015-05-04 15:10] KristenEgermeier commented on #24
@xamanu We are actually working towards a newsletter but it's not currently ready yet.  I think a subscription through the website in the future would be great.  I just don't want people to think that they are going to get one right away.  I hope to have one within a few months though.
I don't think we want to ping everyone, every time we have a new website update, that might be too much.  Our new

[2015-05-04 15:19] xamanu commented on #24
@KristenEgermeier ok, great! Just let us know, when you have the newsletter set up (and a team behind it) and we can easily integrate mailchimp on the website, so that people can easily subscribe.

[2015-05-04 15:20] KristenEgermeier commented on #24
@xamanu Perfect, thanks so much!

[2015-05-06 13:11] xamanu commented on #44
@jaakkoh, any news on that?

[2015-05-07 22:45] techlady opened #56 "Press section"
There should be a press page (section, actually) that includes
--Main page: basic info, including About HOT, press contacts, names of board and executive director plus links to subpages below
     --Press releases: a place to post all press releases, by date
     --Press resources: graphics, photos, video
     --HOT in the News: links to news articles about HOT or the articles themselves, by date

[2015-05-11 13:31] xamanu commented on #56
Yeah, this would be great. Generally I see no technical problems on setting up such a section.
Before mixing it up with the content restructuring I would like to have it separate, so we can deploy one part and then do the other.

@techlady proposed to have it in the navigation on first level with the following sub-pages
.
* Press (with Press Contacts)
     * Press Releases
     * Updates
     * HO

[2015-05-11 13:36] xamanu opened #57 "Contact form"
Do we want the mail form (http://hotosm.org/contact ) on the website to be linked in the main navigation? Or maybe in the footer? @techlady mentioned it in the restructuring content process (#15) and it is indeed not linked anywhere.

I'd also suggest we need a (very) brief text to introduce the contact form. What do you think?

[2015-05-11 13:38] xamanu commented on #57
Ah, and the email addresses in the website are not good, as they do not reach HOT. Before we get this out, we need proper email address(es): #44

[2015-05-11 13:41] wonderchook commented on #44
@KristenEgermeier is the email admin and could make a new email address to redirect if needed.

[2015-05-11 13:55] xamanu commented on #44
Thanks @wonderchook! I wrote @KristenEgermeier an email, directly.

[2015-05-11 14:32] techlady commented on #56
Everyone,

A couple of more things that this part of the web site would need technically. These pages would be quite dynamic. "Press Releases," "Updates" and "HOT in the News" could be changed as often as daily. So, they need to be easy to post to. I also forgot to add a fourth subhead "Press Resources," which would include photos, logos, graphics (such as maps) and even video. Again, these pages

[2015-05-11 14:34] techlady commented on #56
As for the text, not much is needed. Much exists already. I will try to gather what there is.

[2015-05-11 14:53] techlady commented on #57
Felix,
What do you see as the purpose of this email contact form? Is it just to contact someone at HOT? And, where would it be? On the "Contact" page? We also need to have phone numbers.
Also, I'm not sure what you mean by "linked in the main navigation" or "Maybe in the footer,":

[2015-05-11 15:56] mikelmaron commented on #57
info@hotosm.org is the main catchall. * Mikel Maron * +14152835207 @mikel s:mikelmaron

     On Monday, May 11, 2015 10:53 AM, Charlotte Wolter <notifications@github.com> wrote:

 Felix,
What do you see as the purpose of this email contact form? Is it just to contact someone at HOT? And, where would it be? On the "Contact" page? We also need to have phone numbers.
Also, I'm not sure what you mean

[2015-05-11 18:48] xamanu commented on #37
Seems to work properly: http://piwik.hotosm.org/index.php?module=CoreHome&action=index&date=yesterday&period=day&idSite=5#/module=Dashboard&action=embeddedIndex&date=yesterday&period=day&idSite=5&idDashboard=1

Any reason why not to disable Google Analytics tracking, @dodobas? Or shall I proceed?

[2015-05-11 19:04] xamanu commented on #57
@techlady, I thought you mentioned it. For me there is no need to put this anywhere, as the email is publicly available. So, closing here. Thank you!

[2015-05-11 19:04] #57 closed

[2015-05-11 20:40] bgirardot opened #58 "Improve the "Updates" page visually"
That page is just sort of a list of small excerpts from the updates, it would be nice if it could just get improved a little, maybe pull in some graphics from the updates as well?

I don't have a good idea for how to make it look better honestly, but if Felix could give it a try I am sure it will improve.

[2015-05-11 21:51] xamanu commented on #58
@bgirardot Here are some tweaks to the updates page: http://www.dev.hotosm.org/updates (username and password is "hotosm").

What do you think? It is not a huge improvement, but added some more space between the entries and showing the first image of each article (if there is one)

[2015-05-11 21:57] xamanu commented on #58
Done: http://hotosm.org/updates

[2015-05-11 21:57] #58 closed

[2015-05-11 22:09] xamanu opened #59 "Staff view"
@mataharimhairi mentioned today, that a staff view is requested. In order to be able to develop something like that, I'd like to know, what staff HOT is having right now.

* Executive Director
* Technical project manager

....???

[2015-05-11 22:26] xamanu commented on #59
@KristenEgermeier said in email conversation that the positions for staff in HOT would "change fairly frequently", so we should think about a simple checkbox for users, when they are a staff member and a free textfield for their position.

[2015-05-11 22:30] xamanu commented on #21
Ongoing, future or past could be done by the use of a drop-down, which has to be changed when the state changes. Or a date field to specify start and end date (the second one is optional). I'd go for this solution, because this way we collect the information about the exact dates of the projects, at the moment of happening. This information is not held anywhere (the wiki is a little bit inconsiste

[2015-05-11 22:51] xamanu opened #60 "Consolidate user database"
For the staff view (#59) and the voting member overview (#51) we need to make sure that we have solid data about users in the system.

Right now we have:

* 98 user accounts on the website

We have to make sure:

* All 83 voting members have an account, and are marked as voting members on their profile.
* All staff members have an account, and are marked as staff on their profile.
* Check on the o

[2015-05-11 22:59] xamanu commented on #56
Yes, in order to build this, it would be good to have the text and the materials (logo, photos, graphics, videos...), so we can think about presenting them in a good way.

Yes, press releases and HOT in the news, would be special content types, which can be filled in with proper forms and are very nice and dynamical to handle.

[2015-05-11 23:19] xamanu commented on #59
I started adding two fields to the users:

- [x] A flag to select a user as a "staff member"
- [x] A text field to specify the "staff position"

Next steps are:

- [ ] A view to display and order staff members
- [ ] Identify all staff members and their positions. This could be a list that is sent to me, or it can be edited by admins on the website directly.

[2015-05-11 23:45] techlady commented on #21
A good way to handle it would be to have big "buttons" on the Home page that lead to the current activations. Obviously, the top one would be the most urgent activation. The buttons should be big enough that they would be readily visible to someone looking to join an effort, such as Nepal. Probably they should be on the right side. It should be easy to create, remove or change the order of buttons

[2015-05-11 23:52] techlady commented on #21
As for Felix's four categories of projects, they look good to me.

[2015-05-12 00:06] techlady commented on #56
Felix,
Each project is different, and for most of them we don't yet have copy or photos. What is needed is a page for each project that will be easy for the project coordinator to edit: to put in copy, to add photos, etc.
Also, press releases are not really special copy types. Most press pages have a subpage labeled "Press Releases" with the date, headline and subhead of each press release. Each o

[2015-05-12 00:24] techlady commented on #50
Don't use the word "activations"! No one outside of HOT knows what it means!
What is needed is something very obvious on the Home page. My idea was big buttons, but I don't care as long as it's really visible.
How about "Nepal Earthquake Emergency Mapping"?
And, yes, the buttons would change with each new activation.

[2015-05-12 00:27] techlady commented on #50
You can put the same thing under "Get Involved."

[2015-05-12 00:34] techlady commented on #52
I'm not sure what is the purpose of this discussion. A relatively small number of people will have the ability to edit the web site: the executive director, Kristen, the board members, Felix (for example). Project coordinators will be able to edit only their own pages.

[2015-05-12 01:29] xamanu commented on #52
We already have 93 user accounts on the website. Most of them can not do anything. Now people can at least find their own profile and we have the ability to add more to it, when/if needed

[2015-05-12 01:34] xamanu commented on #56
Thank you for the information @techlady! Hm, first I understood this as global (HOT) press section. Now I understand that it should be connected to each project. Do we have the wo/manpower to do this? Wouldn't it be just a good start to have a global section? And get the stuff together for HOT in general and then we see if we should extend it to the projects. Or is this feature request more toward

[2015-05-12 01:38] xamanu commented on #21
Thanks for the input @techlady!!! I also agree that these activations should be very visible. There is a new graphic design in planning (#23) and I'd suggest to focus bigger visualization changes all together with this.

Let's focus here first on getting the technical base for categorizing the project implemented and visualize the ongoing activations as such. This is a relatively small improvement

[2015-05-12 01:40] techlady commented on #21
Yes, but don't use the word "activations"

[2015-05-12 01:43] xamanu commented on #21
@techlady :+1: makes absolutely sense.

[2015-05-12 01:49] techlady commented on #21
I still like Felix's types of projects:
Community Development
Emergency Mapping
Technical Development
Am I missing one? I seem to remember that he had a fourth category and that it made sense to me.

[2015-05-12 01:50] techlady commented on #21
Xamanu.

Let's finish with the basic outline before we start getting into how to do it graphically. Once we know what page headings we want, then we can come up with graphics.

[2015-05-12 01:51] xamanu commented on #44
ok, thank you @KristenEgermeier for setting this up! The general website's email address is info@....(as the general input channel) and the main admin account is now connected to webmaster@.... which is a list and people (tech wg, etc.) can request to be one of the receivers.

[2015-05-12 01:51] #44 closed

[2015-05-12 01:53] xamanu commented on #21
"Field deployment" was the forth category :)

[2015-05-12 03:27] techlady commented on #56
No, Felix, I think you misunderstood me. The press page IS a global page. It is NOT connected to each project. The sentence I wrote above about the project pages is separate from the point I was making about the press page.

[2015-05-12 03:29] techlady commented on #56
My idea for the project pages is that, as Russ suggested, each project should have its own landing page. Then, each project coordinator can add updates (text), photos, graphics, etc. Russ gave this page http://hotosm.org/projects/tanzania as an example.

[2015-05-12 03:31] techlady commented on #56
Here is how I would structure the press page:
Press landing page (with press contacts)
--Press releases (list of headlines by date linking to PDFs of press releases)
--Press Resources (photos, etc.)
--HOT in the News

[2015-05-12 03:33] techlady commented on #21
How is the different from "Community Development"?

[2015-05-12 08:59] mataharimhairi commented on #59
@xamanu I e-mailed over the list of current staff members with their positions. I guess you can initially add them, and they can be adjusted individually as things change, if that works for you?

[2015-05-12 19:51] russdeffner commented on #21
I would say that "Field Deployment" highlights more of the projects where HOT 'compensates' people for field work. Community Dev more like missing maps where HOT isn't directly financing anyone to go, but generally supporting the effort.

[2015-05-12 19:55] russdeffner commented on #37
I would suggest if it isn't a problem to run both until next Tech WG meeting, then maybe a more 'formal' decision to disable GA.

[2015-05-12 20:03] russdeffner commented on #43
Looking great, I can reach out to Blake and Jorieke about bios.

[2015-05-12 20:05] wonderchook commented on #21
I would say "Field Deployment" isn't ideal calling is the "Field" is well...not great people live in that "Field". Also is it still a Field Deployment when people that live there are compensated to work on community development?

[2015-05-12 20:11] russdeffner commented on #52
There are 86 voting members, and this list is correct here: http://hotosm.org/our_board/membership
If the 'alumni' have profiles the should be deleted/archived

[2015-05-12 20:12] russdeffner commented on #53
I'm ok with mine: http://hotosm.org/users/russell_deffner

[2015-05-12 20:14] russdeffner commented on #51
As also commented in https://github.com/hotosm/hotosm-website/issues/52 There are 86 voting members, and this list is correct here: http://hotosm.org/our_board/membership
If the 'alumni' have profiles the should be deleted/archived

[2015-05-12 20:15] russdeffner commented on #51
https://github.com/xamanu - once you have verified that all members can get to their profile, I will email the list; please provide 'very simple instructions' that I can give.

[2015-05-12 20:16] russdeffner commented on #21
Agree Kate - and I think it is fine to join deployments in community dev.

[2015-05-12 20:27] russdeffner commented on #60
Also commented on https://github.com/hotosm/hotosm-website/issues/51 - there should be 86 voting members, list at http://hotosm.org/our_board/membership is correct

[2015-05-13 18:35] russdeffner commented on #49
@xamanu is there no Security WG showing on http://hotosm.org/working-groups because no members?

[2015-05-13 18:37] russdeffner commented on #49
Also looks like there is some inconsistent formatting with the member pics, I think it looks best in the Activation and Tech format.

[2015-05-13 18:44] russdeffner commented on #50
My two-cents would be that we go with 'emergency mapping' and it actually goes under projects. We'd still need a sentence or two, such as "HOT is currently operating these emergency mapping projects. Click on a specific response to learn more and start contributing."

[2015-05-14 18:23] xamanu opened #61 "Color of footer"
Change footer colour to "official" HOT red.

[2015-05-14 18:53] techlady commented on #50
Russ,
I rather like "Crisis Mapping." It's shorter and has more punch.
As for what to say, how about just a headline saying "Current Crisis Mapping Projects"?

[2015-05-15 21:19] xamanu commented on #50
Today in the communications working group it was proposed to use: Disaster Mapping. @techlady offered to write the text. Thanks!

[2015-05-15 21:26] xamanu commented on #21
The communications working group proposed in today's meeting the following categories for projects:

* Disaster Mapping
* Community Development
* Technical Projects

And to use a date field for the information about past, ongoing or future projects,

[2015-05-16 17:42] techlady commented on #50
As requested by Felix, here is a short text to explain "Emergency Mapping"
When a disaster or political crisis happens, HOT leaps into action to map the affected area. Disaster responders, such as the Red Cross and Doctors without Borders, tell HOT that having detailed maps, especially with roads and buildings, is a big help in responding to these crises. Anyone can get involved. To get started, g

[2015-05-18 15:53] mataharimhairi commented on #59
@xamanu I tried out the staff page and it is looking really good! I love that you can link the projects we are working on. However there are only links to projects currently listed under the Projects page.

Other projects such as developing the Field Papers tools, the Activation Curriculum and OpenAerialMap would have to be added, but I assume you need the information. Should I go ahead and add th

[2015-05-18 16:26] xamanu commented on #59
@mataharimhairi yes, this is fine. I add the users and they can later specify their data.
Which staff page have you been looking at?

Al things regarding the project pages should be a new issue or, in case it is connected, to be posted in #21.

[2015-05-19 13:10] xamanu commented on #50
Thanks. Online: http://hotosm.org/emergency-mapping

[2015-05-19 13:10] #50 closed

[2015-05-19 13:10] xamanu commented on #20
Online: http://hotosm.org/board

[2015-05-19 13:10] #20 closed

[2015-05-19 13:11] xamanu commented on #15
It's finally live! :)

[2015-05-19 13:11] #15 closed

[2015-05-19 13:11] xamanu commented on #29
Done.

[2015-05-19 13:11] #29 closed

[2015-05-19 13:12] xamanu commented on #28
Live: http://hotosm.org/jobs

[2015-05-19 13:12] #28 closed

[2015-05-19 13:20] xamanu commented on #37
Not just, last tech meeting it was common sense in the techweg to switch over to Piwik. I've heard nobody arguing in favour of GA. So, why wait for one entire month? We just have to check if this is working and then we can switch it off in my opinion.

Please, let's get things done.

[2015-05-19 13:22] xamanu commented on #42
I would give it a "won't fix". As this would be a new functionality, which nobody else has said he/she needs and it confuses people as they would expect to land on the hot website and end up on osm.
Leaving this open here, so other people can give their opinion.

[2015-05-19 13:23] xamanu commented on #56
Please get all stuff together on a wiki page and then we can check how to technical implement this. Thank you!

[2015-05-19 13:26] xamanu commented on #51
Online: http://hotosm.org/voting-members
To go through all users and consolidate data is going to be handled in #60

[2015-05-19 13:26] #51 closed

[2015-05-19 13:28] xamanu commented on #36
No answer from TechWG. So I took this one out of the text. Thanks for reporting!

[2015-05-19 13:28] #36 closed

[2015-05-19 13:29] xamanu commented on #49
@russdeffner said in the last communication wg meeting, he would ask all groups to improve their text snippet in the wiki, so we can use these on: http://hotosm.org/working-groups

[2015-05-19 13:30] xamanu commented on #46
Still the same problem here. I can't upgrade/install new packages. @dodobas, any idea?

[2015-05-19 13:31] xamanu commented on #43
@russdeffner any news from Blake and Jorieke? Still no text online in the board view: http://hotosm.org/board Thank you!

[2015-05-19 13:32] xamanu commented on #45
Any update on this?

[2015-05-19 13:35] russdeffner commented on #55
I think Projects and Working Groups is fine - self-selecting the "Board Role" we might want to restrict.

[2015-05-19 13:35] xamanu commented on #25
I proposed this to the communications wg, but no answer about this. Looks like there is not a big interest in using videos on the website :( I will give it another try and mention it on the next meeting, if nothing is going to happen I'd suggest to disable this functionality.

[2015-05-19 13:37] russdeffner commented on #25
I think this is longer term site improvements - there was a lot on the agenda for the group (and some confusion about immediate enhancement vs. longer term site design.  I would keep the functionality around until we get a solid long-term plan.

[2015-05-19 13:39] russdeffner commented on #43
I will write an email to the membership after the meetings today - asking for everyone to update their profiles, as well as some of the other issue needs.

[2015-05-19 13:41] russdeffner commented on #50
@xamanu - there is no link to the Tasking Manager on the page.

[2015-05-19 13:42] xamanu commented on #21
So, we know have two new fields on project nodes: "Project type" and "Timespan". I'd like to ask somebody go through all projects and fill in this information, so we can work on the visualization. Thank you!

[2015-05-19 13:44] xamanu commented on #54
Right, using Git Flow now!

[2015-05-19 13:44] #54 closed

[2015-05-19 13:47] russdeffner commented on #29
So @xamanu - please double check the capitalization on the second level menu; example: on the Get-Involved page, it currently reads "Emergency Mapping _ Working groups _ Jobs" - should capitalize "Groups" - think I saw another case of this somewhere else too.

[2015-05-19 13:52] xamanu commented on #29
Thanks, @russdeffner! I changed this and also "Voting Members".

[2015-05-19 13:56] xamanu commented on #60
@russdeffner wrote in #43: "I will write an email to the membership after the meetings today - asking for everyone to update their profiles, as well as some of the other issue needs."

This is great! Please ask voting members that have no profile to create one: http://hotosm.org/user/register

I'd like to give it a 48 hours timespan. Of course, I know, not everybody will make it. But this allows u

[2015-05-19 14:05] xamanu commented on #60
@russdeffner I can give you a short text you can use in your email. Give me a couple of hours to wrap some functionality up and I send it to you.

[2015-05-19 15:14] xamanu commented on #61
Done.

[2015-05-19 15:14] #61 closed

[2015-05-19 15:24] xamanu commented on #48
Implemented.

[2015-05-19 15:24] #48 closed

[2015-05-19 15:32] xamanu commented on #50
@russdeffner thanks for reporting. I just changed it. Btw, all content editors can do this as well.

[2015-05-19 15:59] xamanu commented on #23
A real redesign is going to be planned. Some stuff happened end of last year. Here is the document, so we do not loose anything at least:

* https://hackpad.com/HOT-Website-redesign-WCUe4mmltqk
* http://prk.ng/hot/HOT-webdesign-v1.jpg

This is a bigger task and needs a special initiative.

[2015-05-19 16:03] techlady commented on #21
Delix,

         It's Time Span, two words.

Charlotte

At 06:42 AM 5/19/2015, you wrote:

Charlotte Wolter
927 18th Street Suite A
Santa Monica, California
90403
+1-310-597-4040
techlady@techlady.com
Skype: thetechlady

[2015-05-19 16:06] techlady commented on #21
Filling in all the information could take some time. Besides, I think only Tyler knows all the projects. I say we give this to him, at least to get started. Then we ask each project coordinator to add some details, maybe giving them a suggested length, such as 100-125 words (about a quarter page).

[2015-05-19 16:09] techlady commented on #21
By the way, how are we going to display the information about each project. A headline and a picture followed by a paragraph of text? Then a link to the project page (which will grow as each coordinator adds text and pictures)?

[2015-05-19 16:59] xamanu commented on #55
Makes sense, @russdeffner. I implemented it like this. Only users (admins and editors) who are allowed to set board membership flags can not edit this field on the board role.

[2015-05-19 16:59] #55 closed

[2015-05-19 17:00] xamanu commented on #53
Looks great! :) But I'd still like to improve it a bit: smaller headlines and a link to the Twitter and OSM profiles.

[2015-05-19 17:08] xamanu commented on #21
@techlady, i fixed "time span". Thanks! Yes, Tyler offered to go through the projects. I'm going to send him an email.

[2015-05-19 17:33] xamanu commented on #12
All questions are in sub issues and this is live -  so closing.

[2015-05-19 17:33] #12 closed

[2015-05-19 18:19] xamanu commented on #53
Now I like it :+1:

[2015-05-19 18:19] #53 closed

[2015-05-19 18:35] russdeffner commented on #43
I think we could close/merge this with https://github.com/hotosm/hotosm-website/issues/60 - am I correct that the Board page will now populate with user profile that have the 'Board Role' set?

[2015-05-19 18:42] xamanu commented on #60
@russdeffner I propose another workflow:

1. Through the website I send out an email to all existing accounts, asking them to update their profile.
2. After 48 hours we compare the list of voting members to a new user view I just created (only visible for admins) http://hotosm.org/admin/hot-users
3. We compare the list of staff members to the new user administration view.
4. We create new accounts

[2015-05-19 18:42] xamanu commented on #43
yes! Closing here. Thanks!

[2015-05-19 18:42] #43 closed

[2015-05-19 18:43] russdeffner opened #62 "Special leadership roles"
This is mainly a suggestion to switch "Board Function" section of user profiles to "Leadership Role" as technically the Chair of Voting Members is not a 'Board' thing; this would also allow things like Staff and Voting Members to more accurately be included there.

[2015-05-19 18:46] russdeffner commented on #60
Yes, absolutely - as I assume you, @xamanu already compared with the member spreadsheet I shared with you?

[2015-05-19 18:51] xamanu commented on #60
Yes, on the website we have 68 accounts marked as voting-members. On the list we have 86. There is a difference of 18. I'd like to have people updating their full name, so we can match them more easily and detect the ones that are not marked as voting members or do not have an account.

[2015-05-19 19:00] russdeffner commented on #60
ok, so this is maybe related to the issue I just created: https://github.com/hotosm/hotosm-website/issues/62 - before we send invite, we should probably just go ahead and let everyone set their 'leadership role', maybe some of the other accounts just aren't set as voting members yet; also then staff can select staff or contractor role (is that implemented? should I open issue to add those two to t

[2015-05-19 19:06] russdeffner commented on #59
@xamanu @mataharimhairi this is somewhat related with https://github.com/hotosm/hotosm-website/issues/60 and https://github.com/hotosm/hotosm-website/issues/62 - I think for now it is easiest if we can 'lump' everyone (staff, voting members, etc.) into "Leadership", example why is currently my profile: http://hotosm.org/users/russell_deffner is showing "Board Function: Chair of Voting Members" whi

[2015-05-19 19:09] xamanu commented on #62
I agree, Chair of Voting Members should not be inside Board functions. The executive director is right now a special "flag", which does not seem to fit either. So let's use this issue to talk about these.

Do we need a separate category for leadership roles? Are the more than Chair of Voting Members?
Executive director should go under staff, I guess...?!

As this is just related to a few people it

[2015-05-19 19:15] russdeffner commented on #62
I think this simplest answer right now would be to simply change the title of that section on the user profile to "Leadership Role"; then we can have a list; here is my best attempt:
* Board Member
* Voting Member
* Staff
* Contractor
* Volunteer Lead

I think that makes it general enough for the meantime, then during longer overhaul we can figure out if we need more/less/special 'flags'

[2015-05-19 19:16] xamanu commented on #59
@russdeffner I don't think it would be a good idea to put everyone into Leadership. It makes sense, technically to handle separately being staff, a voting member or part of the board.

I agree that Chair of Voting Members should not be in the Board function, as you are not on the board. And we should figure out in #62 how to handle this very special case.

[2015-05-19 19:22] xamanu commented on #62
Yes, volunteer lead sounds great!

[2015-05-19 19:23] xamanu commented on #59
In #62 @russdeffner proposed to make a separation on the users between:

* staff
* contractors

Do we have to display them separately? Or wasn't it just a naming issue that we wanted to call the whole section "Staff and contractors"?

[2015-05-19 19:37] KristenEgermeier commented on #59
They need to be named separately as well.
Thanks,
Kristen

Kristen Egermeier
Operations Manager
805-279-1116

[2015-05-19 19:39] xamanu commented on #59
ok. Good to know. Will we have more types of staff in the future? Would volunteer leads fit under staff, as separated as staff, contractors, volunteer leads?

[2015-05-19 19:53] KristenEgermeier commented on #59
In the future we might want to include those, but not under staff.

Kristen Egermeier
Operations Manager
805-279-1116

[2015-05-19 22:48] xamanu commented on #60
Mail sent out to all users. Waiting now two days (at least) for people to update their profile.

[2015-05-20 04:16] mataharimhairi opened #63 "Adding additional HOT activities and projects"
I would like to add some additional projects that are not country or activation specific, but are also important as the public should be informed on other activities of development HOT are involved with. This allows them not only to be informed but also provide them the contact details if they also want to contribute or collaborate:

* Field Papers Development
* Export Tool Development
* Activatio

[2015-05-20 14:32] xamanu opened #64 "Backup strategy"
As far as I know we are not really backing up anything. Code is in github, which should be fine. But the database should be regularly exported and saved in some place. @dodobas is there such a backup server where we can upload database backups?

I'd be happy to write a small script that does this on a regular basis.

[2015-05-20 14:34] xamanu commented on #63
I'd say yes @mataharimhairi. Especially after introducing the categories for projects we now can add other types of projects. You can add projects by clicking "Add project" on the top navigation bar for "content editors".

[2015-05-23 08:56] jeffhaack commented on #42
I can understand that, and it makes sense to me.  Thanks!

[2015-05-24 20:26] russdeffner commented on #63
@mataharimhairi and @xamanu - correct me if I am wrong, but are we not 'waiting' on some of these Tech projects to get a Project Page built before we 'launch' the categorizing? In other words - can I help by building some of these pages? I also sent a note to @dodobas that we would be doing this soon so maybe he can help get text and graphics for LearnOSM, the TM, etc. from the volunteer leads of

[2015-05-24 20:34] russdeffner commented on #59
Something that @xamanu and I discussed about this (please correct me Felix).
Basically at the 'highest order' of 'flags' (i.e. categories of users) we currently have: "voting member", "board member", "staff" and "executive director".

I think we need this to be: "voting member", "board member", "staff and contractors" and "(other)Leadership". The (other) Leadership would be for our volunteer leads

[2015-05-25 02:22] mataharimhairi commented on #59
@russdeffner @xamanu How about this:

* Voting Member
* Board Member
* Executive Director
* Staff
* Interns
* Leadership (other) - to include volunteers such as the mentors on the Outreachy program and the great work by Pierre Beland, Rafael and Maning, just to name a few.

[2015-05-25 14:42] xamanu commented on #42
Thank you @jeffhaack
And please feel free to provide other suggestions for the website in the future.

[2015-05-25 14:42] #42 closed

[2015-05-25 14:43] xamanu commented on #63
@russdeffner great, please go for it!

[2015-05-25 14:50] xamanu commented on #59
ok! I think it becomes clear we want to have for sure:

* Voting Member
* Board Member
* Staff
* Leadership (other)

But there are other categories that are mentioned and I'd suggest to put them in a second level hierarchy under staff:

* Executive Director
* Employee
* Contractors
* Interns

There could be a drop-down selection "staff type", similar to what we have already for the "board role".
P

[2015-05-25 19:17] xamanu opened #65 "Testimonials of partnerships"
There has been risen the idea of having a testimonials section, where representatives from NGOs and partners (MSF, Redcross, etc.) can write a testimonial to show on the web site. They don't just have to say nice things about us. They can also provide information about how we work with them productively.

This would definitely give credibility to the project, especially for potential contributors

[2015-05-25 19:20] xamanu opened #66 "Local communities section"
Quite some times there has been the vague idea to represent local hot communities. To me it is not very clear how this should look like. But let's discuss this.

[2015-05-26 07:39] mataharimhairi commented on #63
@russdeffner you are correct, we are not waiting for the categorising before the project pages can be created. I just personally haven't had the time to start any of them yet. So please go ahead and start building them, and then I can fill out the details of the projects mentioned above that I am managing.

[2015-05-26 07:46] mataharimhairi commented on #63
@russdeffner actually I got excited and starting making the pages for the following:

* Field Papers Development
* Export Tool Development
* The Outreachy Program

I have left the Activation Curriculum to your devices though!

[2015-05-26 07:48] mataharimhairi commented on #59
@xamanu this sounds like a good layout to me!

[2015-05-27 14:47] xamanu commented on #45
I'm not sure if this is the right place to discuss this... At least we have had no response here. Maybe it would be better to take it once to each working group. And all the rest, we could assume, it will fix itself over time.

[2015-05-27 16:27] xamanu commented on #59
ok. I this can now be select on user profiles. I also started to implement a basic staff view: http://hotosm.org/staff (this is not visible to anonymous users). We can now proceed to create user profiles for the HOT staff and assign the right flags and information to them.

[2015-05-27 17:06] xamanu commented on #62
I introduced on the website now a flag for "Volunteer leads" and a free textfield to fill in their role. Right now those are shown on the staff view http://hotosm.org/staff (you must be logged in). Or what would be the appropriate place for volunteer leads to be presented?

[2015-05-27 17:06] xamanu commented on #62
I introduced on the website now a flag for "Volunteer leads" and a free textfield to fill in their role. Right now those are shown on the staff view http://hotosm.org/staff (you must be logged in). Or what would be the appropriate place for volunteer leads to be presented?

[2015-05-27 19:43] xamanu commented on #21
On the staging site I have a basic proposal separating the projects by type and by time (ongoing/archived): http://www.dev.hotosm.org/projects (user/password is "hotosm")

[2015-05-27 19:52] xamanu commented on #63
Dear @mataharimhairi, this is great. Unfortunately I could not find the projects on the website. Please post them on the website when ready. Thank you :)

[2015-05-27 20:04] russdeffner commented on #62
I was thinking we might also recognize volunteer leads such as yourself @xamanu - i.e. if we create a project page for LearnOSM and Althio volunteers to be lead/contact, then he would also be a good candidate for a profile with 'volunteer lead' flag.

[2015-05-27 20:06] russdeffner commented on #21
Looking good - I would suggest we 'chop' the text - maybe just the first paragraph or even just a 'learn more' link.  I think once we have all the tech projects also on the page, we'll be a bit crunched for space; so maybe also smaller image/icons?

[2015-05-27 20:24] xamanu commented on #60
@russdeffner and I have been sending out emails to the members. There are still 48 accounts which have not been updated since then. I sent a reminder email to them.

[2015-05-27 20:27] russdeffner commented on #60
@xamanu ok - I also sent a message to the membership this weekend, of course lots are in disconnected environments, so it may take weeks for them to actually see the emails and respond. Looks like we have about 1/2 of the members on there with at least some minimal information in their profiles, so I think we are doing good.

[2015-05-27 20:31] russdeffner commented on #66
Hmm... this is a tricky one; on one hand it sounds great. The other, we'd have to be very careful in 'selecting' those communities because if they are more general OSM communities, then we probably do not want to be perceived as selectively supporting some versus others and then there has been many ideas to make more community/social enhancements to the main OSM website - so we also don't want to

[2015-05-27 20:33] xamanu commented on #66
Good point! I posted it here, because it was mentioned before. But I never understood which are local communities in relation to HOT. Maybe we can ask the board and the communities working group for input, and maybe this is really just not a good idea to do (at least right now).

[2015-05-27 22:04] xamanu commented on #21
Makes sense. I just cut off the whole description text and made the titles bigger. I like it a lot more now.

[2015-05-27 22:10] xamanu commented on #22
* Shortened Get Involved page. We are working on a better page still, with icons and so on. But it is already shorter and better to read.

[2015-05-27 22:15] russdeffner commented on #63
Ok, I added the Activation Curriculum Project Page - using a slide for the image currently and of course it doesn't fit the square, so I'll fix that in the near future or find a better image.

[2015-05-27 22:58] russdeffner commented on #60
@xamanu - as discussed on Mumble; we should make the Country optional, and if it isn't there already; allow for those who already selected to pick 'blank' - I think several people 'randomly' put a country that isn't correct but if they prefer not to show country, not sure they have a way to 'deselect'

[2015-05-27 23:00] xamanu commented on #60
* Country is optional
* People can select "-None-" to deselect their country

[2015-05-28 17:33] harry-wood commented on #45
sorry. I've made this more useful by adding a task tick list. Some places which need the URL changing off the top of my head. Please add more. I guess we can also create issues in other github repos for some of these

[2015-05-28 20:32] xamanu commented on #21
This is now live. :+1:

[2015-05-28 20:32] #21 closed

[2015-05-28 20:34] xamanu commented on #62
ok. But where do we want the volunteer leads to show up? On a special page or together with staff?

[2015-05-28 20:37] xamanu commented on #21
There is also now a short entrance to ongoing activations on the end of the emergency mapping introduction page: http://hotosm.org/emergency-mapping

[2015-05-28 20:44] xamanu commented on #63
What about the old activations? Do we want to have a complete list on the website or just the ones, that make it there? http://wiki.openstreetmap.org/wiki/Humanitarian_OSM_Team#The_OSM_Tasking_Manager

And I see the Missing Maps project missing. There should be more.... aren't there?

[2015-05-28 21:34] russdeffner commented on #62
I'll add this to discuss with Tyler, he may need to run it by the Board.

[2015-05-28 21:44] russdeffner commented on #63
I think we are ok not to go back and add all the mapping projects listed on the wiki.

As far as Missing Maps, I think we do want 'separation' from projects specifically launched via HOT.  I do think that maybe a page/project for Missing Maps that just gives a brief and link to their website would be good though.

[2015-05-28 21:50] russdeffner commented on #49
Sent message to membership which in theory catches all the wg leads; asked for them to also improve their wiki-page description as well; and inform us if they need help editing the website. I would say you could close this issue as the short text we have now works fine.

[2015-05-28 21:54] russdeffner commented on #65
Actually maybe this should be part of #56?

[2015-05-28 21:58] xamanu commented on #65
For me it has nothing to do with the press page. It is more related to HOT being a bridge between the OSM community and classical organizations. It would give HOT credibility in a nice way, as these quotes can be presented nicely and show that HOT is connected to well-known organizations.

[2015-05-29 00:53] russdeffner commented on #65
Ah, so then I would say this is more 'partnerships' than testimonials.

[2015-05-29 01:09] mataharimhairi commented on #63
The project pages are up! Perhaps an 'Events' section under the Projects page could work? Missing Maps is more or less mapping parties to fill in absent data. The most important thing for us to display is where and when the next Missing Map event is for people who want to start contributing.

[2015-05-29 01:15] russdeffner commented on #63
@mataharimhairi - I think though, that M.M. projects are so frequent, etc. that it doesn't fit our main website very well.  It seems that even on their main page often the events are not 'archived'/updated very frequently (as of writing this they still have one up for 22 May); so asking to keep events up-to-date on both sites may be asking too much.

[2015-05-29 01:43] mataharimhairi commented on #63
@russdeffner We could at least link through to their site from ours so that people can get the updates on events there. As you are right about us having to continuously update and that it very may well slip through the cracks.

[2015-05-29 08:15] KatjaUlbert commented on #65
In my opinion testimonials are part of the community section, in our case that would be "get involved". I think one or more testimonials should be presented on the homepage with a short text plus a picture (close-up, postive charisma), text and picture equivalent in size. it´s a very useful and easy-to-make tool to create credibility and community feeling. They should be changed every few month to

[2015-05-29 08:24] KatjaUlbert commented on #65
any plans to present  "ordinary" testimonials, people who began mapping due to a HOT activation?

[2015-05-29 08:39] KatjaUlbert commented on #65
In my opinion these testimonials (not collaborators) are part of the community section, in our case that would be "get involved". I think they (1-3, depending on the layout) should be presented on the homepage with a short text plus a picture (close-up, postive charisma), text and picture equivalent in size. it´s a very useful and easy-to-make tool to create credibility and community feeling. They

[2015-05-29 10:19] KatjaUlbert commented on #66
I also think it´s nice to have  but not that urgent. I met both the Berlin OSM and Missing Maps communities, some of them are HOT contributors as part of their OSM activities. But maybe there are OSM communities that emerged due to a HOT activation.

[2015-05-29 23:44] russdeffner opened #67 "Project Category (EM, CB, Tech) Pages - Change "Archive" to 'something better'"
The communications wg suggested a change to the 'sub-category' title of "Archive".  Some suggestions for alternatives were: "Past Projects", "Complete Projects" or "Successful Projects" - and some variations, a few I didn't catch, etc...

[2015-05-29 23:52] russdeffner opened #68 "Project Category (EM,CB,Tech) Pages - Further Delineate Current/Past"
A bit related to #67 - please make the delineation of the ongoing projects and archive/past projects sections a bit more obvious.  A few suggestions from the communication wg: a line across the page between the sections and/or making the image/icons of the past projects smaller than current ones.

[2015-05-29 23:55] russdeffner commented on #63
Just noting that the communications wg identified to missing projects: the TM and LearnOSM - need to build project pages

[2015-05-29 23:56] russdeffner opened #69 "Project Pages (all individual)"

[2015-05-29 23:57] #69 closed

[2015-05-29 23:58] russdeffner commented on #69
Oops accidentally hit enter before I had fully completed my thoughts on this; will open new issue when I have a complete issue/suggestion.

[2015-05-30 00:02] russdeffner commented on #59
The communications wg discussed and agreed that this shouldn't be called the "Staff" page - if so, we should not include contractors, interns, etc.  Our alternative suggestion is to call the page either "Leadership" or "Team" and include all staff, contractors, interns and volunteer leads. (also updated the content wiki to reflect)

[2015-05-30 00:24] russdeffner opened #70 "Project Page Layout - utilize the right-hand side more"
There are a few things we suggest moving/adding to the right hand side of the individual project pages:
* Move the "Timespan" to upper right (i.e. above Project Page/Contacts)
* Move Project Type to right hand (lower/maybe last and/or even below picture)
* Add Member/member pic (tiny - i.e. such as working group page) to the right-hand side

[2015-05-30 01:25] russdeffner commented on #59
Another title I thought for this that might work/be more 'neutral' is 'operations' or similar.

[2015-05-30 01:31] russdeffner opened #71 "Project Page Categories (EM,CB,Tech) - Make 'Sub-Headings' Links"
Where we have the text "Disaster Mapping", "Community Building" and "Technical Projects" on http://hotosm.org/projects - I think those should be click-able links to the relative page.

[2015-05-30 01:36] russdeffner opened #72 "Sub-Menu (Grey Bar) Capitalization"
Please make sure all words are capitalized on all the 'sub-menus' (grey bars).
- [x] About Page
- [x] Projects Page
- [x] Get Involved

[2015-05-30 01:43] russdeffner opened #73 "Font/Size Continuity"
There was a general suggestion from the communication working group to revisit the various text sizes used throughout the website - example: on the Projects page if the text of the project name was smaller, maybe most/all could fit on one-line (in most desktop browsers). Also we think the 'high-level-site-nav-bar' (i.e. about, updates, projects...) could be bigger and to a lesser extent the sub-me

[2015-05-30 01:47] russdeffner commented on #73
Also, my latest Mongolia blog post I think I copied and pasted from gdocs but the format ended up way different than most other blog/updates - I'll try to see about clearing format/etc. but maybe we should 'restrict'/limit formatting a bit for continuity (look and feel) sake.

[2015-05-30 09:01] KatjaUlbert commented on #73
I wrote to Felix yesterday about font size continuity, concision etc. I think as long as the redesign isn´t implemented the best we can do is correcting obvious non-convormances. I´made screenshots and tagged the most frequent mistakes.
![revision_general_page_1](https://cloud.githubusercontent.com/assets/12475465/7896474/215b6714-06bb-11e5-9ccb-f1a3ac28f358.jpg)
![revision_general_page_2](https:/

[2015-05-31 16:51] russdeffner commented on #60
Ok, I went through the profiles again and all of the 'never accessed' accounts are voting members; the ones that I could identify as duplicates (i.e. they also have an account they are actively using) I deleted. The only tricky one is John Crowley who has two active accounts (i.e. he has created content with both - I think); so I will leave that one up to the experts for how to merge.

[2015-05-31 17:37] russdeffner commented on #60
I also reviewed all the Profiles for voting membership - or more specifically I compared my official list of members (names or emails) to the user list on the website.  By my count 70 of the 86 members have a profile and I went ahead and entered their names so they all show up on the voting member page now: http://hotosm.org/voting-members - I think a little more wait to try and get more pictures/

[2015-05-31 17:55] russdeffner commented on #67
Having thought about this more, since it is "Ongoing", maybe just simply "Complete" instead of archive would do?

[2015-06-02 18:52] russdeffner commented on #63
Added quick project page for LearnOSM - will inform the coordination mailing list/ask for review contacts, etc.

[2015-06-03 22:00] russdeffner opened #74 "Project Type links are broken"
Hi, on the individual project pages, there is the heading "Project Type" with the associated type in Red (i.e. EM, CB or Tech) and the 'function' as links but currently direct to a page that doesn't exist.

[2015-06-03 22:06] russdeffner commented on #63
I am working on a page for the Tasking Manager now, should have it up in a few hours.  @xamanu - I think we can effectively call this issue resolved; there may be other projects we should add, but all the 'major' ones are done.

[2015-06-04 19:14] Nick-Tallguy opened #75 "Missing image at http://hotosm.org/updates/2013-03-20_learnosm_origin_and_relaunch"
Hi

http://hotosm.org/updates/2013-03-20_learnosm_origin_and_relaunch

Head of the page at
![image](https://cloud.githubusercontent.com/assets/6763965/7992282/3fbcfe90-0af6-11e5-9f36-da8a13eb1e61.png)

[2015-06-04 19:27] russdeffner commented on #75
Hi Nick,
I don't see any image in the post - some don't have any; if there isn't one in the post there won't be the associated images like you see (many) here: http://hotosm.org/updates

[2015-06-04 19:30] Nick-Tallguy commented on #75
Can you edit the post so the bit that reads

[inline:screen_shot_learn.png]

is not visible - because it looks like a broken link - it may just be a link to the image of the homepage for LearnOSM?

Nick

[2015-06-04 19:36] russdeffner commented on #75
Fixed

[2015-06-04 19:44] Nick-Tallguy commented on #75
Looks much better, thanks

[2015-06-04 21:51] russdeffner commented on #60
@xamanu - all voting members now have a profile on the website, new ones were emailed individually to log-in with our 'usual' temporary password and update, etc.

[2015-06-05 14:18] russdeffner commented on #60
@xamanu - ok, I have now gone back through the entire user database and done my best to delete the duplicate accounts (I think all are handled except John Crowley's two that are both in use).  I also marked all the Staff as appropriately as I know and can say that comparing with the Project Org Chart that Tyler made, only Brian O'Hare, Paul Uithol, Adityo Dwijananto and Lia Indriati are the only o

[2015-06-07 15:55] KatjaUlbert opened #76 "website analysis (summary)"
I made a very simple visual sitemap to get a better understanding of the structure. I also considered page content like text, links, pictures.

In general I have to say that the problem is not so much content and structure, but usability and visual conception. The mission and projects of HOT are widely covered, all the information is there. But it has to be presented in a different way to show the

[2015-06-09 04:21] mataharimhairi opened #77 "Generic HOT toolbar"
@xamanu Just wanted to add this suggestion made by Pierre Beland during the Technical WG meeting before we forget.

He mentioned that it was discussed a while ago that a bar should be added to the top of the HOT website that links to the Tasking Manager and the Export Tool. This can also be expanded if and when we develop any other tools.

I should also note that I have taken aspects of the HOT we

[2015-06-09 17:55] xamanu commented on #73
Thanks for the input! This is very helpful.

[2015-06-09 17:59] xamanu commented on #77
Thank you @mataharimhairi
This consistent HOT bar is something we should consider in the redesign.
For the HOT export tool @KatjaUlbert can actually provide you with good practices and the right colour so we can start using as a first step, at least the same red and grey tones.

[2015-06-09 18:16] xamanu commented on #72
Thank you, @russdeffner! This should be consistant now.

[2015-06-09 18:16] #72 closed

[2015-06-09 18:21] xamanu commented on #76
@KatjaUlbert This is a great overview and I think you really detected the weak points of the site. Yes, we have worked to improve content and structure so I agree on all what you said. To answer some of your questions:

This is still part of the old structure and has not been touched. Feel free to reorder this as you consider it best. We can also write new texts, or ask the communications working

[2015-06-09 18:27] xamanu commented on #37
As suggested I consulted the tech working group and got no objections. Google Analytics is now down and code removed.

[2015-06-09 18:27] #37 closed

[2015-06-09 18:27] KatjaUlbert commented on #77
@mataharimhairi  hot-osm red is #D73F3F grey is #808080

[2015-06-09 18:28] #75 closed

[2015-06-09 18:31] xamanu commented on #60
@russdeffner, thank you so much for this work!! This is really great. And it motivates to see comments like the one of @harry-wood  in the email: "We can see each other!" :)

I'm closing this here now. Staff user profiles we can handle in the issue for staff.

[2015-06-09 18:31] #60 closed

[2015-06-09 18:32] xamanu commented on #66
I put it as "postponed" so we do not loose it, but it is not something we are going to tackle now.

[2015-06-09 18:33] xamanu commented on #63
Thank you very much for nourishing the website!! This now looks way better and we represent more diverse work which is done in HOT.

[2015-06-09 18:33] #63 closed

[2015-06-09 18:39] xamanu commented on #67
I agree. Done. Changed to "complete"

[2015-06-09 18:39] #67 closed

[2015-06-09 18:45] xamanu commented on #71
ok. This is possible. I just did it: http://hotosm.org/projects

[2015-06-09 18:45] #71 closed

[2015-06-09 18:46] xamanu commented on #49
Any news on that? Should we do further steps? Has there been some input that needs to be put on the website? Do we wait? Or just close it?

[2015-06-09 18:56] russdeffner commented on #49
I think we can close it; soon we'll have solid wg leadership that can either edit themselves or know to reach us for help.

[2015-06-09 18:57] KatjaUlbert commented on #77
Remarks/suggestions: The logo should be completely in the red bar so that the lower half doesn´t disappear. Could you change the HOT Export font in the red bar to the sans-serif? You can use the serif font in red for the HOT Export headline instead. I saw that you used color gradients and/or shadows, they´re not used on hotosm.org, so I think you should remove them for consistency reasons.

If you

[2015-06-09 18:57] xamanu commented on #49
Great! :)

[2015-06-09 18:57] #49 closed

[2015-06-09 19:00] xamanu opened #78 "Icons"
@KatjaUlbert made some very nice icons for hotosm.org: http://i.imgur.com/82m25H1.jpg
This is the issue to in-cooperate these and some following she promised for the working groups :)

[2015-06-09 19:03] russdeffner commented on #77
I think it's great to push export, TM and LearnOSM to even better visibility on the main website; but I would also say that maybe whatever/wherever we do it, first have them land on the project page? I think some people who would come to the site would also want the information contained there (dates, blogs, eventually the project leads/contacts) rather than just getting directed directly to the p

[2015-06-09 19:17] xamanu commented on #78
First icons are online: http://hotosm.org/get-involved

[2015-06-09 19:26] xamanu commented on #74
These should not have been links. I fixed that. Thank you for reporting!

[2015-06-09 19:26] #74 closed

[2015-06-09 19:28] xamanu commented on #70
This is something which implies more technical work, therefore I would like to leave this is a comment to the happening redesign (#23). Instead of changing it now and in some nearer future again.

[2015-06-09 19:31] xamanu commented on #68
Note to myself: When touching the theme, this can be done together with the other "urgent" theming issue: #73

[2015-06-09 19:31] xamanu commented on #73
Note to myself: Todo together with #68

[2015-06-09 19:37] xamanu commented on #14
I mentioned this in the TechWG meeting. @dodobas is going to talk with Tyler about this. Some cheap options for certificates are listed here: https://www.namecheap.com/security/ssl-certificates/comodo.aspx

[2015-06-09 19:38] xamanu commented on #46
I mentioned this at the last TechWG meeting. @dodobas is going to look for it (thanks!!!)

[2015-06-09 19:41] xamanu commented on #25
I'm closing this. In different occasions the communications working group has not responded to any request if there are any videos. We don't have to think about this if there are no videos, nor people who want to nourish such a section.

[2015-06-09 19:41] #25 closed

[2015-06-10 01:26] mataharimhairi commented on #77
@KatjaUlbert This is great. Thank you. I am actually going to put you in touch with Arushi - the Outreachy intern who is working on the HOT Export Tool mockup, so that you might be able to assist her with things like the logo and colour scheme if you don't mind :)

[2015-06-10 09:35] KatjaUlbert commented on #78
I´ll send you an icon for the newsletter in a few hours.

[2015-06-10 16:30] KatjaUlbert commented on #78
![icon_newsletter](https://cloud.githubusercontent.com/assets/12475465/8088030/c34ea234-0f9e-11e5-83c0-2c5db9113fae.jpg)

[2015-06-10 18:28] xamanu commented on #78
Great! Thank yout! I put it online: http://hotosm.org/get-involved

How familiar are you with Git? I would like to ask you to add the source files in the repo to sites/default/themes/hot/images/source-files/icons the same way there are the others. Best way to go would be a to make a "pull request" here in Github. I'm happy to explain it to you over mumble or so, in case you haven't done it before

[2015-06-11 09:44] KatjaUlbert commented on #78
I will try to add them myself, only png or also a small preview jpg? I will store the vector files myself. Or is there a place project files are stored and shared, like cloud or server? btw I think i could do with a drupal lesson.

[2015-06-11 17:38] KatjaUlbert commented on #78
added the newsletter icon, hopefully in the right place! I would like to exchange the working groups icon for a version with another stroke size, this one looks too thin in comparison to the othr icons. Not sure how to do this in the repo so
![working-groups](https://cloud.githubusercontent.com/assets/12475465/8113893/65e5e944-1071-11e5-9b7a-c611b68a33f3.png)
I am attaching it here.

[2015-06-11 17:39] xamanu commented on #78
The newsletter jpg I already included to show it on the website. I'd appreciate to have the vector and png file in the repo, as there are the other ones: https://github.com/hotosm/hotosm-website/tree/master/sites/default/themes/hot/images/source-files/icons

There general place where project files are stored and shared is the wiki: http://wiki.openstreetmap.org/wiki/Humanitarian_OSM_Team
But I thi

[2015-06-12 15:28] xamanu commented on #78
ok. Just to get back on track here. I think it would be good to have icons for the following:

* Project types (these would be extremely helpful to illustrate the about page and sections of projects)
  - Disaster mapping (which we already have, as it is the same as emergency mapping)
  - Community Development
  - Technical Projects
* Working groups
  - This was a proposal by @KatjaUlbert, which I

[2015-06-12 15:38] xamanu opened #79 "Donate page overhaul"
The recent donate page does not look to much convincing to me: http://hotosm.org/donate
Maybe we can update this and make it a little bit more attractive and give better reasons to donate to HOT.

[2015-06-12 15:43] xamanu opened #80 "HOT organization/capacities page overhaul"
There is quite a good, but probably way to long text: http://hotosm.org/about/hot_capacities
I'd like to discuss and see if we want to improve this. What do you think we should do to give more insight information into HOT?

[2015-06-12 15:58] xamanu commented on #65
Yes, @russdeffner, Partnerships or Outcomes would be better words for this section.

@KatjaUlbert what you are describing would be indeed more a community feature, to represent different people. But the principal idea of this issue is more to underline the *seriousness* of HOT, as the organization is working with great partners all over the world, and this is not getting documented in a good way,

[2015-06-12 16:21] xamanu commented on #77
Yes, @russdeffner, I agree that such  generic HOT toolbar can be confusing to people who don't know what is behind the different tools and jump from one site to another. I think it could be a small gear (looking like the hot logo), which can be used by people who know that they want to jump from one place to another, but is decent enough to be ignored by new people who are trying to get familiar w

[2015-06-12 16:25] xamanu commented on #66
@KatjaUlbert mentioned in another issue (#65) a good idea to the community section: People's testimonials

[2015-06-12 23:47] xamanu commented on #22
oh yea, we are through this. \o/

[2015-06-12 23:47] #22 closed

[2015-06-12 23:53] xamanu commented on #78
New About page is out: http://hotosm.org/about
@KatjaUlbert do you think it would be good to develop icons as well, or what do you suggest to make this more attractive?

[2015-06-13 09:33] KatjaUlbert commented on #78
I am not so sure about icons here, at least in the long run, we should think about a combination of picture and illustrations and maps of course. But for now we have to fill in the blanks, so we should use them,they´re also quite simple to make. Btw I am nearly finished with the working group icons:)

[2015-06-13 09:43] KatjaUlbert commented on #80
I am not the expert here, but as I wrote in my summary I think this content is important, especially for potential collaborations and partnerships. Maybe we can handle this page like the about page? Short general introduction, one paragraph for each item that comes with a picture or illustration and the link to the respective page.

[2015-06-13 09:49] KatjaUlbert commented on #79
I think adding a few more sentences to each point and structure it with subheads could be a makeshift. Are there any links besides HOT Kits?

[2015-06-15 13:29] KatjaUlbert commented on #78
New icons "Working groups", three versions for every group.
![icon_set2-1](https://cloud.githubusercontent.com/assets/12475465/8160859/3b6f3418-1373-11e5-80a7-c1454e753e46.jpg)
![icon_set2-2](https://cloud.githubusercontent.com/assets/12475465/8160860/3b712386-1373-11e5-99d2-f9e93f2b6277.jpg)

[2015-06-15 15:43] xamanu commented on #78
Wow, Katja. Once again, I love them! I think thery are all in line of the existing ones and are just perfect. We also would have by them two of the three needed for an temporary about page. Only "partnertships" would be missing.

I'm giving my opinion on which of the icons I'd choose. I really like them all. But we have to select, right? :)

Activation: I lie the first one most. The second I'd thr

[2015-06-15 15:52] bgirardot commented on #78
I think they look great too and the 3 options really helps.

On 6/15/2015 5:43 PM, Felix wrote:

Governance is not going anywhere.

How about a Gavel or a scroll, it is more about by-laws and meetings
than anything else.

Cheers,
Blake

[2015-06-15 17:54] KatjaUlbert commented on #78
Thanks both of you for the input @bgirardot I interpreted governance as navigation or guidance, but if it´s more about administration and management I can find another symbol. @xamanu Good choices, nearly all of them were also my favs. The third icon for "training" was supposed to be a blackboard, but if it looks like a website to you that´s great. In this case I will have to modify it and omit th

[2015-06-15 17:59] bgirardot commented on #78
I would say it is mostly about technical aspects of admin and management, by-laws, policy (code of conduct, etc), election procedures, etc

[2015-06-15 20:36] KatjaUlbert commented on #78
![icons_gov train](https://cloud.githubusercontent.com/assets/12475465/8170143/f4eee63c-13ae-11e5-9704-9eb44f879eab.jpg)

[2015-06-15 23:29] bgirardot commented on #78
The governance options are perfect.

[2015-06-16 17:45] xamanu commented on #23
@KatjaUlbert I would like to have a mobile-first design approach. What do you think?

[2015-06-25 15:20] KatjaUlbert commented on #23
Yes! Any technical guidelines as to size etc?

[2015-06-25 15:23] KatjaUlbert commented on #78
Any decision on the governance icon?

[2015-06-25 19:34] xamanu commented on #78
I like the second most. :)
I created an image field on the working group pages, so we can upload the icons to each working group.

[2015-06-25 19:36] xamanu commented on #23
Nothing defined, yet. So you are free to propose. Or ask more specifically.

[2015-06-26 15:14] grinapo commented on #65
I originally wrote an email in a very similar topic to @xamanu.

There are some highly critical voices suggesting that HOT (and mapping for foreign lands in general) is a fancy Western White Man Thingie™ and that all of these works are uncalled for and in the reality unused by the people living/working/rescuing there. Some suggests that the armchair mapped maps are useless for the local people; so

[2015-06-26 21:27] TylerRadford commented on #59
We already have the Board page. I suggest we change the menu link to "Leadership" since it includes two subheadings: 1) Our board and 2) Executive Director (see screenshot)

We can create a new page "Team" (the "Team" language is commonly used across a large percentage of websites).
On that page we can have three subheadings:
1) Staff/contractors

2) Volunteer leads

3) Interns

![leadership](http

[2015-06-28 16:09] KatjaUlbert commented on #78
This is the last icon in the "About" section for partnerships.
![icons_partnership](https://cloud.githubusercontent.com/assets/12475465/8397123/cdf389a4-1dc0-11e5-9852-548422205e76.jpg)

[2015-07-15 15:58] TylerRadford opened #83 "Before/after map sliders"
Suggestion to include before/after map sliders somewhere. From Mikel:

"Agreed! We've been working towards that at MapGive ... at least making it easier. Tom has put together instructions on his GitHub account https://github.com/d3netxer/osm-creating-historical-tiles. It definitely requires some technical know-how at this point, but has potential to be automated. Perhaps CWG could ask the Technica

[2015-07-16 19:50] techlady commented on #83
I'll put this on the agenda for the next CWG meeting (July 24). I know the Technical Working Group probably has a full slate, but this could be an excellent way to showcase what we do.

[2015-07-22 15:19] TylerRadford opened #84 "Showcase a portfolio of sample humanitarian maps created with HOT/OSM data"
From Jorieke:

Already for a little time I'm trying to collect humanitarian maps made
with OpenStreetMap. With the idea to show them once on a presentation
or something...

 A few examples you can find back in this dropbox:
https://www.dropbox.com/sh/k2825lerby28j5n/AADnbarv-36UJ44peyUVR5Qsa?dl=0

But now I was thinking maybe we can create a kind of portfolio on our
website with all these humanita

[2015-07-24 17:32] KristenEgermeier opened #85 "Add Newsletter sign up button"

[2015-07-28 19:21] TylerRadford opened #86 "Add partners/logos"
For partnerships and funders

[2015-07-30 11:26] KatjaUlbert commented on #86
I think we have to reach out to the partner organisations directly to get the permission to use their logos. Usually they give out a package of files in all sizes plus guidelines.

[2015-08-01 15:01] xamanu commented on #85
Hi KirstenEgermeier, I would like to know how you want to get the subscriptions (email notification, integration with mailchip, etc) and I would suggest to use the already started issue here: #24
Thanks.

[2015-08-01 15:01] #85 closed

[2015-08-01 15:04] xamanu commented on #24
@KristenEgermeier suggested to add a newsletter sign up. It would be good to know how you want this to work. Right now I could think about:

* Mailchimp integration (we mentioned this before)
* Email notifications every time a person subscribes to it. The list must be maintained manually.
* Some more to the website integrated functionality, like sending newsletters from the website directly based

[2015-08-01 15:15] xamanu commented on #84
This is great! I think this is related to this issue #65. Maybe this would be just a more lightweight approach.to call it "showcases". But both issues want to present real results of maps and colaborations...

[2015-08-01 15:16] xamanu commented on #65
In #84 a more lightweight approach to this is proposed. Instead of testimonials we could just call it "showcases" where we post about good uses (good maps, good collaborations, good partnerships) lead to real life results. It seems to me, that the basic request is very much related.

[2015-08-01 20:07] xamanu commented on #78
Very cool! Thank you so much, Katja! I included the first one, classical handshake, as talked with @russdeffner . But what do you think? We can always change it. And in case you agree, please add the vector source files to the repo. Great work.

We have to work on getting the working groups images online, don't we?

[2015-08-03 15:12] KristenEgermeier commented on #24
This came up in the CWG last week.  I think we were hoping for a mail chimp integration.  Right now we wanted to just get the idea down. If there is a sign up on our website, it reaches an audience we might not reach through FB/ Blogs etc.  If they can sign up directly from there, that would be great.

[2015-08-23 19:30] grinapo commented on #65
My original point is, however, not about the availability of OSM based HOT maps but their actual and practical use by external people, preferably their _intended_ audience. There are plenty of showcases around, I could look up a few if anyone fancy that (for example the Google+ osm group have one for about every week), but I have seen close to nil about their real use.

[2015-08-28 13:44] IknowJoseph commented on #14
I've seen that https://hotosm.org exists, which is awesome, but it currently points to the piwik instance which should be only at https://piwik.hotosm.org

Presumably the 000-default (or default-ssl) or equivalent needs updating to include an entry for https on the usual web site.

[2015-09-24 15:12] mataharimhairi opened #87 "Add About HOT PDF for download"
Having an About document on the HOT website that people can download would be great. There is a PDF [1] that Katja and I put together that could potentially be used, as well as the Google Doc [2] version in case someone would like to edit it. Please note the PDF itself will have to be edited to remove the colour bars present for print.

[1] https://drive.google.com/open?id=0Bx3_hrMYdNwLeUlvWk43Z3l

[2015-10-07 09:37] himanshichhabra commented on #87
Hi I'm an Outreachy participant , I am interested in the redesigning and enhancing HOT website.
I'd like to work on this issue, Can someone please guide me through this?

Thanks.

[2015-10-09 08:08] stlejer-morvrini commented on #14
I totally support Joseph's suggestion as I am experiencing a situation which requires https: TM advertised through an iframe in a https web site.
The site has become https recently, and all the visitors see now is an empty iframe and some would conclude a bit quickly that the TM itself does't work.

[2015-10-09 11:32] dodobas commented on #14
we have support for https, as you can see on piwik site, so it's not a problem to simply add https support main web site and tasking manager, however, if the site uses external resources which are not defined as *protocol agnostic* those resources will blocked by any modern browser, making site unusable.

I'm waiting for @xamanu to 'resurface' to coordinate migration to the https.

Reading previou

[2015-10-09 16:44] furaidochikin commented on #84
another idea is that maybe we could also include (some of) the stories - about held workshops and their purposes etc.? I think it would have a nice humanly touch, as well as the maps of course, each in its own way. With good design, it could be beautiful and rather effective - everyone feels inspired after a good story and often are encouraged to do something similar themselves.

[2015-10-10 22:22] bgirardot opened #88 "Get some more obvious links to Learning how to get started mapping"
There needs to be links to LearnOSM and MapGive prominent.

[2015-10-16 17:30] russdeffner opened #89 "Amazon Smile Button"
Need to add Amazon Smile Button/Link and some text on the Donate page.

[2015-10-16 17:48] xamanu commented on #89
No problem, this can be done quickly. There is an embed code you can get from: https://smile.amazon.com/ after logging in. Can you/somebody provide this?

[2015-10-16 20:17] xamanu commented on #88
Thanks, @bgirardot! I would say this is a great input for the redesign. Tagging as such.

[2015-10-16 20:22] xamanu commented on #87
@mataharimhairi This is a great idea. Unfortunately the "Organization" part of the "About" section is the one which has not been overhauled: http://hotosm.org/about/hot_capacities
IMHO it would be the most appropiate place. But right now, this is a long text that is years old. I think this should go together with improving the whole section. What do you think?

@himanshichhabra Great to hear from

[2015-10-17 05:46] himanshichhabra commented on #89
@xamanu Hi, I can do this . I have logged in at Amazon smile , and now supporting Humanitarian Openstreetmap Team United States Inc .I hope that has to be selected,right? So where shall I get the code, if you can guide me to that please.
Thanks.

[2015-10-17 06:30] himanshichhabra commented on #87
@xamanu Hi , that's great, so how should i get started ? Any part of the task that I could work on?
Thanks.

[2015-10-17 11:59] KatjaUlbert commented on #87
I think that the content of the flyer @mataharimhairi mentioned is an excellent basis for the content. I will make a screen version without marks and add this to the drive folder where all the other HOT material will be.

[2015-10-17 22:33] russdeffner commented on #89
@himanshichhabra - no, someone (in operations/ED or Board) who has the HOT log-in needs to generate the code. Thanks though, Tyler is aware and/or on it.
=Russ

[2015-10-17 22:44] russdeffner commented on #87
@himanshichhabra If no one has replied to you directly; visit http://hotosm.org/projects/outreachy for information on how to apply for the Outreachy program and more details.

[2015-10-17 23:23] russdeffner commented on #89
Here is a little mock-up of what I think this near-term update to the page should look like:
![donate](https://cloud.githubusercontent.com/assets/6763645/10561719/c1e3a006-74f3-11e5-9e16-170684b398ee.jpg)

[2015-10-17 23:26] russdeffner commented on #89
Oops, didn't mean to close...

[2015-10-18 00:49] bgirardot commented on #89
This item is under discussion by the Board. Lets put a pin in it for now.

[2015-10-18 05:04] himanshichhabra commented on #89
@russdeffner Oh, okay . No problem ! Since, I was looking for the code on the web , I found some of the sites using the following design for the Amazon smile button, this is just to give an option. ( You can change the charity name).

![amazonsmile](https://cloud.githubusercontent.com/assets/15012159/10562628/7456d85e-7583-11e5-9ca1-8f97d304fdea.png)

[2015-10-18 17:37] bgirardot opened #90 "Update http://hotosm.org/our_board"
Tyler Radford is now the Executive Director and no longer interim.

[2015-10-20 13:41] russdeffner commented on #89
@bgirardot - This issue/feature initiated as discussion with Tyler in the last Communication WG meeting.

[2015-10-23 17:05] TylerRadford commented on #89
Here is the link. This can be shared on FB, Twitter, via email, etc. etc. Spread the word!
https://smile.amazon.com/ch/27-3166713

Here is the HTML snippet:
<div id="amznCharityBanner"><script type="text/javascript">(function() {var iFrame = document.createElement('iframe'); iFrame.style.display = 'none'; iFrame.style.border = "none"; iFrame.width = 310; iFrame.height = 256; iFrame.setAttribute &&

[2015-10-26 19:47] xamanu commented on #24
I would need the mailchimp API key for the account. Get or generate a valid API key at the Mailchimp API dashboard http://admin.mailchimp.com/account/api and send it to me privately.

Thank you!

[2015-10-26 20:45] xamanu commented on #24
Grace provided me the API key. We now have a third button link in the footer to the form to subscribe to the Newsletter. Please check and give feedback, if all is good.

[2015-10-28 20:17] TylerRadford opened #91 "Extra field displaying on Newsletter sign up confirmation message"
![screenshot_2015-10-28-22-43-15](https://cloud.githubusercontent.com/assets/9853903/10801783/280b7ce4-7dca-11e5-97c5-940596435ec1.png)
I am a..." field appears after signing up, at least on mobile
![screenshot_2015-10-28-22-43-15](https://cloud.githubusercontent.com/assets/9853903/10801766/12bc198e-7dca-11e5-9595-9587b5883b8a.png)

[2015-10-28 20:24] xamanu commented on #91
Ha, I though this was website related. This is actually the content of the confirmation email which is sent directly by Mailchimp. I guess in Mailchimp's admin interface this is configurable. Grace (no idea if she is on Github) was configuring this, I think. I have no access to this.

As it comes to the website I can just offer to disable the confirmation emails, if wanted.

[2015-10-28 20:29] xamanu commented on #24
@TylerRadford and Grace confirmed me via email that is working all good and the first newsletter has been sent a couple of hours ago. Yeah! Thanks to everybody involved. Closing here.

[2015-10-28 20:29] #24 closed

[2015-10-28 20:35] xamanu commented on #89
Done: http://hotosm.org/donate
Please test and close this issue if all fine. Thanks!

[2015-10-28 20:38] xamanu commented on #90
Done. Btw, this is on @TylerRadford's profile and either him or other admins can adjust this easily.

[2015-10-28 20:38] #90 closed

[2015-10-28 20:40] xamanu commented on #87
@KatjaUlbert Please let us know, when there is suitable text to publish as an organizational description. Thank you!

[2015-10-28 20:42] xamanu commented on #87
Btw, this issue is heavily connected on this one: #80

[2015-10-28 20:44] xamanu commented on #79
There is nothing really defined. We could discuss this in the communications working group to get more input about how such a page should look like. Recently there was another button added (#89) and it looks like to me, this page needs some more structure.

[2015-10-28 20:44] xamanu commented on #79
There is nothing really defined. We could discuss this in the communications working group to get more input about how such a page should look like. Recently there was another button added (#89) and it looks like to me, this page needs some more structure.

[2015-10-28 20:44] xamanu commented on #79
There is nothing really defined. We could discuss this in the communications working group to get more input about how such a page should look like. Recently there was another button added (#89) and it looks like to me, this page needs some more structure.

[2015-10-28 20:45] xamanu commented on #86
Yes, it would be good to have this confirmation from the partners. And I would declare this more or less a duplicate of #65. As I would suggest not only to put some logos on the website, but rather explain how these partnerships look like.

[2015-10-28 20:46] russdeffner commented on #89
Agree closely related to #79 so specifically to this issue, I tested and the button works. Closing this and we can discuss aesthetics and such on the other issue.

[2015-10-28 20:46] #89 closed

[2015-10-28 20:50] xamanu commented on #83
Nice thing! But it needs some more complex setup, database, renderer, etc. I don't see the capacities for this to happen right now (at least in the web team). But happy to include this into the website, if there is a volunteer to set this up. If there is, then this would be great to take into consideration for the redesign process.

[2015-10-28 20:57] xamanu commented on #84
I know it is quite some time. But, @TylerRadford the dropbox link is dead. Can you please provide a source again? Thank you!

[2015-10-28 21:20] xamanu commented on #91
Grace took this field off and informed me over email. Thanks for reporting, @TylerRadford. Closing here.

[2015-10-28 21:20] #91 closed

[2015-10-28 21:22] xamanu commented on #14
I'm back @dodobas. Lets coordinate it.

[2015-10-28 21:40] xamanu commented on #56
This seems to be dead. I'm closing this for now. Please re-open when it becomes relevant again.

[2015-10-28 21:40] #56 closed

[2015-10-29 09:31] dodobas commented on #14
@xamanu it has been enabled, but the site is broken because of mixed content

this is usually fixed by using PRURL (https://en.wikipedia.org/wiki/Wikipedia:Protocol-relative_URL) for resources, I don't know if you will need to fix something within drupal, but if you need anything done on the server... my username is same on Skype, twitter, IRC,.... contact me

[2015-10-30 20:02] xamanu commented on #14
@dodobas, I fixed the mixed content. But because of the server configuration simple redirects from http to https don't work. Can you please check the configuration and make such a redirect on a web server level, please. I think it is worth to figure out if we can use HTTP Strict Transport Security (https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security) on the web server configuration.

Than

[2015-10-30 20:11] xamanu commented on #14
@dodobas configured the web server well with redirection and HSTS in the headers. Thank you!

[2015-11-05 17:00] dodobas commented on #14
I've noticed that on page https://hotosm.org/get-involved/disaster-mapping there is an external resource `http://static.addtoany.com/menu/page.js`

this needs to be changed to https

[2015-11-06 20:46] russdeffner commented on #79
To promote the #mapthedifference campaign, I added some things to the top of the Donate page.

[2015-11-13 18:44] xamanu commented on #84
We are now collecting examples here: https://docs.google.com/document/d/1XwNa2Sr0zS3hEzxBmrWaHLDOcWXR0dgfMaPOCVOZ6Jw/edit
Please help out!

[2015-11-13 18:45] xamanu commented on #65
We are now collecting examples here: https://docs.google.com/document/d/1XwNa2Sr0zS3hEzxBmrWaHLDOcWXR0dgfMaPOCVOZ6Jw/edit
Please help out!

[2015-11-23 00:36] russdeffner opened #92 "Constant URL for important HOT documents"
We need a way to keep the URL current for important HOT documents like Bylaws, Policies, etc. As example, we will want to update (not very frequently) something like the Activation Protocol, but it is linked and referenced in many places at the URL: https://hotosm.org/sites/default/files/HOTActivationProtocol.pdf - for me to update it from it's 'static page': https://hotosm.org/projects/hot_traini

[2015-11-28 15:45] KatjaUlbert opened #93 "social plug-ins"
I think it would be useful to have social plug-in for posts and updates, like facebook like, share tweet or google +1. and maybe also embedded posts and tweets.

[2015-12-02 17:53] cgiovando opened #94 "Map of HOT members"
We make and love maps, but we don't have a map showing where HOT members are. Would be nice to show a simple political map with major cities and approximate location pins of each member. This could be sourced from details that members fill in their Drupal/OSM user profiles. Is that realistic? Would the Leaflet component work for this? https://www.drupal.org/project/leaflet

[2015-12-11 14:21] mellig commented on #76
@KatjaUlbert @xamanu I updated the wiki page containing the current content structure here: [Current content structure](https://github.com/hotosm/hotosm-website/wiki/Content-structure). A few areas have changed since Katja's outline. I have also created a page with a proposed restructuring in preparation for the redesign: [Content structure - proposal](https://github.com/hotosm/hotosm-website/wiki

[2015-12-15 02:05] mellig commented on #94
@xamanu Would this be technically complex to create? If possible but time consuming we could add it to a wish list for further down the road, instead of including it as a new visual/content piece in the redesign.

[2015-12-15 02:11] mellig commented on #93
@KatjaUlbert I can see embedding posts and/or tweets on the home page as a good location. Is there anywhere else you think it would be good to display a social media feed?

[2015-12-15 02:23] mellig commented on #83
@xamanu Do you still think that this is something we should tackle with the redesign or put on a project list for later? I can suggest locations for this in the proposed content structure for the redesign.

[2015-12-15 12:51] KatjaUlbert commented on #93
I think the homepage is the best place for tweets/post. Do you have any other suggestions?

[2015-12-22 14:44] xamanu commented on #94
@mellig It is indeed a nice idea, but not very necessary. It is not very complex to implement, it is rather complex to get (all) people to login and pin themselves to the map. And even more difficult having them maintaining their location information up-to-date.

We also have a country field on user profiles on the website. So, instead of using a map with pins we could just show coutries and numbe

[2015-12-22 14:45] xamanu commented on #93
Just an idea to throw in: It could be also in the footer

[2015-12-22 14:47] xamanu commented on #92
I think we solved this by using a node for documents. For example: https://hotosm.org/by_laws

[2015-12-22 14:47] #92 closed

[2015-12-22 15:14] mellig commented on #93
After looking over the conversation I realize that there are (at least) three different ways social media can be used on the site:
1) Links to the HOT accounts (HOT twitter, HOT facebook) - might be best as a constant presence, in the footer perhaps as @xamanu suggested?
2) An embedded, live stream of social media updates, such as all tweets having to do with HOT - homepage
3) A way to send a twee

[2015-12-22 15:18] TylerRadford opened #95 "Add Guidestar logo to website"
Congratulations on achieving a Gold level profile with GuideStar. This is a testament to your organization’s commitment to data transparency.

By keeping your profile up-to-date with GuideStar, you are ensuring that timely and accurate information about your nonprofit reaches the 7+ million annual visitors to GuideStar, and millions of other viewers reached through GuideStar’s network of donation

[2015-12-22 15:20] TylerRadford commented on #94
I like the idea and agree we don't have great data on the locations of members. I do think we need more maps! I'm going to open another issue related to a map of projects worldwide.

[2015-12-22 15:21] xamanu commented on #95
I think if we really want to put such kind of logos to the website, we need to make space in the design for it.

[2015-12-22 15:24] TylerRadford opened #96 "A map to showcase our maps"
Related to issue #94 we are great at mapping but could use improvement in showing off our global work! Suggest a map of HOT projects. If we want, we can differentiate between a HOT donor funded field mapping project, a HOT member project, and a HOT remote mapping (Missing Maps) project. Perhaps someone can figure out where and how this was created and we can update it.

![image](https://cloud.gith

[2015-12-22 15:27] TylerRadford commented on #95
Yep agree. We should plan for space for others too (such as Charity Navigator). See www.savethechildren.org for an example (scroll down)

[2015-12-22 15:40] mellig commented on #95
I think this type of endorsement/approval logo would be best suited to a space in the footer, either linking directly to the endorsement's site, or to a page on HOT that would explain the significance of the endorsement.

[2015-12-22 15:42] bgirardot commented on #95
@mellig +1 to these logos being on the footer of every page

[2016-02-10 13:42] #93 closed

[2016-02-10 13:44] KatjaUlbert commented on #88
This is now implemented on the website, can we close this issue?

[2016-02-10 13:44] KatjaUlbert commented on #86
Can we close this?

[2016-02-10 13:45] KatjaUlbert commented on #87
do we still need this?

[2016-02-10 13:47] KatjaUlbert commented on #95
this will be implemented, can we close this issue?

[2016-02-10 13:48] KatjaUlbert commented on #79
implemented on the new website. close issue?

[2016-02-10 13:50] KatjaUlbert commented on #76
the content structure proposal has to be updated. can we find a place to store it somewhere and close this issue?

[2016-02-10 13:51] KatjaUlbert commented on #78
close issue?

[2016-02-10 13:52] KatjaUlbert commented on #73
@russdeffner  outdated, can we close it?

[2016-02-10 13:53] KatjaUlbert commented on #65
@xamanu I guess we implemented this on our new partner page?

[2016-02-10 13:54] KatjaUlbert commented on #84
close issue?

[2016-02-10 13:54] TylerRadford commented on #95
I think we can close and mention that it will be implemented in the new
design

*Tyler Radford*
Executive Director
email: tyler.radford@hotosm.org
U.S. mobile: +1 617.285.2009

*Humanitarian OpenStreetMap Team*
*Using OpenStreetMap for Humanitarian Response & Economic Development*
web <http://hotosm.org/> | twitter <https://twitter.com/hotosm> | facebook
<https://www.facebook.com/hotosm> | donate

[2016-02-10 13:55] TylerRadford commented on #86
Yes let's close and mention it will be implemented in the new design

*Tyler Radford*
Executive Director
email: tyler.radford@hotosm.org
U.S. mobile: +1 617.285.2009

*Humanitarian OpenStreetMap Team*
*Using OpenStreetMap for Humanitarian Response & Economic Development*
web <http://hotosm.org/> | twitter <https://twitter.com/hotosm> | facebook
<https://www.facebook.com/hotosm> | donate <http://ho

[2016-02-10 13:56] KatjaUlbert commented on #95
@TylerRadford you opened it so you are the only one who can close it:D

[2016-02-10 13:58] KatjaUlbert commented on #80
Did we solve this issue?

[2016-02-10 14:00] KatjaUlbert commented on #96
this would be the HOT footprints from Pratik http://pratikyadav.github.io/HOT-Task-Map/#3/22.76/-25.84

[2016-02-10 14:01] KatjaUlbert commented on #94
not yet implemented.

[2016-02-10 14:02] KatjaUlbert commented on #83
not yet implemented.

[2016-02-10 14:03] KatjaUlbert commented on #77
links to the export tool and tasking manager will be on the project and get involved > mapping page. Close issue?

[2016-02-10 14:05] KatjaUlbert commented on #70
the website has been redesigned, so I think we can close this issue.

[2016-02-10 14:06] KatjaUlbert commented on #68
@russdeffner Problem is solved in the redesign. Close issue?

[2016-02-10 14:07] KatjaUlbert commented on #66
Is this still urgent?

[2016-02-10 14:09] KatjaUlbert commented on #92
@russdeffner can we close this issue?

[2016-02-10 14:38] russdeffner commented on #73
Yes, I think everything was covered except 'forcing' formats in blog/update posts - but that can still be done if folks remember to 'clear formats' if they copy/paste - maybe something to still consider in redesign, but I'll close this.

[2016-02-10 14:38] #73 closed

[2016-02-10 14:39] russdeffner commented on #70
Covered in redesign.

[2016-02-10 14:39] #70 closed

[2016-02-10 14:40] russdeffner commented on #68
Thank you, covered in redesign.

[2016-02-10 14:40] #68 closed

[2016-02-10 14:40] #86 closed

[2016-02-10 14:42] TylerRadford commented on #96
Yes - this could be a good one - is there somewhere we can feature it on
one of our pages?

*Tyler Radford*
Executive Director
email: tyler.radford@hotosm.org
U.S. mobile: +1 617.285.2009

*Humanitarian OpenStreetMap Team*
*Using OpenStreetMap for Humanitarian Response & Economic Development*
web <http://hotosm.org/> | twitter <https://twitter.com/hotosm> | facebook
<https://www.facebook.com/hotos

[2016-02-10 15:07] xamanu commented on #78
ok. this is something we are addressing in the redesign right now. Closing here.

[2016-02-10 15:07] #78 closed

[2016-02-10 15:08] xamanu commented on #77
Yes, closing here.

[2016-02-10 15:08] #77 closed

[2016-02-10 15:10] xamanu commented on #76
@KatjaUlbert This one? https://github.com/hotosm/hotosm-website/wiki/Content-structure---proposed
I think all feedback went in there and it has been further modfied in the process. I'd close here.

[2016-02-10 15:11] xamanu commented on #88
This is in the wireframes. So, yes, closing.

[2016-02-10 15:11] #88 closed

[2016-02-15 17:54] xamanu commented on #95
@TylerRadford What specific Guidestart logo (with transparent background preferably) should we integrate? Can you provide one. Thanks!

[2016-02-16 15:46] xamanu commented on #46
The problem seems to be described here: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=633845

[2016-02-16 16:12] TylerRadford commented on #95
`<a href="http://www.guidestar.org/organizations/27-3166713/humanitarian-openstreetmap-team.aspx" target="_blank">
    <img src="http://widgets.guidestar.org/gximage2?o=9229194&l=v4" />
</a>
                            `

[2016-02-16 16:13] TylerRadford commented on #95
![image](https://cloud.githubusercontent.com/assets/9853903/13082328/42e0b34c-d49e-11e5-9144-9bfde80b5b3a.png)

[2016-02-18 15:13] russdeffner opened #97 "Static Pages for Documents"
Hello, just as a place to document, we created static pages for our 'core documents' but a few are not linked from anywhere, here are the ones I know about (or created myself):

- Articles of Incorporation: https://hotosm.org/our_board/incorporation (this one probably needs cleaned up and original AoI PDF'd?)
- Bylaws: https://hotosm.org/by_laws
- Membership Code/Code of Conduct: https://hotosm.or

[2016-04-20 01:55] xamanu commented on #95
It's online. Thanks!

[2016-04-20 01:55] #95 closed

[2016-04-20 01:55] xamanu commented on #23
Implemented and online. Thank you everybody who was part of this!

[2016-04-20 01:55] #23 closed

[2016-04-20 01:56] xamanu commented on #76
Thanks Katja for this input and all the work you've done to make the redesign happen. It's now online.

[2016-04-20 01:56] #76 closed

[2016-04-20 01:57] xamanu commented on #80
Yes, closing here.

[2016-04-20 01:57] #80 closed

[2016-04-20 01:58] xamanu commented on #79
It is implemented, but we still wanted to have a form that allows to select the amount to donate on the website and then redirect to Paypal. Similar as it was working on the crowd-funding campaign. So, there is still some work to do.

[2016-04-20 01:59] xamanu commented on #62
It's online now. Closing here.

[2016-04-20 01:59] #62 closed

[2016-04-20 01:59] xamanu commented on #59
It's online now, implemented during the redesign work.

[2016-04-20 01:59] #59 closed

[2016-04-20 02:00] xamanu commented on #14
Done. Closing here.

[2016-04-20 02:00] #14 closed

[2016-04-20 21:02] mikelmaron opened #98 "Partners Page"
Looking at the Partners page (or potential page) on hotosm.org. Peace Corps would be great to add — they do so much. Also Youth Mappers, good to mention USAID.

@TylerRadford

[2016-04-22 20:09] TylerRadford commented on #83
I am going to close this since it's partially implemented with our new OSM Analytics tool.

[2016-04-22 20:09] #83 closed

[2016-04-22 20:10] TylerRadford commented on #26
Could we do a basic search for now, even if we don't do faceted search?

[2016-04-22 20:12] TylerRadford opened #99 "Whitespace inconsistent above and below top blog update"
If no photo for first blog post...too much whitespace above and below the post

![image](https://cloud.githubusercontent.com/assets/9853903/14753715/116b79f6-08a5-11e6-8a60-6c619ad8e970.png)

[2016-05-02 10:18] xamanu commented on #98
The partnerships page is about to be launched. @TylerRadford, please review it and if possible, please add the partners mentioned here before. Thanks!

[2016-05-02 10:22] xamanu commented on #65
@KatjaUlbert: No, this is not there. We have to see where we can put this in.

[2016-05-02 10:25] xamanu commented on #66
I don't see anybody comming up with relevant proposals or ideas. So I will close it for now. Once the community working group has more clear ideas we can discuss them.

[2016-05-02 10:25] #66 closed

[2016-05-02 10:27] xamanu commented on #87
Do we want to have a flyer of HOT donwloadable on the website?

[2016-05-02 10:28] xamanu commented on #94
Closing here.

[2016-05-02 10:28] #94 closed

[2016-05-02 10:29] xamanu commented on #26
I'm not sure if this rather fills up the website instead of being a useful tool...

[2016-05-02 10:31] xamanu commented on #84
I think this is something really nice and missing on the website. The other issues #96 and #65 could be combinded into one "Showcase" section. So, I'm going to close the othe issues and we can continue here to create such a section.

[2016-05-02 10:32] xamanu commented on #96
Closing as duplicate. Please continue discussion here: #84.

[2016-05-02 10:32] #96 closed

[2016-05-02 10:32] xamanu commented on #65
Closing as duplicate. Please continue discussion here: #84.

[2016-05-02 10:32] #65 closed

[2016-05-02 10:36] xamanu commented on #97
@russdeffner Which ones are not linked from anywhere? Instead of creating this static page for documents, I'd rather make sure that the documents are linked where they make sense.

[2016-05-02 10:39] xamanu commented on #99
The new design requires a news item to have an image. So I set the images field on updates to "required". Thanks for reporting!

[2016-05-02 13:46] TylerRadford commented on #98
Hi all, looks pretty good. I suggest making the logos about half of the current size so you can see more on a single page without scrolling.

Second, are we still planning to create a link between the "Partner" content type and the "Project" type? I recall there was a link proposed in the design mockups.

It would be nice to have each partner's logo clickable to go to a partner "single page" and s

[2016-05-02 14:53] mikelmaron commented on #98
Suggestions
* Mention USAID under YouthMappers
* Add Peace Corps
* Do commercial / imagery partners belong here or elsewhere?

[2016-05-02 15:11] mikelmaron opened #100 "Image required for blog posts?"
Trying to update broken link to GitHub on https://hotosm.org/node/495/edit (extra space at the end) and I can't save because an image is required.

[2016-05-02 20:29] russdeffner commented on #97
To refresh the idea - we have several of these documents that are expected to be updated 'regularly', so the static page was used versus needing to maintain/version for a document URL. Has that changed/can we do that more easily now?

[2016-05-02 20:35] russdeffner opened #101 "Refresh Wiki"
Originally had a specific question about 'best practice' for images but might be related to #100 - this lead me to looking for a more general 'format guidance' for pages and posts, but maybe we need to start with refreshing/updating https://github.com/hotosm/hotosm-website/wiki - and maybe put 'need to know' before you post information there. (The specific thing I had issue with was making the Ecu

[2016-05-02 21:14] TylerRadford opened #102 "Jobs"
Hi, where did Jobs end up on the new website? I remember we had talked about a link in the footer (but that would only make sense if we had other navigation links in the footer)

[2016-05-02 21:22] xamanu commented on #100
@mikelmaron Yes, the new design made them practically required. In the transition this can be annoying, yes. But please pick a nice photo for the post. Or in case you don't want to, just upload this again: https://hotosm.org/sites/default/files/styles/normal/public/500px-Hot_logo_0.png?itok=0YIc74gz

Closing here...

[2016-05-02 21:22] #100 closed

[2016-05-02 21:25] xamanu commented on #101
If it needs a manual I think the website would be too complex! Related to #100: it was just a new required field on a node. People will get it, that you have to fill out this. So, I think no need to write things down here.

But I'd like to know more detail of your issue with the Ecuador Earthquake image you wanted to fit the front page. Also I noticed that it doesn't look good, and I was asking my

[2016-05-02 21:27] xamanu commented on #97
Yes, I remember this. Do you want an internal view to have an oversight of these type of nodes we use to upload files?

[2016-05-02 21:28] xamanu commented on #98
Yes for the links to projects the partner is assigned to. And we can also create special partner pages. I will be working on this.

[2016-05-02 21:30] xamanu commented on #102
Yes, jobs went away. We have it in the system but not linked anywhere. We could put them under "Get Involved".

[2016-05-02 21:30] russdeffner commented on #101
Because I need a manual :)
So, the long version - we wanted to make a project page for the response. Needed an image of course :) so did a screen capture of the stats, to make stats not get 'cut-off' had to add the whitespace.

[2016-05-02 21:34] russdeffner commented on #97
Is there a manual :)
On another note, it needs to be manageable as we transition, so the next Chair will (in theory) be doing the next updates for Code/Bylaws/etc. - or Board, i.e. it needs to be fairly clear or have a bit of instruction somewhere. Or I guess if they don't know, they can open issue for help?

[2016-05-02 21:34] xamanu commented on #101
ok. It's not good to upload stats in the picture as it will be getting resized to fit different screen resolutions and also be responsive for mobile use. I'd recommend to use screenshots of maps, satellite images or other suiting photos.

But yeah, please help to write down this information, which is good and necessary for you in the wiki. This is how we can start to make a manual.

[2016-05-02 21:35] xamanu commented on #97
Yes, it would be good to write down in a manual how we manage files now, etc... Please start writing this down, you are the perfect person to do it, as you know the information you'd need

[2016-05-02 21:36] russdeffner commented on #97
ok, on my to-do.

[2016-05-02 21:38] TylerRadford commented on #99
Image appears twice if added in text in order to display on update node page.

![image](https://cloud.githubusercontent.com/assets/9853903/14968733/80c70e20-108c-11e6-8734-40bb0e8a65ca.png)
![Uploading image.png…]()

[2016-05-02 21:40] russdeffner commented on #101
@xamanu It would help if you could start 'deleting' the existing stuff in the wiki that is now out-dated.

[2016-05-02 21:43] xamanu commented on #99
Please make use of the "summary" functionality on each node edit form. So that the image is not in the teaser text. Thanks!

[2016-05-02 21:43] #99 closed

[2016-05-02 21:52] TylerRadford commented on #98
I added Peace Corps and adjusted text for YouthMappers. Yes imagery partners could also go here. I'd like to wait a short bit for these (starting with DG).

[2016-05-02 21:53] TylerRadford commented on #98
Also need to sort Partners by alphabetical order and ensure all their logos appear to be the same size.

[2016-05-04 02:45] russdeffner opened #103 "Require Post Summary"
Related to posts/comments in issue #99 - I think people are often posting on rather short notice/timeframe and we should assume they won't use the summary unless it is required/expanded upon default. Several of the recent posts have had 'duplicate images' shown on the front page (this happens if images are embedded in the post and no summary given). I believe the best avoidance is just go ahead an

[2016-05-06 06:20] grinapo commented on #84
I was pulled here from #65 and I'm not quite satisfied (apart from the obviously sad fact that this is indeed a **closed ticket**).

I am glad that there are showcases of the resulted maps, but this is absolutely not something I was missing in #65; my problem (or rather the problem of the people who is asked about "who does use the results and why, if anyone?") is that there is a very low amount o

[2016-05-09 22:49] TylerRadford opened #104 "Small layout fixes on homepage"
- Suggest moving top Nav menu outside of marquee image (currently menu items get obscured by image)
- Suggest making menu text larger and/or more visible (perhaps white text on red background upon rollover) -- currently some of the main text on the body of the page is bigger than the menu item text

![image](https://cloud.githubusercontent.com/assets/9853903/15130448/6e870b54-1616-11e6-8081-fec1a2

[2016-05-09 22:51] TylerRadford opened #105 "Multiple featured projects"
Enhancement request: ability to have multiple featured projects on the homepage (with only one displayed at a time)

One could be randomly selected upon page load
OR
Scroll through (slowly) the multiple projects, leaving each one displayed for 5-10 seconds

[2016-05-22 09:21] xamanu commented on #84
@grinapo I deeply agree, and you don't have to be sad. This is just merged into one place of discussion. And I hope we can tackle this here as well.

[2016-05-23 12:46] smit1678 opened #106 "Blog page layout issue: WHS Summit post"
There is a blog post layout issue being seen on https://hotosm.org/updates/2016-05-20_hot_at_the_world_humanitarian_summit. File attachment block seems to be rendering at the top of the post.

![](https://api.monosnap.com/rpc/file/download?id=25B1stcP6DaXvd8pyWqxxEqjBvu5Yr)

Seeing this both on Chrome and Firefox.

cc @dodobas @TylerRadford

[2016-05-23 15:20] xamanu commented on #106
Thanks for reporting @smit1678
It should be fixed now. Please confirm and close in affirmative case.

[2016-05-23 15:21] xamanu commented on #106
Thanks for reporting, @smit1678
It should be fixed now. Please check and confirm by closing in affirmative case.

[2016-05-23 15:24] xamanu commented on #98
@TylerRadford The Partnerships section is comming together. Now, when editing projects pages you can add partners to them. Please do, so I can tackle design issues when having them added. Thanks!

[2016-05-23 15:45] xamanu commented on #98
@TylerRadford Theming should be fine now. Please check and confirm, then I put the link in the main menu. Cheers.

[2016-05-23 15:47] xamanu commented on #87
I think this one here is dead. Closing for now. Please reopen in case there is interest.

[2016-05-23 15:47] #87 closed

[2016-05-23 15:48] xamanu commented on #97
Closing, because this should be treated in the manual.

[2016-05-23 15:48] #97 closed

[2016-05-23 15:49] xamanu commented on #103
This is definitively something to write in the manual #101. No need to make a post summary requiered.

[2016-05-23 15:49] #103 closed

[2016-05-23 15:53] xamanu commented on #104
I think here the main problem is the selected background image here, which has text in it. This is not very suitable when displaying the menu on top of it. I wouldn't like to change the design in such a strong way as suggested here.

Maybe we should include a note about image selection in the manual (#101).

[2016-05-23 15:53] #104 closed

[2016-05-23 16:00] smit1678 commented on #106
Looks great. 👍  Closing.

[2016-05-23 16:00] #106 closed

[2016-05-24 10:30] xamanu commented on #79
@TylerRadford Please check if it works as it should. There is also a Thank you message involved. So, please test also the donation work flow. Thanks!

Temporarily it is available under this link which then gets replaced with the regular donate-path: https://hotosm.org/donate-new

[2016-05-24 10:32] xamanu commented on #98
The path is already live, but not in the menu, until confirmed: https://hotosm.org/partnerships

[2016-05-24 10:51] xamanu commented on #79
I found two issues:

- [ ] Selecting amounts is not getting passed on
- [ ] Recurring settings functionality is not smart

[2016-05-24 14:42] xamanu commented on #79
ok. Now it should work. Please test. Thank you.

[2016-05-24 14:56] xamanu commented on #46
@dodobas Could you please look into this? It's not recommendable to have a server we can not maintain up to date.

[2016-05-24 14:57] dodobas commented on #64
we have daily database backups, which run early in the morning (UTC), backups are kept for last 365 days (at the moment) and copied to the external server

[2016-05-24 14:58] xamanu commented on #64
ok great! thanks. closing here.

[2016-05-24 14:58] #64 closed

[2016-05-24 15:10] xamanu commented on #105
:heavy_check_mark: Done

Out of the pool of features projects on each page load one gets loaded randomly.
To make a project a "featured project", select "Promoted to front page" on project nodes.

[2016-05-24 15:10] #105 closed

[2016-05-24 15:18] xamanu commented on #84
ok. I will try to summarize, which hopefully gets us to a common base of discussion:

* Showcases are items in "news" but with a special tag
* Showcases are associated to projects (and maybe partners?)
* Showcases are shown under projects, but separated from news.

[2016-05-24 15:19] #26 closed

[2016-05-25 09:14] xamanu commented on #102
Jobs are back on the "Get Involved" page: https://hotosm.org/get-involved
Please check wording. Thanks!

[2016-05-25 09:42] xamanu commented on #84
Showcases can be created on the website now: https://hotosm.org/node/add/showcase
Please add some, so we have content and I can work on getting this integrated into the website. Thanks!

[2016-05-25 11:40] grinapo commented on #84
I would like to have a clear distinction between showcasing **the results** of a HOT effort and the **use** of the results. Both is important but serves two completely different purposes.

And of course "requiring" a use report (in exchange for the data we provide) is a policy (or communication) question.

(I'm not on the team, I'm rather using the HOT content to spread the word.)

[2016-05-25 11:55] xamanu commented on #84
IMHO this is for the **use** of the map data to create a real and tangible outcome.
The **result of an HOT effort** is always something for the project's updates (news).

[2016-05-26 14:38] TylerRadford commented on #104
Hi @KatjaUlbert @mellig what other design suggestions might you have for us here? @xamanu is right that the text in the image doesn't help, howeer I still believe the top navigation menu needs to be more prominent (size, color, or otherwise), even if there is no text in the background image.

[2016-05-26 15:13] TylerRadford commented on #105
Cool. Thanks @xamanu

[2016-05-26 16:34] TylerRadford commented on #98
Hi @xamanu when editing partners I can only see Title Body and Image fields, no field to link to projects or field for the partner's URL. Could you check?

[2016-05-26 16:36] TylerRadford commented on #98
Also, could we see what it looks like with logos left-aligned. Since they currently centered, each row looks like it currently has a different amount of space between each of the two partner logos. Left aligned might make it appear more consistent.

[2016-05-26 16:38] xamanu commented on #98
- Please select partners on projects, not projects on partners.
- Logos in the design are always centered. Changing this would be clearly inconsistent.
- I agree, it would be good to have a partner website field on partners (feature request)

[2016-05-26 16:47] xamanu commented on #98
Added url field for partner's website url.

[2016-05-26 16:53] TylerRadford commented on #79
1. I tried a recurring donation and on the paypal page it says ", for 24 installments" -- can we make it indefinite instead of 24 months?
2. Can we enter cc info directly on the page similar to the Red Cross and MSF - see https://www.redcross.org/donate/donation -- We had designed it this way in the mockup https://moqups.com/#!/edit/mellig/NLnozD7i

[2016-05-26 16:55] TylerRadford commented on #98
Thanks Felix

Logos should be left-aligned per the design. Pls see https://moqups.com/#!/edit/mellig/NLnozD7i and https://drive.google.com/folderview?id=0B9J_lNJIscUzbmNlQ3YtWVRUeTg&usp=gmail

[2016-05-26 17:08] xamanu commented on #98
ok. I still think it's inconsistent. But approved is approved :smile:
Now it's left. Good to go?

[2016-05-26 17:15] xamanu commented on #79
1. This is given by Paypal. I don't see a way how to get this indefinite.
2. Unfortunately not, because we are not processing credit cards by ourselves (at least, as far as I know).

[2016-05-26 17:20] TylerRadford commented on #98
The whole thing looks great, thanks. Yes please publish (and with a link in the top nav). I am adding URLs and links to projects.

[2016-05-26 17:20] xamanu opened #107 "Featured content"
For now only projects can be specially highlighted in the big highlight area of the home page, which is internally called "featured project". This shall be altered to be a "featured content" view, including the possibility to add news items and showcases into this area by using the same checkbox "promote to front page".

[2016-05-26 17:23] xamanu commented on #98
Done. Closing this issue.

[2016-05-26 17:23] #98 closed

[2016-06-01 07:41] grinapo commented on #84
Yes! Excellent.

[2016-06-01 22:54] TylerRadford opened #108 "Contact page on website and displaying the location on a map"
Contact page is now live on the website:

https://hotosm.org/contact-us

As a future enhancement, instead of a static text page, what about a page with OSM map previews of our office addresses?

[2016-06-01 22:54] TylerRadford commented on #102
great

[2016-06-01 22:54] #102 closed

[2016-06-01 22:56] TylerRadford opened #109 "Content editing allows various fonts"
Suggestion to better defining styling of headings H1/H2/H3 etc and prevent ability for content editors to copy/paste various font styles in rich text format.

[2016-06-21 16:08] bgirardot opened #110 "Typo on user pages"
On the user pages it seems to say:

"Projects this user has participated"

it should probably say:

"Projects this user has participated in"

[2016-06-29 15:28] grinapo commented on #84
Showcase entry: http://confidencial.com.ni/the-true-geographers-take-the-buses/

[2016-06-30 15:28] TylerRadford opened #111 "Enhancement request: user photo above name in News items"
Request to add the user's photo above their name in the News item single node page, in order to give it a more personal feel. For example in the screenshot below, Douglas' photo would appear above or below his name.

![image](https://cloud.githubusercontent.com/assets/9853903/16494037/ccfea30a-3eb5-11e6-9561-84c59621a101.png)

[2016-07-27 16:30] cgiovando opened #112 "Title backdrop image only showing for first news item on homepage"
In the "Latest News section of the homepage, only the most recent item shows the backdrop image. See screenshot below:

<img width="705" alt="screen shot 2016-07-27 at 09 28 23" src="https://cloud.githubusercontent.com/assets/10201533/17183486/96425ad2-53dc-11e6-8819-7371442e3b87.png">

[2016-08-01 08:55] xamanu commented on #112
This was intended to show only the first item's image in the redesign process. So, I can't see here the issue. Please explain further or close. Thanks!

[2016-08-01 09:17] cgiovando commented on #112
OK, sorry, I don't remember that discussion. Can you remind me of the reasoning behind that choice? To me it seems an inconsistent design to have one item with the background and two without.

[2016-08-01 09:29] xamanu commented on #112
First, to let you know, I don't consider the redesign as something static that we should not touch anymore! I think we should always be able to step forward. And if there is something we could do better, we can just do it.

We wanted to give the first news item a more prominent position and a picture for all news items would cause a heavy accumulation within a pretty clean and bright design. I'm a

[2016-08-01 10:30] cgiovando commented on #112
I see. OK, I'll leave it open for discussion then. At the moment the three news items seem a little bit hidden down the page anyway, so I'm not sure if having a background for the top one only really makes a difference in drawing attention. I would definitely be interested to test different layout options with news items moved up higher in the page. Thanks @xamanu

[2016-08-15 18:41] cgiovando opened #113 "Teaser break not working on homepage or project pages"
I noticed that the teaser break is not respected for news items appearing on the homepage, nor in the list of articles linked from each project page. For example I just published this [blog post](https://hotosm.org/updates/2016-08-15_improving_resilience_with_aerial_imagery), adding the teaser break where it says "...face during natural disasters.", but it only works in the [list of updates](https

[2016-08-16 21:13] gregrs-uk opened #114 "Typo on About page: Collaborative Maps for Humanitarian Aid section"
Presumably this:

should read:

[2016-08-16 21:54] bgirardot commented on #114
Thank you very much for letting us know! Fixed! Cheers @gregrs-uk

[2016-09-10 17:04] russdeffner opened #115 "Member Profiles Showing Twice"
I believe this is related to someone having two profiles on the website. If you look at https://hotosm.org/working-groups/fundraising or https://hotosm.org/voting-members you can see Pierre Mirlesse shows up twice.

[2016-09-10 17:13] russdeffner opened #116 "Show Links on WG Pages"
Currently when you view a Working Group page the 'links' are not shown. In other words, the link to the WG wiki-page and contact are not shown.

[2016-09-16 15:54] TylerRadford opened #117 "Add annual report section to website"
We have completed our 2015 annual report in pdf format. Can we add a place for it on the website?

The bottom of the "About" page could be a good place to add a new block. Perhaps we could merge the one usefile file from the "Incorporation" block in with the "Bylaws" block in order to free up space for an Annual Report block.

![image](https://cloud.githubusercontent.com/assets/9853903/18592288/46

[2016-09-17 08:20] xamanu commented on #117
Of course! No problem to do that. And we can have this by the start of HOT Summit.

[2016-09-19 10:25] xamanu commented on #117
@TylerRadford you can edit the page of the annual report here if you wish: https://hotosm.org/annual_report

[2016-09-19 10:28] xamanu commented on #117
The annual report block is on the website.
Feel free to edit https://hotosm.org/by_laws to include https://hotosm.org/incorporation

[2016-10-04 18:53] #114 closed

[2016-10-26 14:33] xamanu commented on #84
@grinapo This is already one of the (only) two showcases we have: https://hotosm.org/showcases

I just wrote am email to the HOT mailing list to ask more people to contribute with showcases. Let's hope we get more valuable input on this.

[2016-10-26 14:35] #117 closed

[2016-11-01 18:18] pantierra opened #118 "Search"
Include search again, with a magnifier symbol in the header, which opens the search bar.

[2016-11-07 15:51] bgirardot commented on #118
This sounds great.

[2016-12-15 20:24] vannicer opened #119 "Staff page"
When editing the staff page, on the back end "people" tab, if you select someone as a "Contractor" in the drop down, they appear on the Staff page as "interns"

[2017-02-08 16:21] DylanMoriarty opened #120 "Improve Site Image Quality"
On a Retina screens most of the images for the site are noticeably grainy around the edges:

<img width="780" alt="screenshot 2017-02-08 10 39 12" src="https://cloud.githubusercontent.com/assets/9341928/22744258/e03eebe8-edea-11e6-9fc5-ba227c4faf8f.png">

<img width="245" alt="screenshot 2017-02-08 10 43 06" src="https://cloud.githubusercontent.com/assets/9341928/22744450/65e03b08-edeb-11e6-9c52-5

[2017-02-08 17:32] bgirardot commented on #120
@xamanu @KatjaUlbert Any objection to  @DylanMoriarty going ahead to work on this? You both should have introduction emails from Dylan in the membership email.

[2017-02-08 17:47] pantierra commented on #120
No, not at all. Welcome @DylanMoriarty I just gave you access to this repo. Any questions, please don't hesitate to ask.

I think almost all svg's are in [this folder](https://github.com/hotosm/hotosm-website/tree/master/sites/default/themes/hot_theme/images/source-files).

Cheers!

[2017-02-15 22:40] DylanMoriarty commented on #120
Awesome! Thanks man. Having the original SVG's handy is a godsend.

The fix itself should be quick, but I can't say I've run a Drupal based development environment before! Took a quick peek at it the last weekend but got bogged down pretty quick.  Lots of install.txts. @xamanu are there any quick start guides you could recommend to getting it running locally?

[2017-06-26 16:56] vannicer opened #121 "Update Guidestar logo"
Heya,
Was just hoping to get our Guidestar widget updated now that we're Platinum rated.
Widget code here- http://www.guidestar.org/NonprofitGXSealWidget.aspx?OrgId=9229194

[2017-06-27 15:05] vannicer opened #122 "Upload Annual Report"
Any advice on how to upload the Annual Report as it exceeds doc upload size

[2017-07-03 11:11] grinapo commented on #122
(Alternatively you may investigate whether it could be shrunk in the meantime. Possibly extreme high res imagery is not strictly required.)

[2017-12-21 17:20] smit1678 opened #123 "Update on development in this repo"
We're getting started with a website update as per the work that happened in https://github.com/hotosm/design-strategy. 🚀 The current plan is to create a branch that will replace the current version based on Drupal with an update codebase (CMS not fully decided upon yet).

To do to help use this repo for the new development:

  - [x] open up a Projects board to track the new work. We'll use this t

[2017-12-21 17:46] smit1678 opened #124 "Create sitemap for proposed structure"

[2017-12-21 17:47] smit1678 opened #125 "Develop wireframes for initial main views"

[2017-12-21 19:52] smit1678 opened #126 "Review photos and determine if a series of new photos can be captured"
We have a significant amount of older photos but not all high-res. Many of our high-res images get reused often. As a part of a content review, need to look at photos. Then determine if and what projects we can collect a variety of more photos that can be used across the site.

cc @vannicer

[2017-12-21 19:54] smit1678 opened #127 "Assemble spreadsheet to outline content blocks"
Based on our discussion on Monday, we need to assemble a spreadsheet of specific content that will need to be generated as the work begins. We want to work with real content and not lorem ipsum. The spreadsheet will be used as a way to organize and start writing content before a site is up.

[2017-12-21 20:07] smit1678 commented on #124
From @brendangatens, site map based on a restructure to help emphasize what is HOT, where is community and work being done, how to get involved, and a full community section. Colors match type of content across pages.

[Larger view along with wireframes here.](https://marvelapp.com/2g8782a/screen/36545094)

![sitemap](https://user-images.githubusercontent.com/796838/34272769-356ba0ba-e657-11e7-8e2

[2017-12-21 20:11] smit1678 commented on #125
From @brendangatens, here is the initial version of the wireframes for the main pages + navigation.

[Previews below, full versions can be accessed here.](https://marvelapp.com/2g8782a/screen/36545089) Drop comments into the Marvel app if needed.

![nav](https://user-images.githubusercontent.com/796838/34273110-9bacfa4e-e658-11e7-90ab-8fa720b66889.png)
![hotwebsite-home](https://user-images.github

[2017-12-21 20:13] smit1678 opened #128 "Review and outline type of data integrated into project pages"
Project pages will look to integrate data from external tools and services to provide a more updated and live picture of what is happening in the project. To start, we need to determine what would we like and what is possible.

[2017-12-28 19:10] smit1678 opened #129 "Document large and small project for examples"
Need to generate one example of a larger project (multiple Tasking Manager projects or lots of data being collected) and one example of a smaller project (no Tasking Manager projects and not a lot of data collected). These will serve as an examples to design around for the project pages.

cc @vannicer @RebeccaFirthy I'm thinking the malaria project is a good example of a larger project. Other idea

[2017-12-28 19:11] smit1678 commented on #128
@brendangatens Here is an initial summary of project page data that we should be able to get from each source.

This is really just a summary of the main type of data that we could potentially get from each source and doesn't really go into ways we could show each one yet.

Potential Data:

- TM
	- Task number, name, description
	- Task completion and validation status
	- area that is being mapped

[2018-01-04 18:10] smit1678 commented on #127
Here is the initial spreadsheet for content blocks: https://docs.google.com/spreadsheets/d/1CecktuqEGuCUcNxK8FBWfCXbfzCppNNaH9qsBR7ag7o/edit?usp=sharing

[2018-01-04 18:44] bgirardot commented on #127
Does the new website maintain the blog aspect of the current website and grouping blog posts by major project area?

And the membership functionality where each voting member gets a page that shows how they contribute, e.g., working groups and projects they contribute to?

[2018-01-04 18:45] bgirardot commented on #127
I guess it does based on other issues in this repo. sorry, just saw the spreadsheet and didn't see any mention of those items.

[2018-01-04 18:49] bgirardot commented on #124
I do not see job openings listed anywhere.

[2018-01-04 20:50] russdeffner commented on #127
I added some comments directly on the spreadsheet, take or leave them, looks like a good start.

[2018-01-04 20:54] russdeffner commented on #127
The community WG flushed out 'roles' a year or two back, results (and links to more info) on the wiki: https://wiki.openstreetmap.org/wiki/Humanitarian_OSM_Team#Community_Types_and_Roles
This is regarding the Get Involved List of roles/persona types so we wouldn't have to start from scratch.

[2018-01-06 21:31] pantierra commented on #124
It is clearly a new direction and I have to say that I generally like the approach. However there are a few things that we might want to think about and whether we want or not to drop them.

The current website links projects with news with type of project (disaster mapping, community or technical). This allowed each project to have their own kind of landing page. For example:

https://www.hotosm.

[2018-01-08 12:32] smit1678 commented on #127
This is regarding the Get Involved List of roles/persona types so we wouldn't have to start from scratch.

@russdeffner Thanks for linking that. I don't think that was brought up previously but might have been brought up indirectly when we were looking at this last summer in https://github.com/hotosm/design-strategy/issues/15. That resulted in a bigger list as well as some user interviews which we

[2018-01-08 12:45] smit1678 commented on #124
@xamanu Good question, but yes, this is still the plan. Based on the current approach, we're not only going to have project grouping (I think we still need to get our terminology right) pages, but also individual project pages. These weren't mocked up yet in wireframe yet, but the you can see the Country view here: https://marvelapp.com/2g8782a/screen/36545091. Which also gives the opportunity for

[2018-01-08 12:46] smit1678 commented on #124
@bgirardot Good point. I think we've been tackling the larger views and pages first but this will for sure still be a part of the structure.

[2018-01-09 23:54] TylerRadford commented on #127
@RebeccaFirthy in DC we agreed to take the lead on drafting hotosm.org website text with Rachel. Since Rachel is traveling I got us started. Can you pls review what I already wrote? This is a draft - you can completely cut and propose new language if you don't like what is already there. We also need content for community support programs, "partner with us" pages

[2018-01-10 00:03] RebeccaFirthy commented on #129
Hi,

Sorry just saw this! For small projects, we could showcase some Microgrants
/ device grants?

On Thu, Dec 28, 2017 at 2:10 PM, Nate Smith <notifications@github.com>
wrote:

--
*Rebecca Firth*
Community and Partnerships Manager
rebecca.firth@hotosm.org <tyler.radford@hotosm.org>
@RebeccaFirthy

*Humanitarian OpenStreetMap Team*
*Using OpenStreetMap for Humanitarian Response & Economic Developm

[2018-01-11 13:51] smit1678 opened #130 "Proposal for technical approach to redesign"
Right now we're leaning towards [Jekyll](https://jekyllrb.com/) as the open source framework for managing content and HTML/CSS/Javascript. Below is a short write up of some of the previous conversations about this direction and how we’ll look to handle some of the considerations.

We had started this conversation last year in the tech working group, but it was never summarized or posted. In short,

[2018-01-11 14:15] pantierra commented on #130
Thanks, @smit1678. I deeply agree with all stated here. Moving away from Drupal to a static site generator is a good way, in my opinion. Besides Jekyll (Ruby based) I have also made good experience with Pelican (Python based), but as both are pretty similar, I think it is best to follow the one that people know most about, which seems to be Jekyll.

[2018-01-15 19:32] bgirardot opened #131 "Finalize initial styles"
To continue on building out from the wireframes from #125, initial visual styles from @brendangatens laid out on to the wireframes are here: https://marvelapp.com/7bdc9h0/screen/36822336

*comment updated by @smit1678*

[2018-01-17 14:28] smit1678 commented on #130
Thanks @xamanu, I agree, I looked into Pelican and then also looked at Hugo as another option. I am more familiar with Jekyll and so I lean towards that of course.

I also think there are some interesting opportunities in the future to think about building a remote theme for jekyll: https://jekyllrb.com/docs/themes/. This would allow anyone to tap into the HOT style and bootstrap their own site or

[2018-01-19 15:11] smit1678 opened #133 "Evaluate search options"
Marking as a todo. We'll want some type of simple text search to enable quickly finding older projects or posts. Need to evaluate how we'll implement.

[2018-01-22 16:51] smit1678 opened #134 "Migration plan"
Starting a thread about migrating old content.

### Currently
We have the following content types on the Drupal site:
- Job
- Partner
- Project
- Showcase
- Static page
- Update
- Video
- Working Group

### Considerations

@brendangatens and I briefly discussed that the best plan of action is to look to move these into generic pages on the new website. In the near term, we won't necessarily create

[2018-01-23 14:34] DylanMoriarty commented on #130
Hard agree and glad to see this is on the table for the new site.

For the accounts, I'd be curious how many HOT members actually login to the site to edit their profile after the first time of doing so.

[2018-01-30 14:55] smit1678 opened #135 "Add more info about Jekyll to readme"
To be helpful for newcomers to using Jekyll to set up and run the site locally, may be helpful to add some more information about install Jekyll in the readme.

[2018-01-30 15:43] smit1678 opened #136 "Close out old branches"
@xamanu Reviewing old open branches. `redesign` is one that was last touched a couple years ago.  It looks like it was merged, https://github.com/hotosm/hotosm-website/commit/6006e08af1d25bc949ef5b2418f5838141f744c4. Can we delete this?

[2018-01-30 17:56] pantierra commented on #136
Sure, I deleted it now. Sorry for not cleaning up before.

[2018-01-30 17:56] #136 closed, assigned to nobody

[2018-02-15 20:18] smit1678 commented on #133
To update here with a couple ways to approach from some initial research:

1. write some custom javascript or leverage something like https://www.npmjs.com/package/simple-jekyll-search. [Example custom search is from Development Seed](https://developmentseed.org/)
2. use something like [lunr.js](https://arcath.net/2016/02/setting-up-lunr-js-in-jekyll/)

Both seem to involve creating a json file th

[2018-02-15 23:08] donovanglover opened #137 "Brand and Trademark Guidelines"
Hello,

I noticed that the website as it stands now does not respect most branding guidelines. Except as otherwise stated, assets like logos cannot be modified. This includes recoloring them.

More information:

- https://about.twitter.com/en_us/company/brand-resources.html
- https://en.facebookbrand.com/guidelines/brand
- https://developers.google.com/youtube/terms/branding-guidelines
- https://e

[2018-02-15 23:28] donovanglover commented on #135
Hello,

I'd like to work on this, but I think it's best to have a separate `CONTRIBUTING.md` file for contributors. This way the information can be as detailed as it needs to be without affecting the size of the readme. [Example](https://github.com/github/explore/blob/master/CONTRIBUTING.md).

[2018-02-16 18:15] smit1678 commented on #135
@GloverDonovan Yes, totally agreed about having a contributing document. We've been trying to add those in all our other repositories. I think this specific ticket was about installing Jekyll and making sure the README had enough information for anyone to get the site up and running locally.

[2018-02-22 17:51] donovanglover commented on #135
I should have a pull request that fixes this issue soon.

[2018-02-27 14:50] dakotabenjamin commented on #134
Working on the migration, of content using a slightly custom [jekyll-import](https://github.com/dakotabenjamin/jekyll-import/tree/filename-length) which gets us 50% of the way. The content is there, but it still needs to be laid out properly, which means either editing the importer tool to query/parse the metadata, or adjusting how the layout parses the generated metadata, or some of both.

For ex

[2018-02-27 14:58] dakotabenjamin commented on #134
Process for importing using a local db:
add these gems to Gemfile:
[code]
run `bundle install`

`bundle exec jekyll import drupal7 --dbname drupal-site --user root --types update --engine mysql --password [redacted] --trace`

AFAIK once the import is complete we can remove the gems.

[2018-02-28 09:50] brendangatens commented on #134
Hey @dakotabenjamin, I'm getting an error caused by `filename-length` (the branch listed above) not being found. Is there another branch that this should be using?

Also, categories are present by default in Jekyll; we aren't using them, however. We may find a use for them in the future, but you can ignore categories as far as the import goes.

[2018-03-01 16:17] dakotabenjamin commented on #134
Sorry, I switched to the `add-author` branch.

What about the layout tag? I was getting errors and have to remove that because it seems we are using a different method for assigning page layouts

EDIT: For the gemfile you can also specify `:path => ` for a local gem resource.

[2018-03-01 20:44] dakotabenjamin commented on #134
I'm nearly done with the Updates/Posts import: https://dakotabenjamin.github.io/hotosm-website/updates/

Current issues:
- Names / Authors: There are some names that got imported that aren't regular- like "RebeccaFirth", "russell deffner", or "Douglas" so they won't necessarily translate to someone in "/people"
- The "/updates" page seems to repeat the contents of the page three times
- I don't ha

[2018-03-02 08:56] brendangatens commented on #134
I was only working with just a few sample posts when styling and creating pagination, so I looped through the posts three times in order to display more posts on the page. I'll get rid of that loop.

I don't think countries were tracked or tagged in previous posts. There will be some manual work involved here.

Images and links probably aren't working because their paths are relative to the root a

[2018-03-02 14:27] smit1678 opened #139 "Deployment options"
Right now we're just leveraging Github Pages by deploying the code on the `gh-pages` branch with a baseurl of `/hotosm-website`. This results in the site at http://hotosm.github.io/hotosm-website/. We will ultimately have this at http://hotosm.org.

Based on the paths and making sure we make it easy for people to create new blog posts with images, ideally we don't have a baseurl in the configurati

[2018-03-03 22:10] #139 closed, assigned to nobody

[2018-03-05 09:53] smit1678 commented on #134
Now that we're at http://www-dev.hotosm.org/, all links and paths should be working correctly

[2018-03-05 10:06] brendangatens commented on #134
@dakotabenjamin and I chatted about just doing a project-wide _find and replace_ for any of those recurring errors (like the lack of space in _RebeccaFirth_.

I haven't yet migrated the posts in to my working branch. I got an error attempting the migration last week so I figured I'd wait until the migration work was finished. It hasn't held me up at all.

[2018-03-05 11:18] smit1678 commented on #134
Yeah I think the only place where countries is captured on the Drupal site is the Voting Members: https://www.hotosm.org/users/adityo_dwijananto

[2018-03-05 14:48] smit1678 opened #141 "Develop Our Work map and interaction"
From #131, need to develop the map and interactions for the Our Work section. Location for the header in Our Work page: http://www-dev.hotosm.org/our-work.

![hot our work 2018-03-05 14-46-52](https://user-images.githubusercontent.com/796838/36981091-21365e84-2084-11e8-8506-f124895211e6.png)

Prototype of interaction here: https://framer.cloud/mTeKY

@brendangatens Guidance on what we're seeing on

[2018-03-05 14:49] smit1678 commented on #121
We captured and added this into the new development. Featured in the footer.

[2018-03-05 14:49] #121 closed, assigned to nobody

[2018-03-05 16:37] dakotabenjamin commented on #134
Possible ways to handle countries:
- don't add it to the migration
- scrape locations from the body content (may grab irrelevant information)
- go through it by hand

[2018-03-06 09:46] smit1678 opened #142 "Guidelines for content editing"
Develop materials that outline how to edit content for Website and Communications working groups. This will be the start to additional documentation but focus for first iteration of docs is for editing by the working groups in the near term.

[2018-03-06 10:37] smit1678 opened #143 "Tools and Data page"
For first version, add these initial sections to align with user needs:
  - Plan mapping
  - Editing the map
  - Get OSM Data
  - Analyze OSM Data

After this initial layout, we'll review gaps and see what other information we should be adding to this page, i.e. Github and other resources.

[2018-03-06 12:22] smit1678 opened #144 "Community and Organization page"
For first version, following is to do on the Community and Organization Page:
  - hold on adding a local initiatives section, discuss about if we want to have this or just keep as linking to projects
  - Working Groups - describe what they are, links to a list of Working Groups page with module with description and links to get involved in that working group
  - Add module for HOT Summit
  - Add m

[2018-03-06 12:23] smit1678 opened #145 "Partner with Us page"
For initial version, Partner with Us page todo:
  - Bootstrap with initially written content
  - Discuss Partners logo page from old site after new page is bootstrapped, what do we do with it?

[2018-03-06 12:24] smit1678 opened #146 "Get Involved page"
For initial version of the Get Involved page, to do:
  - Keep user and country selector to see how it can work
  - Replace events module with Jobs, link to Jobs landing page
  - Add other modules based on wireframe layout and content

[2018-03-06 12:25] smit1678 opened #147 "Jobs landing page and individual pages"
For initial jobs page at `/jobs`
  - Jobs landing page is just a list of active jobs. will need to filter based on date or add a hidden flag for landing page but keep job page live.
  - Create individual jobs pages `/jobs/new-job/`

[2018-03-06 12:28] smit1678 commented on #134
thanks @dakotabenjamin, agreed. How about we leave this out of the migration and create the country pages by hand (or through a short script)? Since we want to have pages for all countries, whether there is a project or person there or not, we should pregenerate markdown files with metadata.

[2018-03-06 12:39] smit1678 commented on #128
Two weeks ago @TylerRadford @dakotabenjamin and I chatted about ideas for project and country pages as a way to evolve the conversation from what we listed above.

We began the discussion by outlining some of the questions we thought should be answered by the pages:

* What is happening / what are we doing?
* How do I get the data?
* How can I contribute?

We talked through the above list of poten

[2018-03-06 13:38] dakotabenjamin opened #148 "Add support for multiple authors in Updates"
It should be set up like this in the _posts file:
[code]
which currently looks like this:
![image](https://user-images.githubusercontent.com/1847818/37034879-be962468-2118-11e8-8340-deb5de4a0d09.png)

I think putting a line break in there will make the names render correctly, but I'm not sure how to do it  in the layout.

[2018-03-06 13:54] dakotabenjamin commented on #141
Is the map here going to be slippy or just an image?

[2018-03-06 14:39] dakotabenjamin commented on #134
So I'm more or less done with migrating the updates content. I just have to fix the author names, but I think I might wait until the users/persons pages are more filled out.

Now I'm going to work on the  the rest of the content. I have to
- Get feedback from @smit1678 and @brendangatens
- determine if jekyll-import is still the right tool for the other stuff (it was very good for blog posts, not

[2018-03-06 15:14] bgirardot opened #150 "Images should have source/credit license info and display that."
Many images are cc-by, which means to use we have to have a source/credit field and display that. Even if they are not cc-by it is usually needed to display a source credit.

[2018-03-06 15:16] russdeffner commented on #144
Re: Working Groups - it would be great if we could get the calendar embedded in the website: https://calendar.google.com/calendar/embed?src=hotosm.org_848e89aaiab04ag94d23rqn558@group.calendar.google.com

[2018-03-09 10:09] #135 closed, assigned to nobody

[2018-03-13 11:05] smit1678 commented on #141
Recap of our discussion on Friday:

Three immediate spots for maps:
1. Our Work page that shows coverage of HOT projects and community members. Serves as a navigation point for country pages.
2. Country pages. Will have a static map for now centered over the country: http://www-dev.hotosm.org/where-we-work/uganda. These will evolve into more robust views of data outlined in #128.
3. Profile pages.

[2018-03-13 11:09] smit1678 opened #153 "Users migration"
Marking as a todo for this week

[2018-03-13 14:39] dakotabenjamin commented on #148
@brendangatens If you haven't already worked this out I'll take a shot

[2018-03-13 14:51] brendangatens commented on #148
@dakotabenjamin I haven't done this yet. Might just need to loop through people as we already do for countries and working groups just below. I can look at this later today if you don't get around to it.

[2018-03-14 14:57] smit1678 opened #154 "Frontpage stats"
One the frontpage we're planning to have stats integrated. We need to sort out what stats and where we are getting them.

A simple near-term solution would be to leverage the Missing Maps stats API, https://osm-stats-production-api.azurewebsites.net/stats/missingmaps, plus the Tasking Manager, https://tasks.hotosm.org/api/v1/stats/home-page.

![humanitarian openstreetmap team home 2018-03-14 14-44

[2018-03-14 15:04] DylanMoriarty commented on #141
I haven't cranked on this completely yet, but think I've got a good battle plan for it.

### New Frontmatter
The code for a map will be included in the global site javascript, but only run if 'map' is defined in the frontmatter. That value will either be interactive (project page) or static (country/profile).

I'm pretty sure the only other variable we really need is the Country name somewhere. It

[2018-03-14 16:18] smit1678 commented on #143
@brendangatens We have all the pieces in place now, correct?

If so, next action is to review and update the draft content.

[2018-03-14 16:19] smit1678 commented on #145
@brendangatens We have all the pieces in place now, correct?

If so, next action is to review and update the draft content.

[2018-03-14 16:19] smit1678 commented on #146
@brendangatens We have all the pieces in place now, correct?

If so, next action is to review and update the draft content.

[2018-03-14 18:33] smit1678 opened #155 "Add flag to feature project on Our Work page"
@brendangatens @RebeccaFirthy Did we settle on adding a way to highlight projects on the Our Work page?

Should we consider adding a metadata flag to enable this?

[2018-03-15 09:10] brendangatens commented on #155
Currently, it's set up so that position in the CMS determines whether or not a project is highlighted (In Siteleaf, it's easy to drag and drop in the list of projects to re-order).

<img width="1071" alt="screenshot 2018-03-15 09 03 56" src="https://user-images.githubusercontent.com/1270986/37453536-d679b536-282f-11e8-8330-4ca64447e59d.png">

Highlight treatment will also depend on which project i

[2018-03-15 09:30] brendangatens commented on #146
@smit1678 my country selector doesn't seem to be working, but yes, ready for review and content considerations.

[2018-03-15 09:33] brendangatens commented on #147
Example job up here: http://www-dev.hotosm.org/jobs/communications-and-social-media-intern.html

[2018-03-15 09:35] brendangatens commented on #145
Yes. At the moment though this is just a standard text page using text from the content doc. Interested to see if there are any further requirements. http://www-dev.hotosm.org/partners/

[2018-03-15 14:40] dakotabenjamin opened #156 "Images Migration"
If we dump all the images into _uploads, then the migration should be fairly simple, it's a matter of pulling the filenames from the drupal db and appending it to "_uploads/". The main issue I am concerned about is that git stores every file as well as all revisions to that file, so any changes (resize, etc.) will result in a copy of that file. This can lead to git folder bloat, especially if we a

[2018-03-15 15:24] dakotabenjamin commented on #153
see #157

[2018-03-19 19:05] smit1678 opened #159 "Impact area page urls"
clean up impact page urls from `http://www-dev.hotosm.org/impact-areas/clean-energy.html` --> `http://www-dev.hotosm.org/impact-areas/clean-energy/`

[2018-03-21 13:00] smit1678 opened #160 "Hook up links on frontpage"
- [ ] tools and data
- [ ] community
- [ ] partnerships
- [ ] donate

[2018-03-21 13:00] smit1678 opened #161 "Create Donate page"
Add text, video, and embed of Donately form

[2018-03-21 14:12] #153 closed, assigned to dakotabenjamin

[2018-03-21 15:48] dakotabenjamin commented on #156
The size of the drupal /files dir is 400MiB for reference

[2018-03-21 16:24] brendangatens commented on #160
These links are now working.

[2018-03-22 17:54] smit1678 opened #162 "Hook up country selector on Get involved page"
Input works with country dropdown but doesn't link to page yet

[2018-03-23 17:12] bgirardot opened #163 "I feel lost in the navigation on the new site"
I feel like I have no idea where I am on the website and I can't discover where content is or the overall structure of the website.

I also feel like I can not easily figure out how to return to website content that I have seen clicking around.

It would help if there was some navigation that helped me see how the website is structured and where content is.

The website is complicated and without

[2018-03-23 17:47] bgirardot opened #164 "confusing between "our tools" and "tools we use""
might need two sections as it seems like we own, write some of the "our tools" stuff.

[2018-03-27 11:19] smit1678 opened #167 "Change HOT involvement metadata field to list for projects"
Change from free text to two items:
- HOT Program
- Community-lead

[2018-03-27 11:21] smit1678 opened #168 "Consider naming for News/Updates"
Right now we name our blog posts `News` but the path is `/updates/`. This is minor but slightly confusing. This is a pattern we used on the old site so it is fine for now but worth a consideration to create a easily readable URL that matches content.

Consideration: redirects from old site.

[2018-03-27 11:21] smit1678 opened #169 "Add jobs link in footer"

[2018-04-02 09:24] brendangatens commented on #169
Done ✌🏻

[2018-04-02 09:24] #169 closed, assigned to nobody

[2018-04-02 09:34] brendangatens commented on #167
I've created an `Is Community-Led` checkbox on each project. If this isn't checked as true, the project will default to being a _HOT Program_. What do we think? An alternative way of doing this could be to create a drop-down with the two options. In order for this to work though, we would have to create a _HOT Involvement_ collection containing just the two options; might be overkill unless we sta

[2018-04-02 09:36] brendangatens commented on #161
Done ✌🏻

[2018-04-02 09:36] #161 closed, assigned to nobody

[2018-04-02 09:37] #160 closed, assigned to nobody

[2018-04-02 09:55] #147 closed, assigned to brendangatens

[2018-04-05 13:18] #156 closed, assigned to nobody

[2018-04-05 13:19] dakotabenjamin commented on #133
![image](https://user-images.githubusercontent.com/1847818/38368081-57ba5654-38b2-11e8-98bc-5d1ef32fb5bb.png)

Now it needs to be styled...

[2018-04-05 14:36] brendangatens commented on #133
@dakotabenjamin is this on a branch somewhere? Happy to get started styling when ready.

[2018-04-06 23:21] dakotabenjamin commented on #133
![image](https://user-images.githubusercontent.com/1847818/38448016-3f6a624c-39cf-11e8-96eb-785ad192dbdf.png)

Some issues remain and it is a little beyond my front-end skills

- [ ] The overlay isn't scrolling (it was working once but I'm not sure how to get it to work again)
- [ ] Animations would be nice
- [ ] Need an "X" instead of the arrow placeholder
- [ ] Could use feedback on what informa

[2018-04-07 08:48] Dragneel7 opened #172 "Links not added"
Some links have not been added :
1.) Search icon doesn't work (ref. to issue #118)
2.) "Code of Conduct" in the footer is not linked to any page

[2018-04-07 09:02] Dragneel7 commented on #162
@smit1678 I would like to  work on this issue.
Can you tell me where the form action should be redirected to?

[2018-04-07 15:42] smit1678 commented on #162
thanks @Dragneel7, sounds good. Here's what the action should be:

- User selects the dropdown and sees the list of countries (how it works right now)
- Then when the user selects a country, it should take them to the country page, i.e. http://www-dev.hotosm.org/where-we-work/bangladesh/

I don't think we need to do anything more than that.

[2018-04-08 02:28] dakotabenjamin commented on #172
Re: Search, see #133

[2018-04-08 10:26] Dragneel7 commented on #133
@dakotabenjamin I could try working on frontend part modifying your existing work.

[2018-04-08 11:39] smit1678 commented on #133
@Dragneel7 I think @brendangatens was/is going to knock out the styling for this. Do you want to pick up on https://github.com/hotosm/hotosm-website/issues/154 for the time being?

[2018-04-08 11:43] Dragneel7 commented on #133
@smit1678 I can work on that.

[2018-04-08 11:45] Dragneel7 commented on #154
@smit1678 Can you please explain what exactly do we have to add more in the pre-existing stats.
Thanks

[2018-04-08 11:58] smit1678 commented on #154
@Dragneel7 Certainly. For this task, we want to dynamically add the numbers from each API endpoint onto the page. There are two different API endpoints we'll need to hit in order to generate these stats. You can see an example of how this is implemented on http://www.missingmaps.org/ towards the bottom of the page [(source code)](https://github.com/MissingMaps/missingmaps.github.io).

For the four

[2018-04-08 12:08] Dragneel7 commented on #154
I get it. @smit1678 thanks for explaining, I'll get started to implement this feature.

[2018-04-09 15:29] willemarcel commented on #141
Notes from the meeting with @smit1678 and @dakotabenjamin

Profile pages:
- get the member location from lat/lng field or from country name

Our Work page:
- Polygons filled with a colour if we have project/members on it
- Interactions also with a list of Continents > Countries (only those with projects/members will be shown)

[2018-04-09 16:46] willemarcel commented on #141
When creating the style in Mapbox Studio, we need to add the country data from Natural Earth. Tutorial: https://www.mapbox.com/help/style-single-country/

That way we can colour the countries areas dynamically with Mapbox GL JS. Please share on Slack also the dataset id and the style layer name.

[2018-04-09 21:22] Dragneel7 commented on #145
Hi @brendangatens @smit1678, the "Partner with us" link onclick leads to "http://www-dev.hotosm.org/partners/partnerships@hotosm.org". Correct me if I am wrong, I believe that that it should have opened up the mail manager to mail-to :  "partnerships@hotosm.org".
This is because the href tag for the link is : `{{ page['Partner Contact']['Contact Email'] }}`
Instead it should be : `mailto:{{ page['

[2018-04-12 16:02] dakotabenjamin commented on #134
@smit1678 can we close this or are there more migrations I've missed?

[2018-04-12 16:05] smit1678 commented on #134
👍 yes, we just need to do some brief manual migration of some of the latest posts when we're ready

[2018-04-12 19:45] #134 closed, assigned to dakotabenjamin

[2018-04-16 14:53] dakotabenjamin commented on #133
See #177 for the Search addition PR

[2018-04-17 15:16] #133 closed, assigned to dakotabenjamin

[2018-04-17 15:26] dakotabenjamin opened #178 "Broken images links"
Here's how to fix broken images in projects:
1. Find the page on the active/old website with the working image
  - http://hotosm.org/microgrants_and_community_development leads to https://www.hotosm.org/projects/microgrants_and_community_development
2. Find the image name by opening the image or copying the link: `https://www.hotosm.org/sites/default/files/styles/banner/public/**2017%20microgrants

[2018-04-18 08:56] smit1678 opened #179 "Consider adding Google Calendar API"
Related to #144, we should consider leveraging the Google Calendar API for integrating the working group calendar into the website: https://developers.google.com/calendar/quickstart/js.

Instead of embedding a calendar view, which doesn't always look good or fit well, we can customize what and how to show upcoming events.

[2018-04-19 16:39] dakotabenjamin commented on #167
Can we close this?

[2018-04-19 16:39] dakotabenjamin commented on #162
This is fixed in `random-fixes`

[2018-04-19 17:55] dakotabenjamin commented on #148
Here's what I've got:
![image](https://user-images.githubusercontent.com/1847818/39009307-4163ef82-43d9-11e8-9908-6176703d3226.png)

[2018-04-22 19:19] smit1678 opened #185 "Separate frontpage stats from main.js"
The frontpage stats load on every page via main.js: https://github.com/hotosm/hotosm-website/blob/gh-pages/js/main.js#L1-L12. We should consider separating them so they only load when needed -- on the main page.

[2018-04-22 19:19] smit1678 commented on #154
Implemented https://github.com/hotosm/hotosm-website/blob/gh-pages/js/main.js#L1-L12

[2018-04-22 19:19] #154 closed, assigned to nobody

[2018-04-23 12:41] smit1678 opened #187 "Project page layouts"
From #128, here a couple potential project layouts from @brendangatens on how additional maps could be integrated into project pages:

![project 1](https://user-images.githubusercontent.com/796838/39115558-b3313cfa-46ea-11e8-8140-2f90d1b25835.png)

![project 2](https://user-images.githubusercontent.com/796838/39115629-f44510d6-46ea-11e8-8ad6-54275d29afde.png)

![project 3](https://user-images.gith

[2018-04-24 05:24] smit1678 opened #189 "Add code of conduct page"
Content here: https://www.hotosm.org/hot_code_of_conduct

Anything we want to add/change on this page?

[2018-04-24 05:25] smit1678 commented on #172
Closing this out since search is working and then opened up a new ticket to track code of conduct page, #189

[2018-04-24 05:25] #172 closed, assigned to dakotabenjamin

[2018-04-24 05:26] smit1678 commented on #159
This is done

[2018-04-24 05:26] #159 closed, assigned to nobody

[2018-04-24 05:26] #155 closed, assigned to nobody

[2018-04-24 08:11] #162 closed, assigned to nobody

[2018-04-24 08:15] #126 closed, assigned to vannicer

[2018-04-24 12:42] smit1678 opened #191 "Add countries endpoint for MissingMaps Stats to Countries pages"
Consider adding country stats from Missing Maps Stats API: https://osm-stats-production-api.azurewebsites.net/countries/BWA

This will be directed more by improved project and country layouts from #128 and #187 but near-term we can integrate some numbers on the page: http://www-dev.hotosm.org/where-we-work/botswana/

How it's implemented on MM microsites: http://www.missingmaps.org/microsites/bots

[2018-04-24 13:05] smit1678 opened #192 "Hook up subscribe link"
Entering email results in `405 Not Allowed`

![image](https://user-images.githubusercontent.com/796838/39188747-3a599a26-47d9-11e8-9f52-b397feda1d58.png)

[2018-04-24 13:13] russdeffner commented on #189
Maybe some of the spacing, but noting that the text would have to be altered by Board. But what were you thinking would possibly need/want changed?

[2018-04-24 13:14] smit1678 opened #193 "Project page: add link to project type tag"
![image](https://user-images.githubusercontent.com/796838/39189265-7e59355a-47da-11e8-9481-2a8b00de4b55.png)

[2018-04-24 13:18] smit1678 commented on #189
Correct, not proposing to change wording. Only layout, how we link, and whether we put the full text on a page or just link to a google doc.

[2018-04-25 23:17] dakotabenjamin commented on #189
Using one of the layouts that already exists:
![image](https://user-images.githubusercontent.com/1847818/39277725-43d88a64-48bd-11e8-9944-bc15b2a02109.png)

[2018-04-25 23:18] dakotabenjamin commented on #192
Aside- is the offset for that header text supposed to look that way?

[2018-04-26 18:17] brendangatens commented on #193
Rather than being an _Impact Area_ tag with a link, this is another spot where my intention was to display HOT's involvement (`HOT Program` or `Community-led`). Previously, I added the tag to the project thumbnails, but it looks like I didn't do so here. Project _Impact Areas_ are already displayed and linked in the right-hand column on these pages.

I've just added a fix for this: https://github.

[2018-04-26 18:17] #193 closed, assigned to nobody

[2018-04-29 20:23] smit1678 commented on #192
Yeah I think thats right

[2018-04-30 15:47] smit1678 opened #198 "Migrate latest blog posts"
Our new dev deployment needs to be updated with the latest blog posts.

[2018-04-30 16:02] #148 closed, assigned to dakotabenjamin

[2018-04-30 16:19] dakotabenjamin commented on #192
This is here: https://github.com/hotosm/hotosm-website/commit/1f0e595fb1190ca3d6310b8c10cb2c72cf521a4a

[2018-04-30 16:35] dakotabenjamin commented on #189
Updates are here: https://github.com/hotosm/hotosm-website/commit/12ab7219f8bb43c2c4be1796b298cb636c3f25d4

[2018-04-30 16:38] dakotabenjamin commented on #185
Changes here: https://github.com/hotosm/hotosm-website/commit/071145d6000bd7c1164327ad02c7968597670fd4

[2018-05-01 10:45] smit1678 commented on #192
Works!

[2018-05-01 10:45] #192 closed, assigned to dakotabenjamin

[2018-05-01 10:47] smit1678 commented on #189
Added at http://www-dev.hotosm.org/code-of-conduct

[2018-05-01 10:47] #189 closed, assigned to dakotabenjamin

[2018-05-01 10:47] #185 closed, assigned to dakotabenjamin

[2018-05-01 14:55] bgirardot opened #201 "Update Contact page with Press section and add content"
Journalists are generally looking for a contact, photos or videos to use. They are not usually looking to get involved.

In the comms working call, rachel suggested a "press room" link and section, which is a great idea to put up what journalists are most commonly seeking.

But short term, just putting a "Press" link somewhere on the persistent navigation to the existing content would make more se

[2018-05-01 15:02] bgirardot opened #202 "Our Work - Navigation issue"
On the main landing page of the Our work section there are several sub categories listed.

Clicking on one sub category loses that navigation so I have to use the "back button", some times 2 times if i want to look at another sub category.

[2018-05-01 15:09] bgirardot opened #203 "Our Work - What we do - essentially the same thing."
Those sound very similar, with no pop down to indicate what the difference is.

Then at the bottom of the what we do page, it is a duplicate of the our work page navigation.

I would suggest combining them and just making them one page.

[2018-05-01 15:23] bgirardot opened #204 "HOT Team - Should be HOT Staff"
This seems minor, but HOT has always been about working as a team of volunteers.

It would be good if we kept that spirit and identified staff as staff, who are also part of the team of course, but using Team to describe  the staff is less inclusive of the volunteers.

[2018-05-01 15:26] bgirardot opened #205 "Support Programs link"
returns a 404

[2018-05-01 15:28] bgirardot opened #206 "Partner with us page - partner with us link just links to same page"

[2018-05-01 15:28] smit1678 opened #207 "Broken layout on tools and data"
http://www-dev.hotosm.org/tools-and-data

[2018-05-01 15:29] bgirardot opened #208 "Volunteer link returns 404"

[2018-05-01 15:30] bgirardot opened #209 "Needs a "Learn to Map" and / or "Start mapping" link"
We get this feedback often, people end up on our website and are looking for the "start mapping" link and can not find one.

[2018-05-01 15:36] bgirardot opened #210 "Our work - map and "see where we work" button"
Countries with no projects can be clicked on takes you to a blank page
no legend
See where we work button just adds a legend. Exit map does not exit the map, just removes the legend.
No indication of countries where we have projects and members.
see where we work region and country links navigation means a lot of clicking the back button because there is no persistence.

[2018-05-01 16:07] bgirardot opened #211 "What we do page - formatting issue"
See below. The text is hard to read on the image. Not sure if there is supposed to be text on the image or it is all related to the formatting issue.

looks the same in chrome and firefox

![2018-05-01_11h06_01](https://user-images.githubusercontent.com/265831/39481057-642c96ac-4d27-11e8-8b4c-08abe7718363.png)

[2018-05-01 16:54] smit1678 commented on #211
Related to #207

[2018-05-01 18:24] Dragneel7 commented on #206
@bgirardot  If you are talking about the partner with us button on the partner with us page, then that button opens a pop-up mail box to contact. Is this what you are talking about?
Kindly correct me if I am wrong.

[2018-05-01 18:28] Dragneel7 commented on #202
Below the sub-category heading , maybe we can provide the links similar to Our work main page. This maybe a UI compromise for improving UX.

[2018-05-01 18:29] Dragneel7 commented on #179
@smit1678 This seems interesting, I would like to work on it. Can you explain a bit more, about what exactly are the usages of the calender and what customizations we would require.
Thanks

[2018-05-01 19:56] smit1678 commented on #210
thanks @bgirardot, couple responses. This map isn't fully complete but it's also a bit of an experiment so some feedback is good.

The map is meant to be interacted with. Right now legend is after you interact so it might be helpful to expose that before the interaction. Countries that have no projects are meant to be clicked as we want to promote country views of areas that don't have projects or

[2018-05-02 10:35] smit1678 commented on #179
@Dragneel7 Thanks, sounds good. I think the main thinking was on this page, the working groups page: http://www-dev.hotosm.org/working-groups/

The goal for the integration would be to show and display upcoming working group meetings. I'm not sure what others think but I think no more than the next week's meetings should be shown.

@russdeffner and I had discussed adding more information to each c

[2018-05-02 11:02] smit1678 opened #212 "Draft instructions for options to edit the site"
There are two main ways to edit the website -- blog posts, content updates, or member page updates:

1. Via your Github account and making changes through Github
2. Via a Siteleaf account and using the Siteleaf editor to make changes.

We need to create instructions for users that want to make edits through one of those two ways. Ideally this is a wiki page on the repo here that is clearly linked

[2018-05-02 11:06] smit1678 opened #213 "Draft instructions for optimizing images"
We use a lot of images across the site. We don't have any auto image optimizing integrated yet. The site adjusts the picture based on where it is in the site, but before people upload images, we should give instructions for how to upload good images.

My definition for good at the moment is that the size is below 500kb. If we can keep below this size, it will help pages load well in lower bandwidt

[2018-05-02 14:31] #207 closed, assigned to dakotabenjamin

[2018-05-02 14:31] #211 closed, assigned to dakotabenjamin

[2018-05-03 16:26] smit1678 opened #215 "Links to projects on what we do page"
Add links projects in each section http://www-dev.hotosm.org/what-we-do

[2018-05-08 09:34] smit1678 opened #221 "Add info icon/text for stats bar"
It would be helpful to have a icon with hover or text with a link that helps explain the stats bar. Frontpage stats are only showing Missing Maps hashtag, while country page stats show all edits within that country. This is a limitation of the OSM Stats API at the moment.

![fireshot capture 10 - humanitarian openstreetmap team_ - http___localhost_4000_where-we-work_uganda_](https://user-images.gi